<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Ordini</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <script src="../js/bootstrap-datepicker.js"/>
        <link rel="stylesheet" type="text/css" href="../css/datepicker.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    </h:head>
    
    <f:metadata>
        <f:event type="preRenderView" listener="#{OrdiniBean.loadOrdini()}"/>
    </f:metadata>

    <body>

        <div id="wrapper">
            
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
<!--                    <h:link class="brand" style="float: left;" outcome="/protected/index.xhtml" > 
                        <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                    <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; <i class="fa fa-credit-card"></i> Ordini </a>     
                </div>
                <ui:include src="../include/menu-admin-top-right.xhtml"/> 
                <ui:include src="../include/menu-admin.xhtml"/> 
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-credit-card"></i> Ordini
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- /.row -->
                    
                    <ui:include src="../include/messaggi.xhtml"/> 

                    <h:form id="main-form" rendered="#{OrdiniBean.ordini!=null}">     
                                               
                        <h:dataTable class="table table-bordered table-hover table-striped" columnClasses="col,col,col,col,col,col,shortcol" value="#{OrdiniBean.ordini}" var="u">
                            
                            <h:column>
                                <f:facet name="header"> Data ordine </f:facet>
                                <h:outputText value="#{u.dataOrdine}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm" locale="IT" timeZone="CET"/>
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header"> Nome </f:facet>
                                    #{u.utente.nome}
                            </h:column>
                            <h:column>
                                <f:facet name="header"> Cognome </f:facet>
                                    #{u.utente.cognome}
                            </h:column>
                            <h:column>
                                <f:facet name="header"> Email </f:facet>
                                    #{u.utente.email}
                            </h:column>
                            <h:column>
                                <f:facet name="header"> Stato </f:facet>
                                    #{u.statoOrdine}
                            </h:column>
                            <h:column>
                                <f:facet name="header"> Descrizione </f:facet>
                                    #{u.descrizione}
                            </h:column>
                            <h:column>
                                <f:facet name="header"> Totale </f:facet>
                                &euro; <h:outputText value="#{u.totale}">
                                    <f:convertNumber locale="it" minFractionDigits="2"/>
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header"> Ricevuta </f:facet>
                                <h:commandLink class="text-primary" rendered="#{u.fattura!=null}" action="#{FatturazioneBean.downloadPDF(u.fattura)}">
                                    <i class="fa fa-download fa-2x"></i>
                                </h:commandLink>
                                
                                <h:commandLink style="visibility: hidden" rendered="#{u.fattura!=null}" action="#{FatturazioneBean.rigeneraFattura(u.fattura)}">
                                     rigenera
                                </h:commandLink>
                            </h:column>
                        </h:dataTable>
                        
                    </h:form>

                    
                    <h:form rendered="#{OrdiniBean.ordini==null or empty OrdiniBean.ordini}"> 
                        <h4> Nessun ordine trovato</h4>
                        
                    </h:form>
                    
                    <!-- /.row -->
                    
                    <br/> <br/>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </body>

</html>
