<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Visualizza Esercizio</title>

<script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
                
        <script src="../js/bootstrap-select.min.js"/>    
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-select.min.css" media="screen" />
        
    </h:head>
    
    <f:metadata>
        <f:viewParam id="token" name="token" value="#{CondivisioneBean.token}" /> 
        <f:event type="preRenderView" listener="#{CondivisioneBean.caricaEsercizioCondiviso()}"/>
    </f:metadata>
   

    <body>

            <div style="width: 1100px; background: white">

                <div class="container-fluid">

                                            
                  <h:form id="main-form" rendered="#{CondivisioneBean.esercizio!=null}">     

                      <div id='content'>
                            
                          <div class="row">
                              <div class="col-xs-10" style="width: 850px">
                                  <h3 class="text-info" style="padding: 15px; border: 1px solid #31708F; border-radius: 5px; ">#{CondivisioneBean.esercizio.titolo}</h3>   
                                  <br/>
                                  Autore: <span style="font-size: 18px; text-transform: capitalize;"> #{CondivisioneBean.esercizio.utente.nome} #{CondivisioneBean.esercizio.utente.cognome}</span>
                              </div>
                              <div class="col-xs-2" style="padding-top: 10px;" align="right">
                                <img  src="../images/logo.png" height="160px" width="160px"/>
                            </div>
                          </div>
                          
                          <img id="imageid" class="img-rounded" style="width: 1100px; margin-top: 15px; margin-bottom: 15px;" src="#{BaseBean.urlSchemaEs(CondivisioneBean.esercizio)}" />                                
                                                               
                              
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <h4>Descrizione</h4>
                                            <h:outputText value="#{CondivisioneBean.esercizio.descrizione}"/>
                                        </div>
                                    </div>
                                </div>
                          
                                <h:panelGroup id="panelOccorrente" rendered="#{CondivisioneBean.esercizio.materiali!=null and !empty CondivisioneBean.esercizio.materiali}">
                                <h4>Materiale Occorrente </h4>
                                    
                                    <h:dataTable value="#{CondivisioneBean.esercizio.materiali}" var="m" class="table table-striped table-occorrente" columnClasses="colnome, colqty, colbtn">
                                        <h:column>
                                            <b>#{m.nome}:</b> &nbsp; <h:outputText value="#{m.quantita}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </h:column>
                                    </h:dataTable>
                                </h:panelGroup>
                                   
                                <div class="row">
                                    <div class="col-md-12">
                                        <b>&nbsp;Metodo </b>
                                            <h:outputText value=" - Analitico " rendered="#{CondivisioneBean.esercizio.analitico}"/>
                                            <h:outputText value=" - Globale " rendered="#{CondivisioneBean.esercizio.globale}"/>
                                            <h:outputText value=" - Finalizzato " rendered="#{CondivisioneBean.esercizio.finalizzato}"/>
                                            <h:outputText value=" - Situazionale " rendered="#{CondivisioneBean.esercizio.situazionale}"/>
                                            <h:outputText value=" - Gioco iniziale " rendered="#{CondivisioneBean.esercizio.giocoIniziale}"/>
                                            <h:outputText value=" - Gioco a tema " rendered="#{CondivisioneBean.esercizio.giocoTema}"/>
                                            <h:outputText value=" - Percorso a stazioni " rendered="#{CondivisioneBean.esercizio.percorsoStazioni}"/>
                                            <h:outputText value=" - Lavoro di gruppo " rendered="#{CondivisioneBean.esercizio.lavoroGruppo}"/>
                                            <h:outputText value=" - Atletico/Motorio " rendered="#{CondivisioneBean.esercizio.atleticoMotorio}"/>
                                            <h:outputText value=" - Recupero infortunio " rendered="#{CondivisioneBean.esercizio.recuperoInfortunio}"/>
                                        
                                    </div>
                                </div>                                 
                                
                                <h4>Obiettivi</h4>
                                <table class="table">
                                    <tr>
                                        <td><b class="text-success">Tecnica di Difesa: </b> #{CondivisioneBean.esercizio.obDifI}</td>
                                        <td><b class="text-success">Tecnica di Difesa II: </b> #{CondivisioneBean.esercizio.obDifII}</td>
                                    </tr>
                                    <tr>
                                        <td><b class="text-warning">Tecnica di Attacco </b> #{CondivisioneBean.esercizio.obAttI}</td>
                                        <td><b class="text-warning">Tecnica di Attacco II: </b> #{CondivisioneBean.esercizio.obAttII}</td>
                                    </tr>
                                    <tr>
                                        <td><b class="text-danger">Tattico I: </b> #{CondivisioneBean.esercizio.obTatI}</td>
                                        <td><b class="text-danger">Tattico II: </b> #{CondivisioneBean.esercizio.obTatII}</td>
                                    </tr>
                                    <tr>
                                        <td><b class="text-info">Cap. Coordinative: </b> #{CondivisioneBean.esercizio.obCoord}</td>
                                        <td><b class="text-info">Cap. Condizionali: </b> #{CondivisioneBean.esercizio.obCond}</td>
                                    </tr>
                                </table>
                                          
                                <hr/>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <b>&nbsp;Categorie </b>
                                            <h:outputText value=" - Tutti " rendered="#{CondivisioneBean.esercizio.tutti}"/>
                                            <h:outputText value=" - Prima squadra " rendered="#{CondivisioneBean.esercizio.primaSquadra}"/>
                                            <h:outputText value=" - Juniores " rendered="#{CondivisioneBean.esercizio.juniores}"/>
                                            <h:outputText value=" - Allievi " rendered="#{CondivisioneBean.esercizio.allievi}"/>
                                            <h:outputText value=" - Giovanissimi " rendered="#{CondivisioneBean.esercizio.tutti}"/>
                                            <h:outputText value=" - Esordienti " rendered="#{CondivisioneBean.esercizio.esordienti}"/>
                                            <h:outputText value=" - Pulcini " rendered="#{CondivisioneBean.esercizio.pulcini}"/>
                                            <h:outputText value=" - Primi calci " rendered="#{CondivisioneBean.esercizio.primiCalci}"/>
                                            <h:outputText value=" - Generale " rendered="#{CondivisioneBean.esercizio.generale}"/>
                                            <h:outputText value=" - Pre-Allenamento " rendered="#{CondivisioneBean.esercizio.preAllenamento}"/>
                                    </div>
                                </div>
                                <br/>
                                
                                <table class="table">
                                    <tr>
                                        <td> <b>N° portieri: </b> <h:outputText value="#{CondivisioneBean.esercizio.portieri}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>                                           
                                        </td>
                                        <td>
                                            <b>Durata Totale: </b> <h:outputText value="#{CondivisioneBean.esercizio.durata}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </td>
                                        <td>
                                            <b>Ripetizioni: </b> <h:outputText value="#{CondivisioneBean.esercizio.ripetizioni}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                             <b>N° stazioni/gruppi: </b> <h:outputText value="#{CondivisioneBean.esercizio.stazioniGruppi}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </td>
                                        <td>
                                            <b>Recupero: </b> <h:outputText value="#{CondivisioneBean.esercizio.recupero}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </td>
                                        <td>
                                            <b>Serie: </b> <h:outputText value="#{CondivisioneBean.esercizio.serie}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </td>
                                    </tr>
                                </table>
                                     
                                
                                
                        </div>    
                        
                        
                    </h:form>


                    <h:form rendered="#{CondivisioneBean.esercizio==null}">   

                        <br/>
                        Nessun esercizio trovato
                        
                    </h:form>
                    <!-- /.row -->

                    <br/> <br/>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->



    </body>

</html>
