<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet"/>

        <!-- Custom Fonts -->
        <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="css/style.css" rel="stylesheet"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- jQuery Version 1.11.0 -->
        <script src="js/jquery-1.11.0.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        
        <script src="js/bootstrap-datepicker.js"/>
        <link rel="stylesheet" type="text/css" href="css/datepicker.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
    </h:head>
    
    <f:metadata>
        <f:event type="preRenderView" listener="#{AcquistoPacchettiBean.initAcquistaPacchetti()}"/>  
    </f:metadata>


    <h:body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
            <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                        <img class="nav-logo-img" src="../images/logo.png"/> </h:link>
                    <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp;  Abbonati</a>     
                </div>
               
            </nav>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="container-fluid" style="padding: 0px; padding-right: 15px; padding-left: 15px;">    
                    
                   
                    
                    <br/>
                    <h3 class="text-primary"> Scegli il tuo abbonamento <h:panelGroup rendered="false">e i pacchetti di esercizi da caricare nel tuo account</h:panelGroup></h3>
                    <hr style="margin-bottom: 0px;"/>
                        <h:form id="main-form" >   
                            
                            <ui:include src="include/messaggi.xhtml"/> 
                            
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h:panelGroup id="panelAbbonamenti" rendered="#{!empty AcquistoPacchettiBean.packAbb}">
                                        <h3>Pacchetti Applicazione</h3>
                                        <table class="table table-striped">
                                            <ui:repeat value="#{AcquistoPacchettiBean.packAbb}" var="p">
                                                <tr>
                                                    <td><b>#{p.nome}</b> <br/> <small>#{p.descrizione} </small> </td>
                                                    <td style="width: 90px;" align="center">
                                                        <h:panelGroup rendered="#{p.id==14}">
                                                            <span style="text-decoration: line-through; font-size: 11px;">
                                                                99,00 &euro;
                                                            </span>
                                                            <br/>
                                                            </h:panelGroup>
                                                        &euro; <h:outputText value="#{p.prezzo}">
                                                            <f:convertNumber locale="it" minFractionDigits="2"/>
                                                        </h:outputText></td>
                                                    <td align="right"><h:commandLink rendered="#{AcquistoPacchettiBean.packAbbSel==null or !AcquistoPacchettiBean.packAbbSel.id.equals(p.id)}" class="btn btn-primary" action="#{AcquistoPacchettiBean.selezionaAbbonamento(p)}">
                                                     Seleziona
                                                    <f:ajax render=":main-form:panelAbbonamenti :main-form:panelCart"/>
                                                </h:commandLink></td>
                                                </tr>                                    
                                            </ui:repeat>
                                        </table>
                                    </h:panelGroup>
                                </div>
                                <h:panelGroup rendered="false">
                                <div class="col-md-6">
                                    <h:panelGroup id="panelpackEs" rendered="#{!empty AcquistoPacchettiBean.packEs}">
                                        <h3>Pacchetti Esercizi</h3>
                                        <table class="table table-striped">
                                        <ui:repeat value="#{AcquistoPacchettiBean.packEs}" var="p">
                                            <tr>
                                                    <td><b>#{p.nome}</b></td>
                                                    <td>
                                                            &euro; <h:outputText value="#{p.prezzo}">
                                                                <f:convertNumber locale="it" minFractionDigits="2"/>
                                                            </h:outputText>
                                                    </td>
                                                    <td><h:commandLink rendered="#{AcquistoPacchettiBean.packEsAcquistabile(p) and (AcquistoPacchettiBean.packEsSel==null or !AcquistoPacchettiBean.packEsSel.id.equals(p.id))}" class="btn btn-primary" action="#{AcquistoPacchettiBean.selezionaPackEsercizi(p)}">
                                                            Seleziona
                                                            <f:ajax render=":main-form:panelpackEs :main-form:panelCart"/>
                                                        </h:commandLink>
                                                        <h:commandLink rendered="#{AcquistoPacchettiBean.packEsSel!=null and AcquistoPacchettiBean.packEsSel.id.equals(p.id)}" class="btn btn-danger" action="#{AcquistoPacchettiBean.deselezionaPackEsercizi(p)}">
                                                            Deseleziona
                                                            <f:ajax render=":main-form:panelpackEs :main-form:panelCart"/>
                                                        </h:commandLink>
                                                    </td>
                                                    
                                            </tr>
                                        </ui:repeat>
                                        </table>
                                    </h:panelGroup>
                                </div>
                                </h:panelGroup>
                            </div> 
                            <a  href="http://mondoportiere.it#costi" class="btn btn-link" target="_blank">
                                dettagli costi e pacchetti
                            </a>

                            <br/>
                            
                            <h:panelGroup id="panelCart">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                <table class="table table-striped">
                                    <tr class="info">
                                        <td><b>RIEPILOGO</b></td>
                                        <td></td>
                                    </tr>
                                <h:panelGroup rendered="#{AcquistoPacchettiBean.packAbbSel!=null}">
                                    <tr>
                                        <td>#{AcquistoPacchettiBean.packAbbSel.nome} </td>
                                        <td align="right">
                                            &euro; <h:outputText value="#{AcquistoPacchettiBean.packAbbSel.prezzo}">
                                                <f:convertNumber locale="it" minFractionDigits="2"/>
                                            </h:outputText></td>
                                    </tr>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{!empty AcquistoPacchettiBean.packEsSel}">
                                    <ui:repeat value="#{AcquistoPacchettiBean.packEsSel}" var="p">
                                        <tr>
                                            <td>#{p.nome} </td>
                                            <td align="right">&euro; <h:outputText value="#{p.prezzo}">
                                                            <f:convertNumber locale="it" minFractionDigits="2"/>
                                                        </h:outputText></td>
                                        </tr>
                                    </ui:repeat>
                                </h:panelGroup>  
                                    <tr>
                                        <td><b>TOTALE</b> </td>
                                        <td align="right"><b>
                                            &euro; <h:outputText value="#{AcquistoPacchettiBean.totale}">
                                                <f:convertNumber locale="it" minFractionDigits="2"/>
                                            </h:outputText></b></td>
                                    </tr>
                                </table>
                                    </div>
                                </div>
                            </h:panelGroup>

                            <br/>
                            
                            <h:panelGroup rendered="#{LoginBean.utente==null}">
                            
                                <h3 class="text-primary" >Inserisci i dati per creare il tuo account e poi procedi al pagamento </h3>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Nome*</label>
                                            <h:inputText class="form-control" value="#{AcquistoPacchettiBean.utente.nome}" required="true" requiredMessage="Nome: campo obbligatorio">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Cognome*</label>
                                            <h:inputText class="form-control" value="#{AcquistoPacchettiBean.utente.cognome}" required="true" requiredMessage="Cognome: campo obbligatorio">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>                        
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email*</label>
                                            <h:inputText id="email" class="form-control" value="#{AcquistoPacchettiBean.utente.email}" validator="#{UtenteBean.checkMail}" required="true" requiredMessage="Email: campo obbligatorio">
                                                <f:ajax event="change" execute="main-form:email" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Ragione Sociale</label>
                                            <h:inputText class="form-control" value="#{AcquistoPacchettiBean.utente.ragioneSociale}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div> 
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Partita IVA</label>
                                            <h:inputText class="form-control" value="#{AcquistoPacchettiBean.utente.piva}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div> 
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Codice Fiscale*</label>
                                            <h:inputText class="form-control" value="#{AcquistoPacchettiBean.utente.cf}" validator="#{UtenteBean.validateCF}" required="true" requiredMessage="Codice Fiscale: campo obbligatorio">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>Luogo Nascita*</label>
                                        <h:inputText class="form-control" value="#{AcquistoPacchettiBean.utente.luogoNascita}" required="true" requiredMessage="Luogo Nascita: campo obbligatorio">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Data Nascita*</label>
                                            <h:inputText class="form-control dateselect" value="#{AcquistoPacchettiBean.utente.dataNascita}" required="true" requiredMessage="Data Nascita: campo obbligatorio">
                                                <f:convertDateTime pattern="MM/dd/yyyy" locale="IT" timeZone="CET"/>
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>Luogo Residenza*</label>
                                        <h:inputText class="form-control" value="#{AcquistoPacchettiBean.utente.luogoResidenza}" required="true" requiredMessage="Luogo Residenza: campo obbligatorio">
                                            <f:ajax event="change" execute="@this" />
                                        </h:inputText>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>CAP</label>
                                        <h:inputText class="form-control" value="#{AcquistoPacchettiBean.utente.cap}" >
                                            <f:ajax event="change" execute="@this" />
                                        </h:inputText>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Provincia*</label>
                                        <h:selectOneMenu class="form-control selectpicker" value="#{AcquistoPacchettiBean.utente.pv}" required="true" requiredMessage="Provincia: campo obbligatorio">
                                            <f:selectItem itemLabel="Provincia" itemDisabled="true" />
                                            <ui:include src="/include/province.xhtml"/> 
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 form-group">
                                        <label>Indirizzo*</label>
                                        <h:inputText class="form-control" value="#{AcquistoPacchettiBean.utente.indirizzo}" required="true" requiredMessage="Indirizzo: campo obbligatorio">
                                            <f:ajax event="change" execute="@this" />
                                        </h:inputText>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label>Numero civico</label>
                                        <h:inputText class="form-control" value="#{AcquistoPacchettiBean.utente.numCivico}" >
                                            <f:ajax event="change" execute="@this" />
                                        </h:inputText>
                                    </div>
                                </div>
                                <div class="row">         
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="main-form:password" class="control-label">Password*</label>                            
                                            <h:inputSecret class="form-control"  maxlength="50" id="password" value="#{AcquistoPacchettiBean.userPassword}">
                                                <f:ajax event="change" execute="main-form:password"/>
                                            </h:inputSecret>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="main-form:rip_password" class="control-label">Ripeti password*</label>                            
                                            <h:inputSecret class="form-control" maxlength="50" validator="#{AcquistoPacchettiBean.checkPassword}" id="rip_password">
                                                <f:ajax event="change" execute="main-form:rip_password"/>
                                            </h:inputSecret>
                                        </div>
                                    </div>
                                </div>

                                
                        
                        <script type="text/javascript">
                            jQuery(document).ready(function () {
                                jQuery('.dateselect').datepicker({
                                    format: "MM/dd/yyyy",
                                    language: "it",
                                    changeYear: true,                                    
                                    changeMonth: true,                                      
                                    dayNamesMin: ["Do", "Lu", "Ma", "Me", "Gi", "Ve", "Sa"],                                     
                                    monthNamesShort: ["Gennaio","Febbraio","Marzo","Aprile","Maggio","Giugno","Luglio","Agosto","Settembre","Ottobre","Novembre","Dicembre"],                                   
                                    firstDay: 1,
                                    showMonthAfterYear: true,
                                    yearRange: "-110:+0"
                                });                              
                            });
                        </script>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Società</label>
                                            <h:inputText class="form-control" value="#{AcquistoPacchettiBean.utente.societa.nome}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                                

                                
                                
                                
                                <h:selectBooleanCheckbox value="#{AcquistoPacchettiBean.trattamentoDati}" /> autorizzo il trattamento dei dati personali ai sensi del D.L. 196/03 
                                <br/><br/>
                            </h:panelGroup>
                            
                            <h:selectBooleanCheckbox value="#{AcquistoPacchettiBean.terminiCondizioni}" /> ho letto ed accetto <a href="http://mondoportiere.it/termini-condizioni.html" target="_blank"> i termini e le condizioni </a>
                                <br/><br/>
                            
                            <div align="center">
                                <h:commandLink class="btn btn-primary btn-lg" action="#{AcquistoPacchettiBean.indirizzaAPagamento()}" value="Paga con Paypal o Carta di Credito"/> &nbsp;
                            </div>
                        <br/><br/><br/>
                    </h:form>
                        
                                              
                </div>
                  
            </div>
                
        </div>
    <div class="row footer">
 <div class="col-md-10 col-md-offset-1">
 <img class="nav-logo-img" src="../images/logo.png"/>
 
Copyright 2015 
Softkeeper
</div>
</div>    

    </h:body>
    
    

</html>
