<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Pagamento cancellato</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet"/>

        <!-- Custom Fonts -->
        <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="css/style.css" rel="stylesheet"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- jQuery Version 1.11.0 -->
        <script src="js/jquery-1.11.0.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        
    </h:head>
    
    <f:metadata>
        <f:viewParam name="token" value="#{AcquistoPacchettiBean.token}"/>
        <f:viewParam name="PayerID" value="#{AcquistoPacchettiBean.payerID}"/>
        <f:event type="preRenderView" listener="#{AcquistoPacchettiBean.confermaPagamento()}"/>
    </f:metadata>

    <h:body>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="container-fluid" style="padding: 0px; padding-right: 15px; padding-left: 15px;">    

                    <div align="center">
                        <h:graphicImage value="images/logo.png" height="150px;"/>
                    

                    <br/>

                    <h3> Conferma Pagamento </h3>
                    <hr/>
                    <h:outputText value="#{AcquistoPacchettiBean.message}" escape="false" />

                    <br/><br/>
                    <h:link value="Torna alla home" outcome="index.xhtml" class="btn btn-primary"/>
                    </div>
                </div>
                  
            </div>
                
        </div>
        

    </h:body>
    
    

</html>
