<html xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:fo="http://www.w3.org/1999/XSL/Format">
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>commandLink
          (OpenFaces 3.0.0 Tag Library Documentation)
        </title>
<meta name="keywords" content="$title">
<link rel="stylesheet" type="text/css" href="../stylesheet.css" title="Style">
</head>
<script>
            function asd()
            {
            parent.document.title="commandLink (OpenFaces 3.0.0 Tag Library Documentation)";
            }
          </script>
<body bgcolor="white" onload="asd();">
<a name="navbar_top"></a>
<table border="0" width="100%" cellpadding="1" cellspacing="0">
<tr>
<td COLSPAN="3" BGCOLOR="#EEEEFF" CLASS="NavBarCell1"><a NAME="navbar_top_firstrow"></a>
<table BORDER="0" CELLPADDING="0" CELLSPACING="3">
<tr ALIGN="center" VALIGN="top">
<td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a href="../overview-summary.html"><font CLASS="NavBarFont1"><b>Overview</b></font></a>&nbsp;</td><td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a href="tld-summary.html"><font CLASS="NavBarFont1"><b>Library</b></font></a>&nbsp;</td><td BGCOLOR="#FFFFFF" CLASS="NavBarCell1Rev"> &nbsp;<font CLASS="NavBarFont1Rev">&nbsp;Tag&nbsp;</font>&nbsp;</td><td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a HREF="../help-doc.html"><font CLASS="NavBarFont1"><b>Help</b></font></a>&nbsp;</td>
</tr>
</table>
</td><td ALIGN="right" VALIGN="top" ROWSPAN="3"><em></em></td>
</tr>
<tr>
<td BGCOLOR="white" CLASS="NavBarCell2"><font SIZE="-2"></font></td><td BGCOLOR="white" CLASS="NavBarCell2"><font SIZE="-2">
                &nbsp;<a HREF="../index.html" TARGET="_top"><b>FRAMES</b></a>&nbsp;
                &nbsp;<a href="commandLink.html" target="_top"><b>NO FRAMES</b></a>&nbsp;
                <script></script>
<noscript>
<a HREF="../alltags-noframe.html" TARGET=""><b>All Tags</b></a>
</noscript>
</font></td>
</tr>
</table>
<hr>
<h2>
<font size="-1">o</font>
<br>
            Tag commandLink</h2>
<hr>This is an analog of the standard <h:commandLink> component extended with Ajax features making it possible to use Ajax request instead of form submission to execute an action and reload components. By default it behaves as its standard analog though Ajax functionality will be turned on if you specify its "render" attribute, which is similar to that of <o:ajax> component and specifies the list of components that should be reloaded when the link is clicked. An additional optional attribute is "execute", which just like in the <o:ajax> component allows specifying a list of components whose data should be submitted to the server for processing during the Ajax request.<br>
<p></p>
<hr>
<table border="1" cellpadding="3" cellspacing="0" width="100%">
<tr bgcolor="#CCCCFF" class="TableHeadingColor">
<td colspan="2"><font size="+2"><b>Tag Information</b></font></td>
</tr>
<tr>
<td>Tag Class</td><td>org.openfaces.taglib.jsp.command.CommandLinkJspTag</td>
</tr>
<tr>
<td>TagExtraInfo Class</td><td><i>None</i></td>
</tr>
<tr>
<td>Body Content</td><td>JSP</td>
</tr>
<tr>
<td>Display Name</td><td><i>None</i></td>
</tr>
</table>
<br>
<p></p>
<table border="1" cellpadding="3" cellspacing="0" width="100%">
<tr bgcolor="#CCCCFF" class="TableHeadingColor">
<td colspan="6"><font size="+2"><b>Attributes</b></font></td>
</tr>
<tr>
<td><b>Name</b></td><td><b>Required</b></td><td><b>Binding Type</b></td><td><b>EL</b></td><td><b>Default</b></td><td><b>Description</b></td>
</tr>
<tr valign="top">
<td><A name="javaee:name">accesskey</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>An access key for the component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">action</A></td><td>false</td><td><code>javax.el.MethodExpression</code>
<br>(<i>signature must match </i><code>java.lang.Object action()</code>)
                    </td><td>true</td><td>null</td><td>Similar to the "action" attribute of the HTMLCommandLink component. It can be defined as a MethodBinding that should point to an action method that is called when the user clicks this link.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">actionListener</A></td><td>false</td><td><code>javax.el.MethodExpression</code>
<br>(<i>signature must match </i><code>void actionListener(javax.faces.event.ActionEvent)</code>)
                    </td><td>true</td><td>null</td><td>Similar to the "actionListener" attribute of the HTMLCommandLink component. A MethodBinding that should point to an action listener that is called when the user invokes this action.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">binding</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>org.openfaces.component.command.CommandLink</code>)
                    </td><td>only</td><td>null</td><td>A value-binding expression that associates the CommandLink with a backing bean property.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">charset</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>The character encoding of the resource designated by this hyperlink.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">coords</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>The position and shape of the hot spot on the screen (for use in client-side image maps).</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">dir</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>The base direction of directionally neutral text. Valid values are "LTR" (left-to-right) and "RTL" (right-to-left).</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">disabled</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>boolean</code>)
                    </td><td>true</td><td>false</td><td>A flag that enables or disables the component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">execute</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.util.List</code>)
                    </td><td>true</td><td>none</td><td>Id's of components whose data should be submitted and processed on the server in addition to the reloaded components. The difference with render is that components listed in execute will just process the submitted data, but won't be rerendered. This can often be needed when the reloaded data depends on some other component on a page. Evaluates to Iterable. If a literal is specified can be a single id or a comma-separated list if id's.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">executeRenderedComponents</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>boolean</code>)
                    </td><td>true</td><td>true</td><td>Specifies whether the components listed in the "render" attribute undergo the "execute" lifecycle (Restore View, Apply Request Values, Process Validations and Update Model Values) phases as if these components are implicitly specified in the "execute" attribute as well.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">hreflang</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>The language code of the resource designated by this hyperlink.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">id</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>false</td><td>null</td><td>The component identifier.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">immediate</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>boolean</code>)
                    </td><td>true</td><td>false</td><td>A flag that indicates whether or not actionListener should be executed immediately (during the Apply Request Values phase of the request processing lifecycle instead of Process Validations phase).</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">lang</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>Language code for this component. Rendered as the HTML lang attribute.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onajaxend</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>Invoked when the Ajax request initiated with this component finishes.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onajaxstart</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>Invoked when the Ajax request initiated with this component starts.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onblur</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the component loses focus.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onclick</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed on the client when the user clicks the left mouse button over the component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">oncontextmenu</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user presses right mouse button over the component (or performs the other context menu invocation action depending on the platform).</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">ondblclick</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed on the client when the user double-clicks the left mouse button over the component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onerror</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>Invoked when an error occurs during the Ajax request initiated with this component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onfocus</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the component receives focus.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onkeydown</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user presses a key over the component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onkeypress</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed on the client when the user presses and releases a key over the component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onkeyup</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user releases a key over the component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmousedown</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user clicks over the component with either mouse button.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmousedown</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user clicks over the component with either mouse button.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmousemove</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user moves the mouse pointer over the component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmouseout</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user moves the mouse pointer away from the component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmouseover</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user moves the mouse pointer onto the component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmouseup</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user releases the mouse button over the component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">rel</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>The relationship from the current document to the anchor specified by this hyperlink. The value of this attribute is a space-separated list of link types.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">render</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.util.List</code>)
                    </td><td>true</td><td>none</td><td>Id's of components, which will be rerendered after successful Ajax request. Evaluates to Iterable. If a literal is specified can be a single id or a comma-separated list if id's.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">rendered</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>boolean</code>)
                    </td><td>true</td><td>false</td><td>A flag that indicates whether or not the component is visible.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">rev</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A reverse link from the anchor specified by this hyperlink to the current document. The value of this attribute is a space-separated list of link types.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">shape</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>The shape of the hot spot on the screen (for use in client-side image maps). Valid values are: default (entire region); rect (rectangular region); circle (circular region); and poly (polygonal region).</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">style</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A style for the CommandLink component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">styleClass</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A CSS class name for the InputText component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">tabindex</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>Position of the component in the focus transition chain for the current document.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">target</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>Name of a frame where the resource retrieved via this hyperlink is to be displayed.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">title</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>An advisory title for the text field of this filter component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">type</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>The content type of the resource designated by this hyperlink.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">value</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>The text displayed in the link.</td>
</tr>
</table>
<br>
<p></p>
<table border="1" cellpadding="3" cellspacing="0" width="100%">
<tr bgcolor="#CCCCFF" class="TableHeadingColor">
<td colspan="5"><font size="+2"><b>Variables</b></font></td>
</tr>
<td colspan="2"><i>No Variables Defined.</i></td>
</table>
<br>
<p></p>
<a name="navbar_bottom"></a>
<table border="0" width="100%" cellpadding="1" cellspacing="0">
<tr>
<td COLSPAN="3" BGCOLOR="#EEEEFF" CLASS="NavBarCell1"><a NAME="navbar_bottom_firstrow"></a>
<table BORDER="0" CELLPADDING="0" CELLSPACING="3">
<tr ALIGN="center" VALIGN="top">
<td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a href="../overview-summary.html"><font CLASS="NavBarFont1"><b>Overview</b></font></a>&nbsp;</td><td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a href="tld-summary.html"><font CLASS="NavBarFont1"><b>Library</b></font></a>&nbsp;</td><td BGCOLOR="#FFFFFF" CLASS="NavBarCell1Rev"> &nbsp;<font CLASS="NavBarFont1Rev">&nbsp;Tag&nbsp;</font>&nbsp;</td><td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a HREF="../help-doc.html"><font CLASS="NavBarFont1"><b>Help</b></font></a>&nbsp;</td>
</tr>
</table>
</td><td ALIGN="right" VALIGN="top" ROWSPAN="3"><em></em></td>
</tr>
<tr>
<td BGCOLOR="white" CLASS="NavBarCell2"><font SIZE="-2"></font></td><td BGCOLOR="white" CLASS="NavBarCell2"><font SIZE="-2">
                &nbsp;<a HREF="../index.html" TARGET="_top"><b>FRAMES</b></a>&nbsp;
                &nbsp;<a href="commandLink.html" target="_top"><b>NO FRAMES</b></a>&nbsp;
                <script></script>
<noscript>
<a HREF="../alltags-noframe.html" TARGET=""><b>All Tags</b></a>
</noscript>
</font></td>
</tr>
</table>
<hr>
<small><i>
            Output Generated by
            <a href="http://taglibrarydoc.dev.java.net/" target="_blank">Tag Library Documentation Generator</a>.
            Java, JSP, and JavaServer Pages are trademarks or
            registered trademarks of Sun Microsystems, Inc. in the US and other
            countries.  Copyright 2002-4 Sun Microsystems, Inc.
            4150 Network Circle
            Santa Clara, CA 95054, U.S.A.
            All Rights Reserved.
            </i></small>
</body>
</html>
