<html xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:fo="http://www.w3.org/1999/XSL/Format">
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>graphicText
          (OpenFaces 3.0.0 Tag Library Documentation)
        </title>
<meta name="keywords" content="$title">
<link rel="stylesheet" type="text/css" href="../stylesheet.css" title="Style">
</head>
<script>
            function asd()
            {
            parent.document.title="graphicText (OpenFaces 3.0.0 Tag Library Documentation)";
            }
          </script>
<body bgcolor="white" onload="asd();">
<a name="navbar_top"></a>
<table border="0" width="100%" cellpadding="1" cellspacing="0">
<tr>
<td COLSPAN="3" BGCOLOR="#EEEEFF" CLASS="NavBarCell1"><a NAME="navbar_top_firstrow"></a>
<table BORDER="0" CELLPADDING="0" CELLSPACING="3">
<tr ALIGN="center" VALIGN="top">
<td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a href="../overview-summary.html"><font CLASS="NavBarFont1"><b>Overview</b></font></a>&nbsp;</td><td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a href="tld-summary.html"><font CLASS="NavBarFont1"><b>Library</b></font></a>&nbsp;</td><td BGCOLOR="#FFFFFF" CLASS="NavBarCell1Rev"> &nbsp;<font CLASS="NavBarFont1Rev">&nbsp;Tag&nbsp;</font>&nbsp;</td><td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a HREF="../help-doc.html"><font CLASS="NavBarFont1"><b>Help</b></font></a>&nbsp;</td>
</tr>
</table>
</td><td ALIGN="right" VALIGN="top" ROWSPAN="3"><em></em></td>
</tr>
<tr>
<td BGCOLOR="white" CLASS="NavBarCell2"><font SIZE="-2"></font></td><td BGCOLOR="white" CLASS="NavBarCell2"><font SIZE="-2">
                &nbsp;<a HREF="../index.html" TARGET="_top"><b>FRAMES</b></a>&nbsp;
                &nbsp;<a href="graphicText.html" target="_top"><b>NO FRAMES</b></a>&nbsp;
                <script></script>
<noscript>
<a HREF="../alltags-noframe.html" TARGET=""><b>All Tags</b></a>
</noscript>
</font></td>
</tr>
</table>
<hr>
<h2>
<font size="-1">o</font>
<br>
            Tag graphicText</h2>
<hr>GraphicText is a component that displays styled rotated text. It has API similar to the standard <h:outputText> component, though unlike the <h:outputText> component, the GraphicText component displays a text with an image generated on the server. This component can be useful for displaying vertical headers in a table having a lot of thin columns, vertical TabSet components, etc.<br>
<p></p>
<hr>
<table border="1" cellpadding="3" cellspacing="0" width="100%">
<tr bgcolor="#CCCCFF" class="TableHeadingColor">
<td colspan="2"><font size="+2"><b>Tag Information</b></font></td>
</tr>
<tr>
<td>Tag Class</td><td>org.openfaces.taglib.jsp.output.GraphicTextJspTag</td>
</tr>
<tr>
<td>TagExtraInfo Class</td><td><i>None</i></td>
</tr>
<tr>
<td>Body Content</td><td>JSP</td>
</tr>
<tr>
<td>Display Name</td><td><i>None</i></td>
</tr>
</table>
<br>
<p></p>
<table border="1" cellpadding="3" cellspacing="0" width="100%">
<tr bgcolor="#CCCCFF" class="TableHeadingColor">
<td colspan="6"><font size="+2"><b>Attributes</b></font></td>
</tr>
<tr>
<td><b>Name</b></td><td><b>Required</b></td><td><b>Binding Type</b></td><td><b>EL</b></td><td><b>Default</b></td><td><b>Description</b></td>
</tr>
<tr valign="top">
<td><A name="javaee:name">binding</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>org.openfaces.component.output.GraphicText</code>)
                    </td><td>only</td><td>null</td><td>A value-binding expression that associates the GraphicText with a backing bean property.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">converter</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A converter for the GraphicText's value. Should be specified as a value-binding expression or converter identifier.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">direction</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.Object</code>)
                    </td><td>true</td><td>"leftToRight" - Degrees equivalent: 0.</td><td>Rotation angle for the GraphicText in degrees. Also has 4 predefined constants.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">id</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>false</td><td>null</td><td>The component identifier.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">lang</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>Language code for this component. Rendered as the HTML lang attribute.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onclick</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed on the client when the user clicks the left mouse button over the GraphicText.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">oncontextmenu</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user presses right mouse button over the component (or performs the other context menu invocation action depending on the platform).</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">ondblclick</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed on the client when the user double-clicks the left mouse button over the GraphicText.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmousedown</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user clicks over the GraphicText with either mouse button.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmousemove</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user moves the mouse pointer over the GraphicText.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmouseout</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user moves the mouse pointer away from the GraphicText.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmouseover</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user moves the mouse pointer onto the GraphicText.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmouseup</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user releases the mouse button over the GraphicText.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">rendered</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>boolean</code>)
                    </td><td>true</td><td>false</td><td>Flag indicating whether or not this component should be rendered (during Render Response Phase), or processed on any subsequent form submit. The default value for this property is true.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">rolloverClass</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A CSS class name for the GraphicText component in the rollover state.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">rolloverStyle</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A style for the GraphicText component in the rollover state.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">style</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A style for the entire GraphicText component. Note that this attribute is applied to the component's image itself (the <img> tag), so you shouldn't specify font and color properties in this attribute. Use textStyle attribute for specifying font and color properties instead.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">styleClass</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A CSS class name for the entire GraphicText component. Note that this attribute is applied to the component's image itself (the <img> tag), so you shouldn't specify font and color properties in this attribute. Use textStyle attribute for specifying font and color properties instead.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">textStyle</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A style for a text displayed in the GraphicText component. It should be used for specifying font and color properties. See also the style and styleClass attributes.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">title</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>Text for the tooltip of the Message.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">value</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.Object</code>)
                    </td><td>true</td><td>null</td><td>The GraphicText component value.</td>
</tr>
</table>
<br>
<p></p>
<table border="1" cellpadding="3" cellspacing="0" width="100%">
<tr bgcolor="#CCCCFF" class="TableHeadingColor">
<td colspan="5"><font size="+2"><b>Variables</b></font></td>
</tr>
<td colspan="2"><i>No Variables Defined.</i></td>
</table>
<br>
<p></p>
<a name="navbar_bottom"></a>
<table border="0" width="100%" cellpadding="1" cellspacing="0">
<tr>
<td COLSPAN="3" BGCOLOR="#EEEEFF" CLASS="NavBarCell1"><a NAME="navbar_bottom_firstrow"></a>
<table BORDER="0" CELLPADDING="0" CELLSPACING="3">
<tr ALIGN="center" VALIGN="top">
<td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a href="../overview-summary.html"><font CLASS="NavBarFont1"><b>Overview</b></font></a>&nbsp;</td><td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a href="tld-summary.html"><font CLASS="NavBarFont1"><b>Library</b></font></a>&nbsp;</td><td BGCOLOR="#FFFFFF" CLASS="NavBarCell1Rev"> &nbsp;<font CLASS="NavBarFont1Rev">&nbsp;Tag&nbsp;</font>&nbsp;</td><td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a HREF="../help-doc.html"><font CLASS="NavBarFont1"><b>Help</b></font></a>&nbsp;</td>
</tr>
</table>
</td><td ALIGN="right" VALIGN="top" ROWSPAN="3"><em></em></td>
</tr>
<tr>
<td BGCOLOR="white" CLASS="NavBarCell2"><font SIZE="-2"></font></td><td BGCOLOR="white" CLASS="NavBarCell2"><font SIZE="-2">
                &nbsp;<a HREF="../index.html" TARGET="_top"><b>FRAMES</b></a>&nbsp;
                &nbsp;<a href="graphicText.html" target="_top"><b>NO FRAMES</b></a>&nbsp;
                <script></script>
<noscript>
<a HREF="../alltags-noframe.html" TARGET=""><b>All Tags</b></a>
</noscript>
</font></td>
</tr>
</table>
<hr>
<small><i>
            Output Generated by
            <a href="http://taglibrarydoc.dev.java.net/" target="_blank">Tag Library Documentation Generator</a>.
            Java, JSP, and JavaServer Pages are trademarks or
            registered trademarks of Sun Microsystems, Inc. in the US and other
            countries.  Copyright 2002-4 Sun Microsystems, Inc.
            4150 Network Circle
            Santa Clara, CA 95054, U.S.A.
            All Rights Reserved.
            </i></small>
</body>
</html>
