<html xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:fo="http://www.w3.org/1999/XSL/Format">
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>selectBooleanCheckbox
          (OpenFaces 3.0.0 Tag Library Documentation)
        </title>
<meta name="keywords" content="$title">
<link rel="stylesheet" type="text/css" href="../stylesheet.css" title="Style">
</head>
<script>
            function asd()
            {
            parent.document.title="selectBooleanCheckbox (OpenFaces 3.0.0 Tag Library Documentation)";
            }
          </script>
<body bgcolor="white" onload="asd();">
<a name="navbar_top"></a>
<table border="0" width="100%" cellpadding="1" cellspacing="0">
<tr>
<td COLSPAN="3" BGCOLOR="#EEEEFF" CLASS="NavBarCell1"><a NAME="navbar_top_firstrow"></a>
<table BORDER="0" CELLPADDING="0" CELLSPACING="3">
<tr ALIGN="center" VALIGN="top">
<td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a href="../overview-summary.html"><font CLASS="NavBarFont1"><b>Overview</b></font></a>&nbsp;</td><td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a href="tld-summary.html"><font CLASS="NavBarFont1"><b>Library</b></font></a>&nbsp;</td><td BGCOLOR="#FFFFFF" CLASS="NavBarCell1Rev"> &nbsp;<font CLASS="NavBarFont1Rev">&nbsp;Tag&nbsp;</font>&nbsp;</td><td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a HREF="../help-doc.html"><font CLASS="NavBarFont1"><b>Help</b></font></a>&nbsp;</td>
</tr>
</table>
</td><td ALIGN="right" VALIGN="top" ROWSPAN="3"><em></em></td>
</tr>
<tr>
<td BGCOLOR="white" CLASS="NavBarCell2"><font SIZE="-2"></font></td><td BGCOLOR="white" CLASS="NavBarCell2"><font SIZE="-2">
                &nbsp;<a HREF="../index.html" TARGET="_top"><b>FRAMES</b></a>&nbsp;
                &nbsp;<a href="selectBooleanCheckbox.html" target="_top"><b>NO FRAMES</b></a>&nbsp;
                <script></script>
<noscript>
<a HREF="../alltags-noframe.html" TARGET=""><b>All Tags</b></a>
</noscript>
</font></td>
</tr>
</table>
<hr>
<h2>
<font size="-1">o</font>
<br>
            Tag selectBooleanCheckbox</h2>
<hr>The SelectBooleanCheckbox component is an extended version of the standard <h:selectBooleanCheckbox> component that adds such possibilities as tri-state support, customizing checkbox images and state-dependent styles.<br>
<p></p>
<hr>
<table border="1" cellpadding="3" cellspacing="0" width="100%">
<tr bgcolor="#CCCCFF" class="TableHeadingColor">
<td colspan="2"><font size="+2"><b>Tag Information</b></font></td>
</tr>
<tr>
<td>Tag Class</td><td>org.openfaces.taglib.jsp.select.SelectBooleanCheckboxJspTag</td>
</tr>
<tr>
<td>TagExtraInfo Class</td><td><i>None</i></td>
</tr>
<tr>
<td>Body Content</td><td>JSP</td>
</tr>
<tr>
<td>Display Name</td><td><i>None</i></td>
</tr>
</table>
<br>
<p></p>
<table border="1" cellpadding="3" cellspacing="0" width="100%">
<tr bgcolor="#CCCCFF" class="TableHeadingColor">
<td colspan="6"><font size="+2"><b>Attributes</b></font></td>
</tr>
<tr>
<td><b>Name</b></td><td><b>Required</b></td><td><b>Binding Type</b></td><td><b>EL</b></td><td><b>Default</b></td><td><b>Description</b></td>
</tr>
<tr valign="top">
<td><A name="javaee:name">accesskey</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>An access key for the SelectBooleanCheckbox component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">binding</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>org.openfaces.component.select.SelectBooleanCheckbox</code>)
                    </td><td>only</td><td>null</td><td>A value-binding expression that associates the SelectBooleanCheckbox with a backing bean property.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">dir</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>The base direction of directionally neutral text. Valid values are "LTR" (left-to-right) and "RTL" (right-to-left).</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">disabled</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>boolean</code>)
                    </td><td>true</td><td>false</td><td>A flag that enables or disables the component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">disabledClass</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A CSS class name for the SelectBooleanCheckbox component in the disabled state.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">disabledSelectedImageUrl</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>URL to the image file that is used to render the image that corresponds to the selected and disabled state of the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">disabledStyle</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A style for the SelectBooleanCheckbox component in the disabled state.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">disabledUndefinedImageUrl</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>URL to the image file that is used to render the image that corresponds to the undefined and disabled state of the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">disabledUnselectedImageUrl</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>URL to the image file that is used to render the image that corresponds to the unselected and disabled state of the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">focusedClass</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A CSS class name of the SelectBooleanCheckbox component when it is focused.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">focusedStyle</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A style of the SelectBooleanCheckbox component when it is focused.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">id</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>false</td><td>null</td><td>The component identifier.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">label</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A localized user presentable name for this component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">lang</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>Language code for this component. Rendered as the HTML lang attribute.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onblur</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the SelectBooleanCheckbox loses focus.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onchange</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed on the client when the value of the SelectBooleanCheckbox has changed.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onclick</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed on the client when the user clicks the left mouse button over the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">oncontextmenu</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user presses right mouse button over the component (or performs the other context menu invocation action depending on the platform).</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">ondblclick</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed on the client when the user double-clicks the left mouse button over the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onfocus</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the SelectBooleanCheckbox receives focus.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onkeydown</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user presses a key over the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onkeypress</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed on the client when the user presses and releases a key over the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onkeyup</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user releases a key over the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmousedown</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user clicks over the SelectBooleanCheckbox with either mouse button.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmousemove</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user moves the mouse pointer over the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmouseout</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user moves the mouse pointer away from the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmouseover</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user moves the mouse pointer onto the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onmouseup</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code that should be executed when the user releases the mouse button over the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">onselect</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>JavaScript code executed when the SelectOneRadio component is selected by the user.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">pressedSelectedImageUrl</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>URL to the image file that is used to render the image that corresponds to the selected and pressed state of the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">pressedUndefinedImageUrl</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>URL to the image file that is used to render the image that corresponds to the undefined and pressed state of the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">pressedUnselectedImageUrl</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>URL to the image file that is used to render the image that corresponds to the unselected and pressed state of the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">rendered</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>boolean</code>)
                    </td><td>true</td><td>false</td><td>A flag that indicates whether or not the component is visible.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">required</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>boolean</code>)
                    </td><td>true</td><td>false</td><td>A flag that indicates whether or not the SelectBooleanCheckbox requires a value.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">rolloverClass</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A CSS class name for the SelectBooleanCheckbox component in the rollover state.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">rolloverSelectedImageUrl</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>URL to the image file that is used to render the image that corresponds to the selected and rolled over state of the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">rolloverStyle</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A style for the SelectBooleanCheckbox component in the rollover state.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">rolloverUndefinedImageUrl</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>URL to the image file that is used to render the image that corresponds to the undefined and rolled over state of the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">rolloverUnselectedImageUrl</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>URL to the image file that is used to render the image that corresponds to the unselected and rolled over state of the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">selectedClass</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A CSS class name for the SelectBooleanCheckbox component in the selected state.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">selectedImageUrl</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>URL to the image file that is used to render the image that corresponds to the selected state of the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">selectedStyle</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A style for the SelectBooleanCheckbox component in the selected state.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">stateList</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>boolean</code>)
                    </td><td>true</td><td>null</td><td>A sequence of states the user is allowed to cycle through. Can contain state constants : 'selected', 'unselected' and 'undefined'. Evaluates to Iterable of String. If a literal is specified the states must be space delimited.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">style</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A style for the SelectBooleanCheckbox component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">styleClass</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A CSS class name for the SelectBooleanCheckbox component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">tabindex</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>Position of the component in the focus transition chain for the current document.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">title</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>An advisory title for the SelectBooleanCheckbox component.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">triStateAllowed</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>boolean</code>)
                    </td><td>true</td><td>null</td><td>A flag that indicates whether or not the third undefined state is available.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">undefinedClass</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A CSS class name for the SelectBooleanCheckbox component in the undefined state.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">undefinedImageUrl</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>URL to the image file that is used to render the image that corresponds to the undefined state of the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">undefinedStyle</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A style for the SelectBooleanCheckbox component in the undefined state.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">unselectedClass</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A CSS class name for the SelectBooleanCheckbox component in the unselected state.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">unselectedImageUrl</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>URL to the image file that is used to render the image that corresponds to the unselected state of the SelectBooleanCheckbox.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">unselectedStyle</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.String</code>)
                    </td><td>true</td><td>null</td><td>A style for the SelectBooleanCheckbox component in the unselected state.</td>
</tr>
<tr valign="top">
<td><A name="javaee:name">value</A></td><td>false</td><td><code>javax.el.ValueExpression</code>
<br>(<i>must evaluate to </i><code>java.lang.Boolean</code>)
                    </td><td>true</td><td>null</td><td>The current value of the SelectBooleanCheckbox component.</td>
</tr>
</table>
<br>
<p></p>
<table border="1" cellpadding="3" cellspacing="0" width="100%">
<tr bgcolor="#CCCCFF" class="TableHeadingColor">
<td colspan="5"><font size="+2"><b>Variables</b></font></td>
</tr>
<td colspan="2"><i>No Variables Defined.</i></td>
</table>
<br>
<p></p>
<a name="navbar_bottom"></a>
<table border="0" width="100%" cellpadding="1" cellspacing="0">
<tr>
<td COLSPAN="3" BGCOLOR="#EEEEFF" CLASS="NavBarCell1"><a NAME="navbar_bottom_firstrow"></a>
<table BORDER="0" CELLPADDING="0" CELLSPACING="3">
<tr ALIGN="center" VALIGN="top">
<td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a href="../overview-summary.html"><font CLASS="NavBarFont1"><b>Overview</b></font></a>&nbsp;</td><td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a href="tld-summary.html"><font CLASS="NavBarFont1"><b>Library</b></font></a>&nbsp;</td><td BGCOLOR="#FFFFFF" CLASS="NavBarCell1Rev"> &nbsp;<font CLASS="NavBarFont1Rev">&nbsp;Tag&nbsp;</font>&nbsp;</td><td BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    &nbsp;<a HREF="../help-doc.html"><font CLASS="NavBarFont1"><b>Help</b></font></a>&nbsp;</td>
</tr>
</table>
</td><td ALIGN="right" VALIGN="top" ROWSPAN="3"><em></em></td>
</tr>
<tr>
<td BGCOLOR="white" CLASS="NavBarCell2"><font SIZE="-2"></font></td><td BGCOLOR="white" CLASS="NavBarCell2"><font SIZE="-2">
                &nbsp;<a HREF="../index.html" TARGET="_top"><b>FRAMES</b></a>&nbsp;
                &nbsp;<a href="selectBooleanCheckbox.html" target="_top"><b>NO FRAMES</b></a>&nbsp;
                <script></script>
<noscript>
<a HREF="../alltags-noframe.html" TARGET=""><b>All Tags</b></a>
</noscript>
</font></td>
</tr>
</table>
<hr>
<small><i>
            Output Generated by
            <a href="http://taglibrarydoc.dev.java.net/" target="_blank">Tag Library Documentation Generator</a>.
            Java, JSP, and JavaServer Pages are trademarks or
            registered trademarks of Sun Microsystems, Inc. in the US and other
            countries.  Copyright 2002-4 Sun Microsystems, Inc.
            4150 Network Circle
            Santa Clara, CA 95054, U.S.A.
            All Rights Reserved.
            </i></small>
</body>
</html>
