<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - pacchetti esercizi</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <script src="../js/bootstrap-select.min.js"/>    
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-select.min.css" media="screen" />

    </h:head>

    <f:metadata>
        <f:event type="preRenderView" listener="#{ArchivioEserciziBean.caricaEserciziArchivio()}"/>
    </f:metadata>

    <h:body rendered="#{LoginBean.subscription!=null}">

        <div id="wrapper">

           <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> Esercizi Pacchetti</a>     
                
            </div>
            <ui:include src="../include/menu-staff-top-right.xhtml"/>            
            <ui:include src="../include/menu-staff.xhtml"/> 
        </nav>

            <div id="page-wrapper">

                <div class="container-fluid">
                    
                            <ol class="breadcrumb">
                                <li class="active">
                                    <h:graphicImage class="icona-custom" value="/images/icone/grigie/soccer.png"></h:graphicImage>  esercizi pacchetti
                                </li>
                            </ol>   
                    
                    <ui:include src="../include/messaggi.xhtml"/> 
                                        
                <div class="row">
                    <div class="col-lg-12">
                   
<!--                        <div class="jumbotron">
                            <h3 class="text-primary" style="margin: 0px;">
                            <h:graphicImage class="icona-custom" value="/images/icone/soccer.png"></h:graphicImage> In questa sezione trovi gli esercizi contenuti nei pacchetti che hai acquistato.
                            </h3></div>-->
                        
                        <h:panelGroup layout="block" >
                            
                            <h:form id="main-form">
                                
                            <script>
                                jQuery(function() {
                                   jQuery('.selectpicker').selectpicker({size: false});
                                });
                            </script>    
                                
                                <table style=" margin-bottom: 10px;">
                                    <tr>                                     
                                                    <td><h:inputText class="form-control" value="#{ArchivioEserciziBean.text}">
                                                            <f:ajax event="change" execute="@this" />
                                                        </h:inputText></td>
                                                    <td>&nbsp; <h:commandLink styleClass="btn btn-default" action="#{ArchivioEserciziBean.ricercaLiberaEsercizi()}">
                                                            <i class="fa fa-search"></i> Cerca </h:commandLink></td>
                                                    <td>&nbsp; 
                                                        <h:commandLink styleClass="btn btn-info #{ArchivioEserciziBean.ricercaAvanzata ? 'active' : ''}">
                                                            <i class="fa #{ArchivioEserciziBean.ricercaAvanzata ? 'fa fa-chevron-up' : 'fa fa-chevron-down'}"></i> Ricerca avanzata 
                                                            <f:ajax event="click" render="main-form:ricercaAvanzata" listener="#{ArchivioEserciziBean.toggleRicercaAvanzata()}"/>
                                                        </h:commandLink></td>
                                                    <td>&nbsp; 
                                                        <h:commandLink styleClass="btn btn-default" action="#{ArchivioEserciziBean.resetCampi()}"><i class="fa fa-eraser"></i> Reset campi </h:commandLink>
                                                    </td> 
                                    </tr>
                                </table>
                            
                            <h:panelGroup id="ricercaAvanzata">
                            <h:panelGroup rendered="#{ArchivioEserciziBean.ricercaAvanzata}">
                                <div class="well">
                                    <span style="font-weight: 500; font-size: 17px;">Ricerca avanzata</span>
                                    <hr style="margin: 5px;"/>
                                    <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Titolo</label>
                                            <h:inputText class="form-control" value="#{ArchivioEserciziBean.criteri.titolo}">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>                                     
                                    </div>
                                
                                <label class="text-success title-box-obiettivi" >Obiettivo Principale - TECNICA DIFENSIVA</label>
                                <div class="row box-obiettivi" style="border: 1px solid #3C763D;">
                                    <div class="col-md-4" style="margin-bottom: 0px;">
                                        <h:selectOneMenu id="tecDifesa" class="form-control selectpicker" value="#{ArchivioEserciziBean.criteri.obDifI}">
                                            <f:selectItem itemLabel="TUTTE" noSelectionOption="true"/>
                                            <f:selectItems value="#{DropdownBean.tecDif}"/>
                                            <f:ajax event="change" execute="@this" render="main-form:classDifesa" listener="#{ArchivioEserciziBean.updateDropdownDifesa()}" />
                                        </h:selectOneMenu>
                                    </div>
                                    <h:panelGroup id="classDifesa">
                                        <div class="col-md-4" style="margin-bottom: 0px;">
                                            <h:selectOneMenu class="form-control selectpicker" value="#{ArchivioEserciziBean.criteri.obDifII}">
                                                <f:selectItem itemLabel="TUTTE" noSelectionOption="true"/>
                                                <f:selectItems value="#{DropdownBean.classDif}"/>
                                                <f:ajax event="change" execute="@this" render=":main-form:classDifesa" listener="#{ArchivioEserciziBean.updateDropdownDifesa()}"  />
                                            </h:selectOneMenu>
                                        </div>
                                        <h:panelGroup id="tecnicaDifesa">
                                            <div class="col-md-4" style="margin-bottom: 0px;">
                                                <h:selectOneMenu class="form-control selectpicker" value="#{ArchivioEserciziBean.criteri.obDifIII}">
                                                    <f:selectItem itemLabel="TUTTE" noSelectionOption="true"/>
                                                    <f:selectItems value="#{DropdownBean.specDif}"/>
                                                    <f:ajax event="change" execute="@this" />
                                                </h:selectOneMenu>
                                            </div>
                                            <script>
                                                jQuery(function() {
                                                    jQuery('.selectpicker').selectpicker({size: false});
                                                });
                                            </script>  
                                        </h:panelGroup>
                                    </h:panelGroup>                                                    
                                </div>
                                <div class="row" style="margin-left: 0px;">
                                <label  class="col-md-8 col-obiettivi text-warning title-box-obiettivi" >Obiettivo Principale - TECNICA OFFENSIVA</label>
                                <div class="col-md-8 box-obiettivi" style="border: 1px solid #D58512;">
                                    <div class="col-md-6" style="margin-bottom: 0px; padding-left: 0px;">
                                        <h:selectOneMenu id="tecAttacco" class="form-control selectpicker" value="#{ArchivioEserciziBean.criteri.obAttI}">
                                            <f:selectItem itemLabel="TUTTE" noSelectionOption="true"/>
                                            <f:selectItems value="#{DropdownBean.tecAtt}"/>
                                            <f:ajax event="change" execute="@this" render="main-form:classAttacco" listener="#{ArchivioEserciziBean.updateDropdownAttacco()}" />
                                        </h:selectOneMenu>
                                    </div>
                                    <h:panelGroup id="classAttacco">
                                        <div class="col-md-6" style="margin-bottom: 0px; padding-left: 0px;">
                                            <h:selectOneMenu class="form-control selectpicker" value="#{ArchivioEserciziBean.criteri.obAttII}">
                                                <f:selectItem itemLabel="TUTTE" noSelectionOption="true"/>
                                                <f:selectItems value="#{DropdownBean.classAtt}"/>
                                                <f:ajax event="change" execute="@this" />
                                            </h:selectOneMenu>
                                        </div>
                                        <script>
                                                jQuery(function() {
                                                    jQuery('.selectpicker').selectpicker({size: false});
                                                });
                                        </script>  
                                    </h:panelGroup>                                                    
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label  class=" col-obiettivi text-danger title-box-obiettivi" >Obiettivo Principale - TATTICA</label>
                                        <div class="box-obiettivi" style="border: 1px solid #A94442; height: 56px;">
                                            <div class="col-md-12" style="margin-bottom: 0px;">
                                                <h:selectOneMenu class="form-control selectpicker" value="#{ArchivioEserciziBean.criteri.obTatI}">
                                                    <f:selectItem itemLabel="TUTTE" noSelectionOption="true"/>
                                                    <f:selectItems value="#{DropdownBean.tecTat}"/>
                                                    <f:ajax event="change" execute="@this" />
                                                </h:selectOneMenu>
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="col-md-4">
                                        <label  class=" col-obiettivi text-info title-box-obiettivi" >OBIETTIVO COORDINATIVO Principale</label>
                                        <div class=" box-obiettivi" style="border: 1px solid #337ab7; height: 56px;">
                                            <div class="col-md-12" style="margin-bottom: 0px;">
                                                <h:selectOneMenu class="form-control selectpicker" value="#{ArchivioEserciziBean.criteri.obCoord}">
                                                    <f:selectItem itemLabel="TUTTE" noSelectionOption="true"/>
                                                    <f:selectItems value="#{DropdownBean.tecCoord}"/>
                                                    <f:ajax event="change" execute="@this" />
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label  class="col-obiettivi text-primary title-box-obiettivi" >OBIETTIVO CONDIZIONALE Principale</label>
                                        <div class="box-obiettivi" style="border: 1px solid #5bc0de; height: 56px;">                                
                                            <div class="col-md-12" style="margin-bottom: 0px;">
                                                <h:selectOneMenu class="form-control selectpicker" value="#{ArchivioEserciziBean.criteri.obCond}">
                                                    <f:selectItem itemLabel="TUTTE" noSelectionOption="true"/>
                                                    <f:selectItems value="#{DropdownBean.tecCond}"/>
                                                    <f:ajax event="change" execute="@this" />
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Metodo &nbsp;</label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.analitico}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Analitico
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.globale}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Globale
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.finalizzato}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Finalizzato
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.situazionale}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Situazionale
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.giocoIniziale}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Gioco iniziale
                                        </label>
                                    
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.giocoTema}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Gioco a tema
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.percorsoStazioni}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Percorso a stazioni
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.lavoroGruppo}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Lavoro di gruppo
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.atleticoMotorio}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Atletico/Motorio
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.recuperoInfortunio}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Recupero infortunio
                                        </label>
                                    </div>
                                    </div>
                                </div>                                    
                                    <div class="row">
                                        <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Categorie &nbsp;</label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.tutti}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Tutti
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.primaSquadra}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Prima squadra
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.juniores}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Juniores
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.allievi}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Allievi
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.giovanissimi}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Giovanissimi
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.esordienti}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Esordienti
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.pulcini}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Pulcini
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.primiCalci}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Primi calci
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.generale}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Generale
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{ArchivioEserciziBean.criteri.preAllenamento}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Pre-Allenamento
                                        </label>
                                    </div>
                                    </div>
                                </div>
                                                                
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>N° portieri</label>
                                            <h:inputText class="form-control" value="#{ArchivioEserciziBean.criteri.portieri}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Durata</label>
                                            <h:inputText class="form-control" value="#{ArchivioEserciziBean.criteri.durata}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Ripetizioni</label>
                                            <h:inputText class="form-control" value="#{ArchivioEserciziBean.criteri.ripetizioni}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>N° stazioni/gruppi</label>
                                            <h:inputText class="form-control" value="#{ArchivioEserciziBean.criteri.stazioniGruppi}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Recupero</label>
                                            <h:inputText class="form-control" value="#{ArchivioEserciziBean.criteri.recupero}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Serie</label>
                                            <h:inputText class="form-control" value="#{ArchivioEserciziBean.criteri.serie}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                                    
                                <h:commandLink styleClass="btn btn-default" action="#{ArchivioEserciziBean.ricercaAvanzataEsercizi()}"><i class="fa fa-search"></i> Cerca </h:commandLink>
                                    
                                </div>
                            </h:panelGroup>
                            </h:panelGroup>
                            </h:form>
                            
                            
                            
                            <h:form>
                            <h:dataTable class="table table-bordered table-hover table-striped" columnClasses="col-img-disegno,col,shortcol" value="#{ArchivioEserciziBean.esercizi}" var="e">
                                
                                <h:column>
                                    <h:link outcome="visualizza-esercizio.xhtml?faces-redirect=true" >
                                        <img id="imageid" class="img-rounded" style="width: 380px;" src="#{BaseBean.urlSchemaEs(e)}" />
                                        <f:param name="idEsercizio"  value="#{e.id}"/>
                                    </h:link> 
                                </h:column>
                                <h:column>
                                    <div style="width: 100%; padding: 5px;">
                                    <div class="row">
                                        <div class="col-xs-12"><div class="form-control div-form-control"><b>TITOLO: </b> <h:outputText value="#{e.titolo}"/></div></div>
                                    </div>
                                    <div class="row" style="padding-top: 10px;"> 
                                        <div class="col-xs-6"><div class="form-control div-form-control"><b>DURATA: </b> <h:outputText value="#{e.durata}"/> </div></div>
                                        <div class="col-xs-6"><div class="form-control div-form-control"><b>PORTIERI: </b> <h:outputText value="#{e.portieri}"/></div></div>
                                    </div>
                                    <div class="row" style="padding-top: 10px;"> 
                                        <div class="col-xs-12"><h:inputTextarea rows="5" styleClass="form-control" disabled="true" value="DESCRIZIONE/NOTE: #{e.descrizione}"/> </div>
                                    </div>
                                    </div>
                                </h:column>
                                <h:column>
                                    <h:link outcome="visualizza-esercizio.xhtml?faces-redirect=true" styleClass="btn btn-info table-btn">
                                        <i class="fa fa-eye"></i> Visualizza
                                        <f:param name="idEsercizio" id="idEsercizioV" value="#{e.id}"/>
                                    </h:link> 
                                    <h:commandLink action="#{ArchivioEserciziBean.duplicaEsercizio(e)}" styleClass="btn btn-default table-btn"
                                                   onclick="return confirm('Confermi duplica esercizio?')">
                                        <i class="fa fa-copy"></i> Duplica
                                    </h:commandLink>
                                </h:column>
                            </h:dataTable>
                            </h:form>
                        </h:panelGroup>
                    </div>                   
                </div>
                    
                
                    
                    <!-- /.row -->

                    <br/> <br/>
                    
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </h:body>

</html>
