<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Avversari</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </h:head>

    <f:metadata>
        <f:event type="preRenderView" listener="#{AvversariBean.caricaAvversari()}"/>
    </f:metadata>

    <h:body rendered="#{LoginBean.subscription!=null and LoginBean.subscription.accessoAreaGestionale()}">

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                    <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                        <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                    <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; Avversari</a>     
                </div>
                <ui:include src="../include/menu-staff-top-right.xhtml"/> 
                <ui:include src="../include/menu-staff.xhtml"/> 
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <ol class="breadcrumb">
                                <li class="active">
                                    <h:graphicImage class="icona-custom" value="/images/icone/grigie/players.png"></h:graphicImage>   Avversari
                                </li>
                            </ol>
                    
                    <ui:include src="../include/messaggi.xhtml"/> 
                    
                    <h:form> 
                        
                  
                                                    
                <div class="row">
                    <div class="col-lg-12">
                        
                        <h:panelGroup rendered="#{AvversariBean.avversari==null or empty AvversariBean.avversari}">
                            <h4> Nessun avversario trovato</h4>
                            
                            <h:link outcome="nuovo-avversario.xhtml?faces-redirect=true" styleClass="btn btn-primary">
                                <i class="fa fa-plus-circle"></i> Inserisci
                            </h:link>
                        </h:panelGroup>
                        
                        <h:panelGroup rendered="#{AvversariBean.avversari!=null and !empty AvversariBean.avversari}" layout="block" class="table-responsive">
                            <h:dataTable class="table table-bordered table-hover table-striped" columnClasses="col,col,col,shortcol" value="#{AvversariBean.avversari}" var="a">
                                <h:column>
                                    <h:panelGroup rendered="#{a.stemma!=null and !empty a.stemma}">
                                    <img id="imageid" class="img-rounded" style="height: 160px;" src="#{BaseBean.urlImmagini}#{a.stemma}" />
                                    </h:panelGroup>
                                </h:column>
                                <h:column>
                                    <f:facet name="header"> Nome Squadra </f:facet>
                                    #{a.nome}
                                </h:column>
                                <h:column>
                                    <f:facet name="header"> Giocatori </f:facet>
                                    #{a.giocatori!=null ? a.giocatori.size() : '0'}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">    
                                        <h:link outcome="nuovo-avversario.xhtml?faces-redirect=true" styleClass="btn btn-primary">
                                        <i class="fa fa-plus-circle"></i> Inserisci
                                        </h:link>
                                    </f:facet>
                                    <h:link outcome="modifica-avversario.xhtml?faces-redirect=true" styleClass="btn btn-warning">
                                        <i class="fa fa-edit"></i> Modifica
                                        <f:param name="idAvversario" id="idAvversario" value="#{a.id}"/>
                                    </h:link> &nbsp;
                                </h:column>
                            </h:dataTable>
                        </h:panelGroup>
                        
                        <div class="jumbotron">
                            <p> CONOSCERE CHI AVRAI DI
FRONTE E' DI FONDAMENTALE
IMPORTANZA. ANALIZZA LA
PERFORMANCE ANCHE DEI
PORTIERI AVVERSARI: POTRAI
ARCHIVIARE LA MATCCH
ANALYSIS PER POI VALUTARE
LE LORO PRESTAZIONI,
CONDIVIDERLE CON I TUOI
COLLEGHI E PERCHE NO,
FARE SCOUTING E PENSARE
AL FUTURO!
                            </p></div>
                        
                    </div>                   
                </div>
                    
                </h:form>
                       
                    <!-- /.row -->

                    <br/> <br/>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </h:body>

</html>
