<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
            
        <title>SOFTKEEPER</title>
            
        <script src="http://code.jquery.com/jquery-latest.js"></script>
            
        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   
            
        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>
            
        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
            
        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>
            
            
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
            
    </h:head>
    

<body>

    <div id="wrapper">
        
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
<!--                <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                    <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; <i class="fa fa-tachometer"></i> Home</a>     
                
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> #{LoginBean.utente.nome} #{LoginBean.utente.cognome} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="profilo.xhtml"><i class="fa fa-fw fa-user"></i> Profilo</a></li>
                        <li class="divider"></li>
                        <li>
                            <h:form><h:commandLink action="#{LoginBean.logout()}" class="dropdown-menu-link"><i class="fa fa-fw fa-power-off"></i> Log Out</h:commandLink></h:form>
                        </li>
                    </ul>
                </li>
            </ul>            
            <ui:include src="../include/menu-staff.xhtml"/> 
        </nav>
        

        <div id="page-wrapper">

            <div class="container-fluid">
                <h:panelGroup rendered="#{LoginBean.subscription==null}">
                    <div class="alert alert-danger">
                        <h4 style="font-size: 16px; margin-bottom: 0px;">Non hai nessun abbonamento attivo. Per utilizzare l'applicazione acquistane uno nella sezione "ACQUISTO PACCHETTI"</h4>
                    </div>
                </h:panelGroup>

<!--                <br/>
                <div class="jumbotron">
                    <h1>Area personale</h1>
                    <p>In quest'area potrai inserire i tuoi giocatori creare gli esercizi e pianificare il programma di allenamento della tua squadra.</p>
                
                </div>-->

<script>
    $('.carousel').carousel({
  interval: 5000
})
</script>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides 
  <div class="carousel-inner" role="listbox">
      <div class="item active" align="center">
          <img src="../images/slides-softkeeper1.jpg" style="height: 400px;"/>  
    </div>
    <div class="item" align="center">
      <img src="../images/slides-softkeeper2.jpg" style="height: 400px;"/>
    </div>
    <div class="item" align="center">
      <img src="../images/slides-softkeeper3.jpg" style="height: 400px;"/> 
    </div>
  </div>-->

  <!-- Controls 
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>-->
  <div class="row top-home"><div class="col-md-4"></div><div class="col-md-4">
          <h1>SOFTKEEPER</h1>
          <h3>PROGRAMMA</h3>
          <p>i tuoi obbiettivi e i metodi per raggiungerli</p>
            <h3>CONDIVIDI</h3>
          <p>con i colleghi</p>
            <h3>CONTROLLA</h3>
          <p>il lavoro svolto</p>
            <h3>CREA</h3>
          <p>nuove esercitazioni personalizzate</p>
      </div><div class="col-md-4"></div></div>
                <br/>
                <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2> AREA TECNICA </h2> 
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4><a style="color: rgb(0, 168, 107);" href="esercizi.xhtml"><h:graphicImage class="icona-custom" value="/images/icone/soccer.png"></h:graphicImage> ESERCIZI:</a></h4>
                            <ul>
                                <li>Disegna tutte le tue esercitazioni</li>
                                <li>Oltre 100 disegni di portieri ed attrezzature specifiche</li>
                                <li>Archivia, condividi, modifica in qualsiasi momento. Gestione a 360°</li>
                                <li>Crea il tuo personale archivio di esercizi e situazioni di gioco stampabile o sempre a tua disposizione con un click</li>
                            </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4><a style="color: rgb(153, 0, 102);" href="allenamenti.xhtml"><h:graphicImage class="icona-custom" value="/images/icone/shoe.png"></h:graphicImage> ALLENAMENTI:</a></h4>
                            <ul>
                                <li>Crea infinite combinazioni di sedute specifiche attingendo al tuo archivio esercizi</li>
                                <li>Ricerca mirata in base agli obiettivi tecnici-tattici-motori per importare velocemente esercitazioni già archiviate</li>
                                <li>Archivia, modifica in qualsiasi momento. Gestione a 360°</li>
                                <li>Utilizza le funzioni copia e modifica per realizzare gli allenamenti effettivi, così potrai sempre capire cosa hai programmato e cosa hai realmente potuto eseguire</li>
                                <li>Crea il tuo personale archivio di Allenamenti – stampabile o sempre a tua disposizione con un click</li>
                            </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4><a style="color: rgb(0, 149, 182);" href="programma.xhtml"><h:graphicImage class="icona-custom" value="/images/icone/data-analytics.png"></h:graphicImage> PROGRAMMAZIONE:</a></h4>
                            <ul>
                                <li>Segui il percorso guidato per la creazione di programmi specifici di allenamento</li>
                                <li>Potrai creare microcicli settimanali, mesocicli mensili fino ad arrivare a macrocicli annuali o pluriennali</li>
                                <li>All'inizio di ogni nuova stagione potrai utilizzare lo stesso programma della precedente, crearne di nuovi o modificare quelli archiviati in base ai dati del lavoro svolto in tuo possesso</li>
                            </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                    
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h2> AREA GESTIONALE </h2> 
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4><a style="color: #B22222;" href="giocatori.xhtml"><h:graphicImage class="icona-custom" value="/images/icone/glove.png"></h:graphicImage> PORTIERI:</a></h4>
                            <ul>
                                <li>Inserisci tutti i dati anagrafici ed i contatti dei tuoi portieri</li>
                                <li>Gestire le rilevazioni antropometriche non è mai stato così semplice: compila i campi trimestralmente, otterrai il grafico della crescita del portiere, consultabile e confrontabile in ogni momento </li>
                                <li>Archivia, modifica, stampa le schede, conoscere il percorso di crescita del singolo portiere non è mai stato così semplice</li>
                                <li>In automatico “softkeeper” aggiornerà le
schede individuali con presenze a gare
ed allenamenti ma soprattutto avrai i
grafici specifici di ogni singolo atleta
relativi al lavoro svolto, Per avere tutto
questo? Basterà specificare la presenza
del singolo portiere in ogni seduta di
allenamento! Niente di più semplice e
veloce!</li>
                            </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4><a style="color: #C72;" href="staff.xhtml"><h:graphicImage class="icona-custom" value="/images/icone/list.png"></h:graphicImage> STAFF:</a></h4>
                            <ul>
                                <li>Inserisci tutti i dati anagrafici ed i contatti dei tuoi collaboratori</li>
                                <li>Potrai inviare e ricevere Programmazioni,
esercizi allenamenti, schede anagrafiche,
Match Analisis e molto altro ancora. Il
tutto gestibile come fosse una casella di
posta elettronica. Potrai archiviare il
materiale ricevuto, modificarlo e
condividerlo in qualsiasi momento.</li>
                                    <li>Archivia, modifica in qualsiasi momento. Gestione a 360°</li>
                                <li>Essere sempre in contatto con tutti i tuoi
collaboratori ed amici in modo veloce,
pratico ed interattivo è molto semplice
con softkeeper</li>
                            </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4><a style="color: rgb(46, 139, 87);" href="calendario.xhtml"><i class="fa fa-fw fa-calendar"></i> CALENDARIO:</a></h4>
                            <ul>
                                <li>Partite, allenamenti e tutto quello che è
ad esso collegato sarà sempre presente
all'interno del tuo calendario. </li>
                                <li> Questa sezione sarà un ulteriore aiuto
per consultare e gestire tutto il tuo lavoro
passato, presente e futuro!</li>
                            </ul>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <h4><a style="color: #007BA7;" href="partite.xhtml"><h:graphicImage class="icona-custom" value="/images/icone/soccercampo.png"></h:graphicImage> PARTITE:</a></h4>
                            <ul>
                                <li>Ogni gara sarà un importante raccolta
dati, match Analisis, presenze e
statistiche saranno sempre a tua
disposizione</li>
                                <li>Stampa il modello preimpostato compilalo facilmente
durante la gara del tuo portiere e poi con
pochi click trasferisci il tutto in softkeeper</li>
                                <li>Grazie alle funzionalità del programma i
dati saranno elaborati e gestiti nelle
schede portiere ed all'interno della
sezione statistiche specifiche di gara</li>
                                <li>Nelle statistiche di gara saranno presenti
i minutaggi e le presenze dei tuoi portieri,
inoltre, dopo l'inserimento dei dati raccolti
in gara, verranno generati i grafici delle
singole gare ed il totale della match
Analisis. Saprai sempre cosa come e
quanto hanno fatto i tuoi portieri in gara. </li>
                            </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4><a style="color: #DE3163;" href="avversari.xhtml"><h:graphicImage class="icona-custom" value="/images/icone/players.png"></h:graphicImage> AVVERSARI:</a></h4>
                            <ul>
                                <li>Non sempre si può ricordare ogni singola
gara disputata da ogni singolo portiere, in
questa sezione potrai raccogliere tutti i
dati per poi consultarli in ogni momento</li>
                                <li>Tutto quello che hai a disposizione per
gestire le gara dei tuoi portieri lo potrai
fare anche gli avversari. </li>
                                <li>Potrai conservare gelosamente i dati
raccolti oppure fare gioco di squadra e
condividerli con i tuoi colleghi, a te la
scelta!</li>
                                <li>Essere sempre in contatto con tutti i tuoi
collaboratori ed amici in modo veloce,
pratico ed interattivo è molto semplice
con softkeeper</li>
                            </ul>
                                </div>
                                <div class="col-md-4">
                                    <h4><a style="color: #997A8D;" href="societa.xhtml"><h:graphicImage class="icona-custom" value="/images/icone/football.png"></h:graphicImage> SOCIETA':</a></h4>
                            <ul>
                                <li>Una semplice sezione dove potrai
raccogliere i dati della tua società,
condividere materiale con loro o fare
delle semplici comunicazioni</li>
                                <li>Genera delle schede contatto con tutti i
dati necessari, avrai la tua rubrica
sempre a disposizione</li>
                                <li>Gestisti il tutto semplicemente come fai
                                    normalmente con la tua mail </li>
                            </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
                
                
</div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
