<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Modifica Staff</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <script src="../js/bootstrap-datepicker.js"/>
        <link rel="stylesheet" type="text/css" href="../css/datepicker.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        <script src="../js/bootstrap-select.min.js"/>    
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-select.min.css" media="screen" />

        <script>
            
            jQuery.noConflict();
            
            function noop(event) {
                event.stopPropagation();
                event.preventDefault();
            }

            function upload(file, type) {
                
                document.getElementById("tableProgress").style.display = 'inline';

                var formData = new FormData();
                formData.append("file", file);

                var xhr = new XMLHttpRequest();
                xhr.upload.addEventListener("progress", uploadProgress, false);
                xhr.addEventListener("load", uploadComplete, false);
                var url = "#{request.scheme}://#{request.serverName}:#{request.serverPort}#{request.contextPath}/FileUploadServlet";
                xhr.open("POST", url, true); // If async=false, then you'll miss progress bar support.
                xhr.send(formData);
                                
            }

            function uploadProgress(event) {
                // Note: doesn't work with async=false.
                var progress = Math.round(event.loaded / event.total * 100);
                //                document.getElementById("status").innerHTML = "Progress " + progress + "%";
                
                var bar = document.getElementById('progressBar');
                var status = document.getElementById('statusPB');
                status.innerHTML = progress+"%";
                bar.value = progress;             
                      
                
            }

            function uploadComplete(event) {
                var result = event.target.responseText;
                //                alert(result);

                document.getElementById("tableProgress").style.display = 'none';
                
                if(result == '1'){
                    document.getElementById("status").innerHTML = 'ERRORE: formato non riconosciuto, è possibile caricare solo file in formato png jpg jpeg e gif';
                    document.getElementById("imageid").src="";
                    document.getElementById("imageid").style.display = 'none';
                }else if(result == '2'){
                    document.getElementById("status").innerHTML = 'ERRORE: si è verificato un errore nel caricamento del file';
                    document.getElementById("imageid").src="";
                    document.getElementById("imageid").style.display = 'none';
                }else{
                    //                    alert("caricato file "+result);
                    
//                    document.getElementById("status").innerHTML = 'File caricato correttamente!';
                    document.getElementById("status").innerHTML = '';  
                    jQuery("#main-form\\:pathfile").val(result); 
                    jQuery("#main-form\\:pathfilehidden").val(result); 
                    document.getElementById("imageid").style.display = 'inline';
                    document.getElementById("imageid").src='#{BaseBean.urlImmagini}'+result;
                }
               
            }
            
            jQuery("document").ready(function(){ 
                initializeInputFile();               
                
            });
                        
            function initializeInputFile() { 
                jQuery("#myFileInput").change(function() {
                    var files = jQuery('#myFileInput').prop('files');
                    //<![CDATA[
                    for (var i = 0; i < files.length; i++) {
                        upload(files[i], 'image');
                    }
                    //]]>
                });
            }
         
        </script>

    </h:head>

    <f:metadata>
        <f:viewParam id="idStaff" name="idStaff" value="#{StaffBean.idStaff}" /> 
        <f:event type="preRenderView" listener="#{StaffBean.initModificaStaff()}"/>
    </f:metadata>

    <body>

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                    <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; <i class="fa fa-edit"></i> Modifica Staff</a>     
                
            </div>
            <ui:include src="../include/menu-staff-top-right.xhtml"/>       
            <ui:include src="../include/menu-staff.xhtml"/> 
        </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <ol class="breadcrumb">
                                <li>
                                    <i class="fa fa-suitcase"></i>  <a href="staff.xhtml">Staff</a>
                                </li>
                                <li class="active">
                                    <i class="fa fa-edit"></i> Modifica Staff
                                </li>
                    </ol>
                    
                    <ui:include src="../include/messaggi.xhtml"/> 

                    <h:form id="main-form" rendered="#{StaffBean.staff!=null}">     
                        
                        <script>
                            jQuery(function() {
                               jQuery('.selectpicker').selectpicker({size: false});
                            });
                        </script>          
                        
                        <div class="row">
                            <div class="form-group">
                                
                                <div class="col-md-5">
                                    <h4>Categoria </h4>
                                    <h:selectOneMenu styleClass="form-control selectpicker" value="#{StaffBean.staff.categoria}" required="true" requiredMessage="Categoria: il campo è obbligatorio">
                                        <f:selectItem itemLabel=" " noSelectionOption="true"/>
                                        <f:selectItem itemValue="Tecnico" itemLabel="Tecnico"/>
                                        <f:selectItem itemValue="Sanitario" itemLabel="Sanitario"/>
                                        <f:selectItem itemValue="Dirigente" itemLabel="Dirigente"/>
                                        <f:ajax event="change" execute="@this"/>
                                    </h:selectOneMenu>
                                    
                                    <h4>Foto *</h4>
                                    <input type="file"  id="myFileInput" style="max-width: 100%"/>
                                    <h:inputText id="pathfile" disabled="true" value="#{StaffBean.staff.foto}" class="form-control" required="true" requiredMessage="Caricare la foto ">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputText>
                                    <h:inputHidden id="pathfilehidden" value="#{StaffBean.staff.foto}"/>
                                
                                    
                                </div>
                                <div class="col-md-4">
                                    <table id="tableProgress"  width="100%" style="display: none;">
                                        <tr><td><progress id="progressBar" value="0" max="100" style="width:250px;"></progress></td>
                                            <td><span id="statusPB"></span></td>
                                        </tr> 
                                    </table>
                                    <div id="status"></div>
                                    <img id="imageid" class="img-rounded img-giocatore-anteprima" src="#{BaseBean.urlImmagini}#{StaffBean.staff.foto}" />  
                                </div>
                            </div>
                        </div>
                        <hr/>

                        <div class="panel panel-info">
                            <div class="panel-heading"> 
                                Dati anagrafici
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Nome*</label>
                                            <h:inputText class="form-control" value="#{StaffBean.staff.nome}" required="true" requiredMessage="Nome: campo obbligatorio">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Cognome*</label>
                                            <h:inputText class="form-control" value="#{StaffBean.staff.cognome}" required="true" requiredMessage="Cognome: campo obbligatorio">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Mansione*</label>
                                            <h:selectOneMenu styleClass="form-control selectpicker" value="#{StaffBean.staff.mansione}" required="true" requiredMessage="Mansione: il campo è obbligatorio">
                                                <f:selectItem itemLabel=" " noSelectionOption="true"/>
                                                <f:selectItems value="#{StaffBean.mansioni}"/> 
                                                <f:ajax event="change" execute="@this"/>
                                            </h:selectOneMenu>
                                        </div>
                                    </div>                    

                                </div>
                                <div class="row">                                    
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Cellulare</label>
                                            <h:inputText class="form-control" value="#{StaffBean.staff.cellulare}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <h:inputText class="form-control" value="#{StaffBean.staff.email}" validator="emailFieldValidator" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Regione residenza</label>
                                            <h:inputText class="form-control" value="#{StaffBean.staff.residenzaRegione}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Provincia residenza</label>
                                            <h:inputText class="form-control" value="#{StaffBean.staff.residenzaProvincia}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Citt&agrave; residenza</label>
                                            <h:inputText class="form-control" value="#{StaffBean.staff.residenzaCitta}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label>Via residenza</label>
                                            <h:inputText class="form-control" value="#{StaffBean.staff.residenzaVia}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>CAP residenza</label>
                                            <h:inputText class="form-control" value="#{StaffBean.staff.residenzaCap}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>                               
                            </div>                        
                        </div>


                        <h:commandLink class="btn btn-primary" action="#{StaffBean.modificaStaff()}" value="Salva"/> &nbsp;
                        <h:commandLink class="btn btn-default" action="staff.xhtml?faces-redirect=true" value="Annulla" immediate="true"/>

                    </h:form>


                    <h:form rendered="#{StaffBean.staff==null}">   

                        <br/>
                        <h:commandLink action="staff.xhtml?faces-redirect=true" value="Torna alla lista staff" styleClass="btn btn-default" />

                    </h:form>
                    <!-- /.row -->
                    
                    <br/> <br/>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </body>

</html>
