<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:o="http://openfaces.org/" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Modifica Allenamento</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <script src="../js/bootstrap-datepicker.js"/>
        <link rel="stylesheet" type="text/css" href="../css/datepicker.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        <script src="../js/bootstrap-select.min.js"/>    
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-select.min.css" media="screen" />
        
        <script>
	    jQuery.noConflict();

            // se viene modificato un campo input imposta changed a true
            jQuery(function () {                
                jQuery("#main-form :input").change(function() {
                    jQuery("#main-form").data("changed",true);
                });                
            });

            // rimette changed a false (si chiama quando clicca sul bottone per inviare il form)
            function preventDialogModifiche(){
                jQuery("#main-form").data("changed",false);         
            }
            
            // prima di uscire dalla pagina mostra un dialog per richiedere la conferma
            window.onbeforeunload = function () {
               if (jQuery("#main-form").data("changed")) {
                    return "I dati inseriti potrebbero non essere stati salvati.";
                }
            };            
        </script>

    </h:head>

    <f:metadata>
        <f:viewParam id="idAllenamento" name="idAllenamento" value="#{AllenamentoBean.idAllenamento}" /> 
        <f:event type="preRenderView" listener="#{AllenamentoBean.initModificaAllenamento()}"/>
    </f:metadata>

    <body>

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                    <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                        <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                    <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; <i class="fa fa-edit"></i> Modifica Allenamento</a>     
                </div>
                <ui:include src="../include/menu-staff-top-right.xhtml"/> 
                <ui:include src="../include/menu-staff.xhtml"/> 
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <ol class="breadcrumb">
                                <li>
                                    <i class="fa fa-calendar"></i>  <a href="calendario.xhtml">Calendario</a>
                                </li>
                                <li class="active">
                                    <i class="fa fa-edit"></i> Modifica Allenamento
                                </li>
                            </ol>
                    
                    <ui:include src="../include/messaggi.xhtml"/> 

                    <h:form id="main-form" rendered="#{AllenamentoBean.allenamento!=null}">     
                        
                        <script>
                            jQuery(function() {
                               jQuery('.selectpicker').selectpicker({size: false});
                            });
                        </script>                       
                        
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Titolo</label>
                                    <h:inputText class="form-control" value="#{AllenamentoBean.allenamento.titolo}" required="true" requiredMessage="Titolo: campo obbligatorio">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputText>
                                </div>
                            </div>
                            <div class="col-md-2" style="padding-right: 10px; padding-left: 10px;">
                                <div class="form-group">
                                    <label>Data </label>
                                    <h:inputText class="form-control date" value="#{AllenamentoBean.allenamento.dataI}" >
                                        <f:convertDateTime pattern="MM/dd/yyyy" locale="IT" timeZone="CET"/>
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputText>
                                    <script type="text/javascript">
                                        jQuery(document).ready(function () {
                                            jQuery('.date').datepicker({
                                                format: "MM/dd/yyyy",
                                                language: "it",
                                                changeYear: true,                                    
                                                changeMonth: true,                                      
                                                dayNamesMin: ["Do", "Lu", "Ma", "Me", "Gi", "Ve", "Sa"],                                     
                                                monthNamesShort: ["Gennaio","Febbraio","Marzo","Aprile","Maggio","Giugno","Luglio","Agosto","Settembre","Ottobre","Novembre","Dicembre"],                                   
                                                firstDay: 1,
                                                showMonthAfterYear: true,
                                                yearRange: "+0:+100"
                                            });                              
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-1" style="padding-right: 10px; padding-left: 10px;">
                                <div class="form-group">
                                    <label>Inizio </label>
                                    <h:selectOneMenu styleClass="form-control selectpicker" value="#{AllenamentoBean.allenamento.oraI}">
                                        <f:selectItems value="#{AllenamentoBean.orari}"/>
                                        <f:ajax event="change" execute="@this"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            <div class="col-md-1" style="padding-right: 10px; padding-left: 10px;">
                                <div class="form-group">
                                    <label>Fine </label>
                                    <h:selectOneMenu styleClass="form-control selectpicker" value="#{AllenamentoBean.allenamento.oraF}">
                                        <f:selectItems value="#{AllenamentoBean.orari}"/>
                                        <f:ajax event="change" execute="@this"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Descrizione</label>
                                    <h:inputTextarea rows="4" class="form-control" value="#{AllenamentoBean.allenamento.descrizione}">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputTextarea>
                                </div>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ob Tec</label>
                                    <h:inputText class="form-control" value="#{AllenamentoBean.allenamento.obTec}">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputText>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ob Fis</label>
                                    <h:inputText class="form-control" value="#{AllenamentoBean.allenamento.obFis}">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputText>
                                </div>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ob Tat</label>
                                    <h:inputText class="form-control" value="#{AllenamentoBean.allenamento.obTat}">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputText>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ob Psi</label>
                                    <h:inputText class="form-control" value="#{AllenamentoBean.allenamento.obPsi}">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputText>
                                </div>
                            </div>
                        </div>   

                       <h:panelGroup layout="block" id="divEsercizi">
                            
                            <h:panelGroup rendered="#{AllenamentoBean.fase!=null}" layout="block" class="overlay" >
                                <div class="modal-dialog modal-lg">
                                    <!--<h:form id="modal-form">-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4>
                                                <table width="100%" style="padding-right: 10px; "><tr>
                                                        <td> <i class="fa fa-chevron-right"></i> #{AllenamentoBean.fase} </td>
                                                        <td align="right">
                                                            <h:commandLink styleClass="text-danger" action="#{AllenamentoBean.nascondiDialogEserciziFase()}">
                                                                <i class="fa fa-times"></i> <f:ajax render=":main-form:divEsercizi"/>
                                                            </h:commandLink>
                                                        </td></tr></table></h4>
                                        </div>
                                        <div class="modal-body" align="left">
                                            <table align="center"> <tr>  
                                                    <td style="padding-right: 20px;"><h4> <i class="fa fa-tasks"></i> Esercizi </h4></td>
                                                    <td style="padding-right: 5px; width: 250px;">
                                                        <h:inputText value="#{AllenamentoBean.text}" styleClass="form-control">
                                                            <f:ajax event="change" execute="@this" />
                                                        </h:inputText>
                                                    </td>
                                                    <td><h:commandLink styleClass="btn btn-default" action="#{AllenamentoBean.filtraEsercizi()}" >
                                                                <span class="fa fa-search fa-18px"></span> Cerca
                                                                <f:ajax render=":main-form:divEsercizi"/>
                                                        </h:commandLink></td></tr>
                                            </table>
                                            
                                            <div class="div-es-allenamento" >

                                                <o:dataTable id="tabella-esercizi" styleClass="tabella-es-allenamento" value="#{AllenamentoBean.esercizi}" var="e" style="border: none;">
                                                    <o:column>
                                                        <div class="well well-lista-es-all">
                                                            <h:commandLink action="#{AllenamentoBean.aggiungiEsercizioFase(e)}" >
                                                                <span class="fa fa-plus-circle"></span>
                                                                <f:ajax render=":main-form:divEsercizi"/>
                                                                <b>#{e.titolo}</b>
                                                            </h:commandLink>
                                                             <br/>

                                                            <div class="div-all-esercizi-image" align="center">
                                                                <img id="imageid" class="all-es-image img-rounded"  src="#{BaseBean.urlSchemaEs(e)}" />
                                                            </div>
                                                        </div>
                                                    </o:column>
                                                </o:dataTable>
                                            </div>
                                        </div>
                                        <div class="modal-footer">

                                            <h:commandLink styleClass="btn btn-warning" value="Chiudi" action="#{AllenamentoBean.nascondiDialogEserciziFase()}">
                                                <f:ajax render=":main-form:divEsercizi"/>
                                            </h:commandLink>
                                        </div>
                                    </div>
                                    <!--</h:form>-->
                                </div>
                            </h:panelGroup>

                            
                            <div class="panel panel-info">
                                <div class="panel-heading">                                 
                                    <h4> <i class="fa fa-tasks"></i> Esercizi </h4>
                                </div>
                                <div class="panel-body">
                                    
                                    
                                    <span class="title-16px text-success"> 
                                    <h:commandLink styleClass="btn btn-success btn-sm" action="#{AllenamentoBean.mostraDialogEserciziFase(1)}">
                                        <span class="fa fa-plus-circle"></span> Aggiungi <f:ajax render=":main-form:divEsercizi"/>
                                    </h:commandLink>
                                    &nbsp; ATTIVAZIONE MOTORIA &nbsp;                                    
                                    </span>

                                    <h:panelGroup layout="block" id="divEserciziFase1">
                                        <h:dataTable  id="tab-es-all-inseriti" styleClass="table table-striped table-margin" columnClasses="col-disegno" value="#{AllenamentoBean.allenamento.fase1}" var="e" rendered="#{!empty AllenamentoBean.allenamento.fase1}">
                                        <h:column>
                                            <img id="imageid" class="img-rounded" style="width: 350px;" src="#{BaseBean.urlSchemaEs(e.esercizio)}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">  </f:facet>
                                            <div style="width: 100%; padding: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12"><b>TITOLO: </b> <h:outputText styleClass="form-control" value="#{e.esercizio.titolo}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"><b>DURATA: </b> <h:outputText styleClass="form-control" value="#{e.esercizio.durata}"/> </div>
                                                <div class="col-xs-6"><b>PORTIERI: </b> <h:outputText styleClass="form-control" value="#{e.esercizio.portieri}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"><b class="text-success">Tecnica di Difesa</b> <h:outputText styleClass="form-control" value="#{e.esercizio.obDifI}"/> </div>
                                                <div class="col-xs-6"><b class="text-warning">Tecnica di Attacco</b>  <h:outputText styleClass="form-control" value="#{e.esercizio.obAttI}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"><b class="text-info">Cap. Coordinative</b> <h:outputText styleClass="form-control" value="#{e.esercizio.obCoord}"/> </div>
                                                <div class="col-xs-6"><b class="text-info">Cap. Condizionali</b> <h:outputText styleClass="form-control" value="#{e.esercizio.obCond}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><h:inputTextarea rows="2" styleClass="form-control" disabled="true" value="DESCRIZIONE/NOTE: #{e.esercizio.descrizione}"/> </div>
                                            </div>
                                            </div>
                                        </h:column>
                                        <h:column>
                                            <h:commandLink action="#{AllenamentoBean.allenamento.removeEsercizio(e)}" >
                                                <span class="fa fa-trash-o text-danger"></span>
                                                <f:ajax render=":main-form:divEserciziFase1"/>
                                            </h:commandLink>                                                   
                                        </h:column>
                                    </h:dataTable>
                                    </h:panelGroup>
                                    
                                    <hr/>
                                    <span class="title-16px text-info">                              
                                    <h:commandLink styleClass="btn btn-info btn-sm" action="#{AllenamentoBean.mostraDialogEserciziFase(2)}">
                                        <span class="fa fa-plus-circle"></span> Aggiungi <f:ajax render=":main-form:divEsercizi"/>
                                    </h:commandLink> 
                                        &nbsp; FASE CENTRALE - ANALITICA &nbsp;      </span>
                                    <h:panelGroup layout="block" id="divEserciziFase2">
                                    <h:dataTable  id="tab-es-all-inseritif2" styleClass="table table-striped table-margin" columnClasses="col-disegno"  value="#{AllenamentoBean.allenamento.fase2}" var="e" rendered="#{!empty AllenamentoBean.allenamento.fase2}">
                                        <h:column>
                                            <img id="imageid" class="img-rounded" style="width: 350px;" src="#{BaseBean.urlSchemaEs(e.esercizio)}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">  </f:facet>
                                            <div style="width: 100%; padding: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12"><b>TITOLO: </b> <h:outputText styleClass="form-control" value="#{e.esercizio.titolo}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"><b>DURATA: </b> <h:outputText styleClass="form-control" value="#{e.esercizio.durata}"/> </div>
                                                <div class="col-xs-6"><b>PORTIERI: </b> <h:outputText styleClass="form-control" value="#{e.esercizio.portieri}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"><b class="text-success">Tecnica di Difesa</b> <h:outputText styleClass="form-control" value="#{e.esercizio.obDifI}"/> </div>
                                                <div class="col-xs-6"><b class="text-warning">Tecnica di Attacco</b>  <h:outputText styleClass="form-control" value="#{e.esercizio.obAttI}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"><b class="text-info">Cap. Coordinative</b> <h:outputText styleClass="form-control" value="#{e.esercizio.obCoord}"/> </div>
                                                <div class="col-xs-6"><b class="text-info">Cap. Condizionali</b> <h:outputText styleClass="form-control" value="#{e.esercizio.obCond}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><h:inputTextarea rows="2" styleClass="form-control" disabled="true" value="DESCRIZIONE/NOTE: #{e.esercizio.descrizione}"/> </div>
                                            </div>
                                            </div>
                                        </h:column>
                                        <h:column>
                                            <h:commandLink action="#{AllenamentoBean.allenamento.removeEsercizio(e)}" >
                                                <span class="fa fa-trash-o text-danger"></span>
                                                <f:ajax render=":main-form:divEserciziFase2"/>
                                            </h:commandLink>                                                   
                                        </h:column>
                                    </h:dataTable>
                                    </h:panelGroup>
                                    
                                    <hr/>
                                    <span class="title-16px text-warning">                                    
                                    <h:commandLink styleClass="btn btn-warning btn-sm" action="#{AllenamentoBean.mostraDialogEserciziFase(3)}">
                                        <span class="fa fa-plus-circle"></span> Aggiungi <f:ajax render=":main-form:divEsercizi"/>
                                    </h:commandLink> 
                                        &nbsp; FASE CENTRALE - SITUAZIONALE &nbsp;</span>
                                    <h:panelGroup layout="block" id="divEserciziFase3">
                                    <h:dataTable  id="tab-es-all-inseritif3" styleClass="table table-striped table-margin" columnClasses="col-disegno"  value="#{AllenamentoBean.allenamento.fase3}" var="e" rendered="#{!empty AllenamentoBean.allenamento.fase3}">
                                        <h:column>
                                            <img id="imageid" class="img-rounded" style="width: 350px;" src="#{BaseBean.urlSchemaEs(e.esercizio)}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">  </f:facet>
                                            <div style="width: 100%; padding: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12"><b>TITOLO: </b> <h:outputText styleClass="form-control" value="#{e.esercizio.titolo}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"><b>DURATA: </b> <h:outputText styleClass="form-control" value="#{e.esercizio.durata}"/> </div>
                                                <div class="col-xs-6"><b>PORTIERI: </b> <h:outputText styleClass="form-control" value="#{e.esercizio.portieri}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"><b class="text-success">Tecnica di Difesa</b> <h:outputText styleClass="form-control" value="#{e.esercizio.obDifI}"/> </div>
                                                <div class="col-xs-6"><b class="text-warning">Tecnica di Attacco</b>  <h:outputText styleClass="form-control" value="#{e.esercizio.obAttI}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"><b class="text-info">Cap. Coordinative</b> <h:outputText styleClass="form-control" value="#{e.esercizio.obCoord}"/> </div>
                                                <div class="col-xs-6"><b class="text-info">Cap. Condizionali</b> <h:outputText styleClass="form-control" value="#{e.esercizio.obCond}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><h:inputTextarea rows="2" styleClass="form-control" disabled="true" value="DESCRIZIONE/NOTE: #{e.esercizio.descrizione}"/> </div>
                                            </div>
                                            </div>
                                        </h:column>
                                        <h:column>
                                            <h:commandLink action="#{AllenamentoBean.allenamento.removeEsercizio(e)}" >
                                                <span class="fa fa-trash-o text-danger"></span>
                                                <f:ajax render=":main-form:divEserciziFase3"/>
                                            </h:commandLink>                                                   
                                        </h:column>
                                    </h:dataTable>
                                    </h:panelGroup>
                                    <hr/>
                                    <span class="title-16px text-danger">                                   
                                    <h:commandLink styleClass="btn btn-danger btn-sm" action="#{AllenamentoBean.mostraDialogEserciziFase(4)}">
                                        <span class="fa fa-plus-circle"></span> Aggiungi <f:ajax render=":main-form:divEsercizi"/>
                                    </h:commandLink> 
                                        &nbsp; FASE FINALE - LAVORO CON SQUADRA/SCARICO &nbsp; </span>
                                    <h:panelGroup layout="block" id="divEserciziFase4">
                                    <h:dataTable  id="tab-es-all-inseritif4" styleClass="table table-striped table-margin" columnClasses="col-disegno"  value="#{AllenamentoBean.allenamento.fase4}" var="e" rendered="#{!empty AllenamentoBean.allenamento.fase4}">
                                        <h:column>
                                            <img id="imageid" class="img-rounded" style="width: 350px;" src="#{BaseBean.urlSchemaEs(e.esercizio)}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">  </f:facet>
                                            <div style="width: 100%; padding: 5px;">
                                            <div class="row">
                                                <div class="col-xs-12"><b>TITOLO: </b> <h:outputText styleClass="form-control" value="#{e.esercizio.titolo}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"><b>DURATA: </b> <h:outputText styleClass="form-control" value="#{e.esercizio.durata}"/> </div>
                                                <div class="col-xs-6"><b>PORTIERI: </b> <h:outputText styleClass="form-control" value="#{e.esercizio.portieri}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"><b class="text-success">Tecnica di Difesa</b> <h:outputText styleClass="form-control" value="#{e.esercizio.obDifI}"/> </div>
                                                <div class="col-xs-6"><b class="text-warning">Tecnica di Attacco</b>  <h:outputText styleClass="form-control" value="#{e.esercizio.obAttI}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"><b class="text-info">Cap. Coordinative</b> <h:outputText styleClass="form-control" value="#{e.esercizio.obCoord}"/> </div>
                                                <div class="col-xs-6"><b class="text-info">Cap. Condizionali</b> <h:outputText styleClass="form-control" value="#{e.esercizio.obCond}"/></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><h:inputTextarea rows="2" styleClass="form-control" disabled="true" value="DESCRIZIONE/NOTE: #{e.esercizio.descrizione}"/> </div>
                                            </div>
                                            </div>
                                        </h:column>
                                        <h:column>
                                            <h:commandLink  action="#{AllenamentoBean.allenamento.removeEsercizio(e)}" >
                                                <span class="fa fa-trash-o text-danger"></span>
                                                <f:ajax render=":main-form:divEserciziFase4"/>
                                            </h:commandLink>                                                   
                                        </h:column>
                                    </h:dataTable>
                                    </h:panelGroup>
                                </div>                        
                            </div>
                        </h:panelGroup>

                        <h:panelGroup layout="block" id="divGiocatori" rendered="#{!empty AllenamentoBean.giocatori}">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4> <i class="fa fa-child"></i> Portieri </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="div-giocatori-allenamento" >
                                        <o:dataTable id="tabella-giocatori" styleClass="tabella-giocatori-allenamento" value="#{AllenamentoBean.giocatori}" var="g" style="border: none;">
                                            <o:column>
                                                <div class="well  #{AllenamentoBean.allenamento.giocatori.contains(g) ? 'inserito' : 'non-inserito'} well-lista-giocatori-all">


                                                    <h:commandLink action="#{AllenamentoBean.allenamento.addGiocatore(g)}" rendered="#{!AllenamentoBean.allenamento.giocatori.contains(g)}">
                                                        <span class="fa fa-plus-circle" style="font-size: 16px;"></span> <b>#{g.nome} #{g.cognome}</b>
                                                        <f:ajax render=":main-form:divGiocatori"/>
                                                    </h:commandLink>
                                                    <h:commandLink action="#{AllenamentoBean.allenamento.removeGiocatore(g)}" rendered="#{AllenamentoBean.allenamento.giocatori.contains(g)}">
                                                        <i class="fa fa-minus-circle" style="font-size: 16px;"></i> <b>#{g.nome} #{g.cognome}</b>
                                                        <f:ajax render=":main-form:divGiocatori"/>
                                                    </h:commandLink>
                                                     <br/>

                                                    <div class="div-all-giocatori-image" align="center">
                                                        <img id="imageid" class="all-giocatori-image img-rounded"  src="#{BaseBean.urlImmagini}#{g.foto}" />
                                                    </div>
                                                </div>
                                            </o:column>
                                        </o:dataTable>
                                    </div>
                                </div>
                            </div>
                        </h:panelGroup>


                        <h:commandLink onclick="preventDialogModifiche()" class="btn btn-primary" action="#{AllenamentoBean.modificaAllenamento()}" value="Salva"/> &nbsp;
                        <h:commandLink class="btn btn-default" action="calendario.xhtml?faces-redirect=true" value="Annulla" immediate="true"/>

                    </h:form>


                    <h:form rendered="#{AllenamentoBean.allenamento==null}">   

                        <br/>
                        <h:commandLink action="calendario.xhtml?faces-redirect=true" value="Torna al calendario" styleClass="btn btn-default" />

                    </h:form>
                    <!-- /.row -->

                    <br/> <br/>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </body>

</html>
