<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Modifica Esercizio</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <style type="text/css">
               #container { position: relative; }
               #imageView { border: 0px solid #428BCA; border-radius: 0px; }
               #imageTemp { position: absolute; top: 1px; left: 1px; }
               #background{ display: none;}
        
               .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
                   border-color: #428BCA #428BCA transparent;
                   background-color: #428BCA;
                   color: #FFF;
               }
        
        </style>
        
        <script>
            
            function noop(event) {
                event.stopPropagation();
                event.preventDefault();
            }

            function upload(file, type) {
                
                document.getElementById("tableProgress").style.display = 'inline';

                var formData = new FormData();
                formData.append("file", file);

                var xhr = new XMLHttpRequest();
                xhr.upload.addEventListener("progress", uploadProgress, false);
                xhr.addEventListener("load", uploadComplete, false);
                var url = "#{request.scheme}://#{request.serverName}:#{request.serverPort}#{request.contextPath}/FileUploadServlet?type=schema";
                xhr.open("POST", url, true); // If async=false, then you'll miss progress bar support.
                xhr.send(formData);
                                
            }

            function uploadProgress(event) {
                // Note: doesn't work with async=false.
                var progress = Math.round(event.loaded / event.total * 100);
                //                document.getElementById("status").innerHTML = "Progress " + progress + "%";
                
                var bar = document.getElementById('progressBar');
                var status = document.getElementById('statusPB');
                status.innerHTML = progress+"%";
                bar.value = progress;             
                      
                
            }

            function uploadComplete(event) {
                var result = event.target.responseText;
                //                alert(result);

                document.getElementById("tableProgress").style.display = 'none';
                
                if(result == '1'){
                    document.getElementById("status").innerHTML = 'ERRORE: formato non riconosciuto, è possibile caricare solo file in formato png jpg jpeg e gif';
                    document.getElementById("imageid").src="";
                    document.getElementById("imageid").style.display = 'none';
                }else if(result == '2'){
                    document.getElementById("status").innerHTML = 'ERRORE: si è verificato un errore nel caricamento del file';
                    document.getElementById("imageid").src="";
                    document.getElementById("imageid").style.display = 'none';
                }else{
                    //                    alert("caricato file "+result);
                    
//                    document.getElementById("status").innerHTML = 'File caricato correttamente!';
                    document.getElementById("status").innerHTML = '';  
                    $("#main-form\\:pathfile").val(result); 
                    $("#main-form\\:pathfilehidden").val(result); 
                    document.getElementById("imageid").style.display = 'inline';
                    document.getElementById("imageid").src='#{BaseBean.urlImmagini}'+result;
                }
               
            }
            
            $("document").ready(function(){ 
                initializeInputFile();               
                
            });
                        
            function initializeInputFile() { 
                $("#myFileInput").change(function() {
                    var files = $('#myFileInput').prop('files');
                    //<![CDATA[
                    for (var i = 0; i < files.length; i++) {
                        upload(files[i], 'image');
                    }
                    //]]>
                });
            }
         
        </script>

    </h:head>
    
    <f:metadata>
        <f:viewParam id="idEsercizio" name="idEsercizio" value="#{EsercizioBean.idEsercizio}" /> 
        <f:event type="preRenderView" listener="#{EsercizioBean.caricaEsericizio()}"/>
    </f:metadata>
   

    <body onload="initialize()">

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                    <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; <i class="fa fa-edit"></i> Modifica Esercizio</a>     
                
            </div>
            <ui:include src="../include/menu-staff-top-right.xhtml"/>        
            <ui:include src="../include/menu-staff.xhtml"/> 
        </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                     <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-tasks"></i>  <a href="esercizi.xhtml">Esercizi</a>
                                </li>
                                <li class="active">
                                    <i class="fa fa-edit"></i> Modifica Esercizio
                                </li>
                            </ol>
                    
                    <ui:include src="../include/messaggi.xhtml"/> 
                        
                    <h:form id="main-form" rendered="#{EsercizioBean.esercizio!=null}">     

                        <script>
                            $("document").ready(function(){ 
                                $('#myTab a').click(function (e) {
                                    e.preventDefault()
                                    $(this).tab('show')
                                });
                            });
                        </script>
                            
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active "><a href="#grafico">Schema</a></li>
                            <li><a href="#dettagli">Dettagli</a></li>
                        </ul>
                            
                        <div id='content' class="tab-content">
                            <div class="tab-pane active" id="grafico">

                                

                                <div id="container" style="float: left;">                    
                                    <canvas id="imageView" width="800" height="500" >
                                        <p>Il browser che stai utilizzando non supporta l'elemento grafico presente in questa pagina.</p>
                                        <p>Per poter utilizzare l'applicazione utilizza uno dei browser supportati: <br/>
                                            <a href="http://www.mozilla.com">Firefox</a>, 
                                            <a href="http://www.apple.com/safari">Safari</a>,
                                            <a href="http://www.opera.com">Opera</a>, 
                                            <a href="http://www.konqueror.org">Konqueror</a>.</p>
                                    </canvas>
                                </div>
                    
                                <div style="float: left;">
                                    <div class="panel  panel-es-elements">
                                        <div class="panel-body">
                                          
                                        <ui:repeat varStatus="status" value="#{EsercizioBean.oggetti}" var="o">
                                        
                                            <div class="img-rounded img-es-list-container" align="center">
                                                <img src="../images/es/#{o.path}" id="img#{o.id}" onclick="clickSuElemento('img#{o.id}')"/>
                                            </div>
                                    </ui:repeat>
                                        
                                            <div class="img-rounded img-es-list-container" align="center">
                                            <img src="../images/es/curva.png" id="curva" onclick="clickSuElemento('curva')" />
                                            </div>
                                            <div class="img-rounded img-es-list-container" align="center">
                                            <img src="../images/es/linea.png" id="linea" onclick="clickSuElemento('linea')" />
                                            </div>
                                    
                                  
                                        </div>
                                        <div class="panel-footer" align="right">
                                            
                                            <h:commandLink value="Annulla" styleClass="btn btn-warning" action="esercizi.xhtml?faces-redirect=true" />
                                            &nbsp;
                                            <h:commandLink onclick="loadDataToSave()" value="Salva e Esci" styleClass="btn btn-primary" action="#{EsercizioBean.modificaEsercizio()}" />
                                            &nbsp;
                                            <a href="#dettagli" onclick="apriDettagli()" class="btn btn-success">Dettagli <i class="fa fa-chevron-circle-right"></i></a>
                                             
                                            <script> 
                                                function apriDettagli(){
                                                    $('#myTab a[href="#dettagli"]').tab('show')
                                                }
                                            </script>
                                        
                                        </div>
                                      </div>
                                </div>
                                    
                                <h:inputHidden id="base64img" value="#{EsercizioBean.encodedImage}"/>
                                <div style="display: none">
                                    <canvas id="imageViewSave" width="800" height="500"></canvas>     
                                </div>
                                    
                                <img id="background" src="../images/es/campo-calcio.png"/>
          <script>
                                    
            var zoom = 1;            
            var origleft = 400;
            var origtop = 250;
            
            var background = document.getElementById('background');
            
            var drawing = false;
            var selectedImage = null;
            var selectedFreccia = null;
            var x0 = null;
            var y0 = null;
            var x1 = null;
            var y1 = null;
            var imageId = null;
            
            var updating = false;
            var selectedElementIndex;
            var selectedPointIndex;
            var delta = 10;
          
           
            function addListener(){             

//                canvas.addEventListener('dblclick',   doubleClickFunction, false);
                
                canvas.addEventListener('click',   mousedownFunction, false);

//                canvas.addEventListener('mouseup', mouseupFunction, false);
//
//                canvas.addEventListener('mousedown', mousedownFunction, false);
                canvas.addEventListener('mousemove', mousemoveFunction, false);
                
                window.addEventListener( "keydown", doKeyDown, false);
               

//                // IE9, Chrome, Safari, Opera
//                canvas.addEventListener("mousewheel", MouseWheelHandler, false);
//                // Firefox
//                canvas.addEventListener("DOMMouseScroll", MouseWheelHandler, false);
//                // IE 6/7/8
//                canvas.attachEvent("onmousewheel", MouseWheelHandler);

            };
            
            
            function doKeyDown(e) {
                if(document.activeElement instanceof HTMLBodyElement){
//                alert(e.keyCode);
                if(e.keyCode == 8){ // canc  
                    if (drawing) {
                        e.preventDefault();
                        context.clearRect(0, 0, canvas.width, canvas.height);
                        reset();                        
                    }else if(updating){
                        if(!confirm('Eliminare l\'elemento selezionato?')){                        
                            e.preventDefault();                       
                        }else{
                            e.preventDefault(); 
                            context.clearRect(0, 0, canvas.width, canvas.height);
                            var formData = {deleteElementIndex: selectedElementIndex}; // parametri da passare  
                            aggiornaDati(formData);
                        }
                    }else{
                        if(!confirm('Vuoi davvero abbandonare la pagina?  Tutti i dati inseriti saranno persi.'))
                        e.preventDefault();
                    }
                }
                }
            }
            
            
                        
            function mousedownFunction(ev){     
                canvas.style.cursor='pointer';
                ev = calcolaCoordinateClick(ev)
                if (drawing) {
                    context.clearRect(0, 0, canvas.width, canvas.height);
                    if(selectedImage){
                        disegnaImmagine(selectedImage, ev._x, ev._y);
                        var formData = {type: imageId, x0: ev._x, y0: ev._y}; // parametri da passare  
                        aggiornaDati(formData);
                    }else if(selectedFreccia == 'curva'){
                        if(!x0){
                            x0 = ev._x;
                            y0 = ev._y;
                            return;
                        }else if(!x1){
                            x1 = ev._x;
                            y1 = ev._y;
                            return;
                        }else{
                            context.beginPath();
                            context.moveTo(x0,y0);
                            context.quadraticCurveTo(x1,y1,ev._x,ev._y);                            
                            drawArrow(context,x1,y1,ev._x,ev._y);                            
                            context.stroke();
                            var formData = {type: 'curva', x0: x0, y0: y0, x1: x1, y1: y1, x2: ev._x, y2: ev._y}; // parametri da passare  
                            aggiornaDati(formData);                                 
                        }
                    }else if(selectedFreccia == 'linea'){
                        if(!x0){
                            x0 = ev._x;
                            y0 = ev._y;
                            return;
                        }else{
                            context.beginPath();
                            context.lineTo(x0,y0);
                            context.lineTo(ev._x,ev._y);                            
                            drawArrow(context,x0,y0,ev._x,ev._y);                            
                            context.stroke();
                            var formData = {type: 'linea', x0: x0, y0: y0, x1: ev._x, y1: ev._y}; // parametri da passare  
                            aggiornaDati(formData);                        
                        }
                    }
                    img_update ();
                    drawing = false;
                    selectedImage = null;
                    selectedFreccia = null;
                    x0 = null;
                    y0 = null; 
                    x1 = null;
                    y1 = null; 
                }else if(updating){
                    // codice updating image o freccia 
                    context.clearRect(0, 0, canvas.width, canvas.height);
                    if(elementi[selectedElementIndex].tipo == 'curva'){
                        if(selectedPointIndex == 0){
                            x0 = ev._x; y0 = ev._y; 
                            x1 = elementi[selectedElementIndex].vertici[1].x; y1 = elementi[selectedElementIndex].vertici[1].y;
                            x2 = elementi[selectedElementIndex].vertici[2].x; y2 = elementi[selectedElementIndex].vertici[2].y;
                        }else if(selectedPointIndex == 1){
                            x0 = elementi[selectedElementIndex].vertici[0].x; y0 = elementi[selectedElementIndex].vertici[0].y;
                            x1 = ev._x; y1 = ev._y; 
                            x2 = elementi[selectedElementIndex].vertici[2].x; y2 = elementi[selectedElementIndex].vertici[2].y;
                        }else{
                            x0 = elementi[selectedElementIndex].vertici[0].x; y0 = elementi[selectedElementIndex].vertici[0].y;
                            x1 = elementi[selectedElementIndex].vertici[1].x; y1 = elementi[selectedElementIndex].vertici[1].y;
                            x2 = ev._x; y2 = ev._y; 
                        }
                        context.beginPath();
                        context.lineTo(x0,y0);
                        context.lineTo(x1, y1);
                        context.lineTo(x2,y2); 
                        drawArrow(context,x1,y1,x2,y2); 
                        context.stroke();     
                    }else if(elementi[selectedElementIndex].tipo == 'linea'){
                        context.beginPath();
                        if(selectedPointIndex == 0){                            
                             context.lineTo(ev._x,ev._y);
                             context.lineTo(elementi[selectedElementIndex].vertici[1].x,elementi[selectedElementIndex].vertici[1].y);
                             drawArrow(context,ev._x,ev._y, elementi[selectedElementIndex].vertici[1].x,elementi[selectedElementIndex].vertici[1].y); 
                        }else{
                            context.lineTo(elementi[selectedElementIndex].vertici[0].x,elementi[selectedElementIndex].vertici[0].y);
                            context.lineTo(ev._x,ev._y);
                            drawArrow(context,elementi[selectedElementIndex].vertici[1].x,elementi[selectedElementIndex].vertici[1].y,ev._x,ev._y); 
                        }
                        context.stroke();                       
                    }else{
                        var image = document.getElementById(elementi[selectedElementIndex].tipo);
                        context.drawImage(image, ev._x-(image.naturalWidth/2), ev._y-(image.naturalHeight/2));
                    }
                    var formData = {selectedElementIndex: selectedElementIndex, selectedPointIndex: selectedPointIndex, x0: ev._x, y0: ev._y}; // parametri da passare  
                    aggiornaDati(formData); 
                    img_update ();
                    updating = false;
                    selectedElementIndex = null;
                    selectedPointIndex = null;
                    
                }else{
                    if(controllaClick(ev)){ridisegnaElementi(ev);}
                }
            };
            
            function mousemoveFunction(ev){
                ev = calcolaCoordinateClick(ev);
                if (drawing) {                   
                    if(selectedImage){
                        context.clearRect(0, 0, canvas.width, canvas.height);                   
                        context.drawImage(selectedImage, ev._x-(selectedImage.naturalWidth/2), ev._y-(selectedImage.naturalHeight/2));
                    }else
                    if(selectedFreccia=='curva'){
                        if(x0){                            
                            context.clearRect(0, 0, canvas.width, canvas.height);   
                            context.beginPath();
                            context.lineTo(x0,y0);
                            if(x1){
                                context.lineTo(x1, y1);
                            }
                            context.lineTo(ev._x,ev._y); 
                            if(x1){
                                 drawArrow(context,x1,y1,ev._x,ev._y); 
                            }else{ 
                                drawArrow(context,x0,y0,ev._x,ev._y); 
                            }
                            context.stroke();
                        }
                    }else if(selectedFreccia=='linea'){                       
                        if(x0){                            
                            context.clearRect(0, 0, canvas.width, canvas.height);   
                            context.beginPath();
                            context.lineTo(x0,y0);
                            context.lineTo(ev._x,ev._y);
                            drawArrow(context,x0,y0,ev._x,ev._y); 
                            context.stroke();
                        }
                    }
                }else if(updating){  
                    context.clearRect(0, 0, canvas.width, canvas.height);
                    if(elementi[selectedElementIndex].tipo == 'curva'){
                        if(selectedPointIndex == 0){
                            x0 = ev._x; y0 = ev._y; 
                            x1 = elementi[selectedElementIndex].vertici[1].x; y1 = elementi[selectedElementIndex].vertici[1].y;
                            x2 = elementi[selectedElementIndex].vertici[2].x; y2 = elementi[selectedElementIndex].vertici[2].y;
                        }else if(selectedPointIndex == 1){
                            x0 = elementi[selectedElementIndex].vertici[0].x; y0 = elementi[selectedElementIndex].vertici[0].y;
                            x1 = ev._x; y1 = ev._y; 
                            x2 = elementi[selectedElementIndex].vertici[2].x; y2 = elementi[selectedElementIndex].vertici[2].y;
                        }else{
                            x0 = elementi[selectedElementIndex].vertici[0].x; y0 = elementi[selectedElementIndex].vertici[0].y;
                            x1 = elementi[selectedElementIndex].vertici[1].x; y1 = elementi[selectedElementIndex].vertici[1].y;
                            x2 = ev._x; y2 = ev._y; 
                        }
                        context.beginPath();
                        context.lineTo(x0,y0);
                        context.lineTo(x1, y1);
                        context.lineTo(x2,y2); 
                        drawArrow(context,x1,y1,x2,y2); 
                        context.stroke();
                    }else if(elementi[selectedElementIndex].tipo == 'linea'){
                        context.beginPath();
                        if(selectedPointIndex == 0){                            
                             context.lineTo(ev._x,ev._y);
                             context.lineTo(elementi[selectedElementIndex].vertici[1].x,elementi[selectedElementIndex].vertici[1].y);
                             drawArrow(context,ev._x,ev._y, elementi[selectedElementIndex].vertici[1].x,elementi[selectedElementIndex].vertici[1].y); 
                        }else{
                            context.lineTo(elementi[selectedElementIndex].vertici[0].x,elementi[selectedElementIndex].vertici[0].y);
                            context.lineTo(ev._x,ev._y);
                            drawArrow(context,elementi[selectedElementIndex].vertici[1].x,elementi[selectedElementIndex].vertici[1].y,ev._x,ev._y); 
                        }
                        context.stroke();                       
                    }else{
                        var image = document.getElementById(elementi[selectedElementIndex].tipo);
                        context.drawImage(image, ev._x-(image.naturalWidth/2), ev._y-(image.naturalHeight/2));
                    }
                }
            };
            
            function mouseupFunction(ev){   
                    ev = calcolaCoordinateClick(ev);
                    alert('mouseup su '+ev._x+' , '+ev._y);                    
            };  
            
            function doubleClickFunction(ev){
                if(drawing){
                    drawing = false;
                }
                if(updating){
                    updating = false;
                }
                ev = calcolaCoordinateClick(ev)
                alert('doubleClick su '+ev._x+' , '+ev._y);
            };
            
            function singleClickFunction(ev){
                ev = calcolaCoordinateClick(ev)
                alert('click su '+ev._x+' , '+ev._y);
            };
            
            function MouseWheelHandler(e){
                var zoomOld = zoom;
                var e = window.event || e; // old IE support
                var deltaMouseWheel = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));
                var ev = calcolaCoordinateClick(e);                
                var p = scalaCm(ev._x, ev._y);                
                if(zoom + deltaMouseWheel>0){                    
                    zoom = zoom + deltaMouseWheel;                     
                    origtop = canvas.height - ev._y - p.y*pixelXM/scala*zoom;                    
                    origleft = ev._x - p.x*pixelXM/scala*zoom;                    
                    aggiornaValoriZoom();                    
                    initialize();
                }
            }   
            
            function zoomPiu(){
                zoom = zoom + 1;            
                aggiornaValoriZoom();                
                initialize();
            };
            
            function zoomMeno(){
                if(zoom>1){
                    zoom = zoom - 1;
                    aggiornaValoriZoom();                    
                    initialize();
                }
            };
            
            function aggiornaValoriZoom(){
                document.getElementById('inputZoom').value = zoom;
                document.getElementById('inputOrigLeft').value = origleft;
                document.getElementById('inputOrigTop').value = origtop;                
            };
            
            function clickSuElemento(el){
                if(el == 'linea'){   
                    selectedFreccia = el;
                    x0 = null;
                    y0 = null;
                    x1 = null;
                    y1 = null;
                    selectedImage = null;
                }else if(el == 'curva'){
                    selectedFreccia = el;
                    x0 = null;
                    y0 = null;
                    x1 = null;
                    y1 = null;
                    selectedImage = null;
                }else{
                    imageId = el;
                    selectedImage = document.getElementById(el);
                    selectedFreccia = null;
                }
                drawing = true;                
            }
                        
            function caricaElementi(){
                //<![CDATA[
                if (!(typeof elementi !== 'undefined' && elementi.length > 0)) {
                   $.ajax({
                    url : "#{EsercizioBean.updateUrl}",
                    type: "GET",
                    data : {},
                    dataType: "json",
                    success: function(data){                        
                        elementi = [];
                        for (var i in data){ 
                            var p = new Object();
                            p.tipo = data[i].tipo;
                            var vertici = [];
                            var punti = data[i].punti;
                            for (var j in punti){ 
                                var point = new Object();
                                point.x = punti[j].x;
                                point.y = punti[j].y;
                                vertici.push(point);  
                            }
                            p.vertici = vertici; 
                            elementi.push(p);
                        } 
                        disegnaElementi();
                    }
                });  
                }else{
                    disegnaElementi();
                }
                //]]>                 
            }
            
            function aggiornaDati(formData){
                $.ajax({
                    url : "#{EsercizioBean.updateUrl}",
                    type: "GET",
                    data : formData,
                    dataType: "json",
                    success: function(data){
                        console.log('data ',data);
                        
                        elementi = [];
                        for (var i in data){ 
                            var p = new Object();
                            p.tipo = data[i].tipo;
                            var vertici = [];
                            var punti = data[i].punti;
                            for (var j in punti){ 
                                var point = new Object();
                                point.x = punti[j].x;
                                point.y = punti[j].y;
                                vertici.push(point);  
                            }
                            p.vertici = vertici; 
                            elementi.push(p);
                        } 
                        
                        console.log('elementi ',elementi);
                        reset();
                    }
                });               
            }
            
            function reset(){
                drawing = false;
                selectedImage = null;
                selectedFreccia = null;
                x0 = null;
                y0 = null; 
                x1 = null;
                y1 = null;
                updating = false;
                selectedElementIndex = null;
                selectedPointIndex = null;                    
                initialize();
            }
            
        </script>
                           </div>
                            <div class="tab-pane tab-pane-margin" id="dettagli">
                                
                                <div class="row">
                                    <div class="form-group">

                                        <div class="col-md-5">
                                            <h4>Foto </h4>
                                            <input type="file"  id="myFileInput" style="max-width: 100%"/>
                                            <h:inputText id="pathfile" disabled="true" value="#{EsercizioBean.esercizio.fileCaricato}" class="form-control" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                            <h:inputHidden id="pathfilehidden" value="#{EsercizioBean.esercizio.fileCaricato}"/>
                                        </div>
                                        <div class="col-md-4">
                                            <table id="tableProgress"  width="100%" style="display: none;">
                                                <tr><td><progress id="progressBar" value="0" max="100" style="width:250px;"></progress></td>
                                                    <td><span id="statusPB"></span></td>
                                                </tr> 
                                            </table>
                                            <div id="status"></div>
                                            <img id="imageid" class="img-rounded img-giocatore-anteprima" src="#{BaseBean.urlSchemaEs(EsercizioBean.esercizio)}" />  
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Titolo</label>
                                            <h:inputText class="form-control" value="#{EsercizioBean.esercizio.titolo}">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label></label>
                                            <div class="checkbox">
                                                <h:selectBooleanCheckbox  value="#{EsercizioBean.esercizio.pubblico}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Condiviso
                                            </div>   
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Descrizione</label>
                                            <h:inputTextarea class="form-control" value="#{EsercizioBean.esercizio.descrizione}">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputTextarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Occorrente</label>
                                            <h:inputTextarea class="form-control" value="#{EsercizioBean.esercizio.occorrente}">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputTextarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Obiettivo primario</label>
                                            <h:inputText class="form-control" value="#{EsercizioBean.esercizio.obiettivoPrimario}">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Obiettivo secondario</label>
                                            <h:inputText class="form-control" value="#{EsercizioBean.esercizio.obiettivoSecondario}">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Categorie &nbsp;</label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{EsercizioBean.esercizio.tutti}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Tutti
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{EsercizioBean.esercizio.primaSquadra}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Prima squadra
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{EsercizioBean.esercizio.juniores}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Juniores
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{EsercizioBean.esercizio.allievi}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Allievi
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{EsercizioBean.esercizio.giovanissimi}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Giovanissimi
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{EsercizioBean.esercizio.esordienti}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Esordienti
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{EsercizioBean.esercizio.pulcini}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Pulcini
                                        </label>
                                        <label class="checkbox-inline">
                                            <h:selectBooleanCheckbox  value="#{EsercizioBean.esercizio.primiCalci}">
                                                    <f:ajax event="change" execute="@this"/>
                                                </h:selectBooleanCheckbox>Primi calci
                                        </label>
                                    </div>
                                    </div>
                                </div>
                                                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Numero giocatori</label>
                                            <h:inputText class="form-control" value="#{EsercizioBean.esercizio.numeroGiocatori}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Numero serie</label>
                                            <h:inputText class="form-control" value="#{EsercizioBean.esercizio.numeroSerie}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Numero recuperi</label>
                                            <h:inputText class="form-control" value="#{EsercizioBean.esercizio.numeroRecuperi}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Minuti esercitazione</label>
                                            <h:inputText class="form-control" value="#{EsercizioBean.esercizio.minutiEsercitazione}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Minuti recupero</label>
                                            <h:inputText class="form-control" value="#{EsercizioBean.esercizio.minutiRecupero}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <h:commandLink onclick="loadDataToSave()" value="Salva Modifiche" styleClass="btn btn-primary" action="#{EsercizioBean.modificaEsercizio()}" />
                                &nbsp; 
                                <h:commandLink value="Annulla" styleClass="btn btn-warning" action="esercizi.xhtml?faces-redirect=true" />
                                
                            </div>
                        </div>    
                        
                        
                    </h:form>


                    <h:form rendered="#{EsercizioBean.esercizio==null}">   

                        <br/>
                        <h:commandLink action="esercizi.xhtml?faces-redirect=true" value="Torna alla lista degli esercizi" styleClass="btn btn-default" />

                    </h:form>
                    <!-- /.row -->

                    <br/> <br/>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->


        <script type="text/javascript" src="../js/canvas/initialize.js"></script>

    </body>

</html>
