<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Nuovo Portiere</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <script src="../js/bootstrap-datepicker.js"/>
        <link rel="stylesheet" type="text/css" href="../css/datepicker.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        <script src="../js/bootstrap-select.min.js"/>    
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-select.min.css" media="screen" />

        <script>
            
            jQuery.noConflict();
            
            function noop(event) {
                event.stopPropagation();
                event.preventDefault();
            }

            function upload(file, type) {
                
                document.getElementById("tableProgress").style.display = 'inline';

                var formData = new FormData();
                formData.append("file", file);

                var xhr = new XMLHttpRequest();
                xhr.upload.addEventListener("progress", uploadProgress, false);
                xhr.addEventListener("load", uploadComplete, false);
                var url = "#{request.scheme}://#{request.serverName}:#{request.serverPort}#{request.contextPath}/FileUploadServlet";
                xhr.open("POST", url, true); // If async=false, then you'll miss progress bar support.
                xhr.send(formData);
                                
            }

            function uploadProgress(event) {
                // Note: doesn't work with async=false.
                var progress = Math.round(event.loaded / event.total * 100);
                //                document.getElementById("status").innerHTML = "Progress " + progress + "%";
                
                var bar = document.getElementById('progressBar');
                var status = document.getElementById('statusPB');
                status.innerHTML = progress+"%";
                bar.value = progress;             
                      
                
            }

            function uploadComplete(event) {
                var result = event.target.responseText;
                //                alert(result);

                document.getElementById("tableProgress").style.display = 'none';
                
                if(result == '1'){
                    document.getElementById("status").innerHTML = 'ERRORE: formato non riconosciuto, è possibile caricare solo file in formato png jpg jpeg e gif';
                    document.getElementById("imageid").src="";
                    document.getElementById("imageid").style.display = 'none';
                }else if(result == '2'){
                    document.getElementById("status").innerHTML = 'ERRORE: si è verificato un errore nel caricamento del file';
                    document.getElementById("imageid").src="";
                    document.getElementById("imageid").style.display = 'none';
                }else{
                    //                    alert("caricato file "+result);
                    
//                    document.getElementById("status").innerHTML = 'File caricato correttamente!';
                    document.getElementById("status").innerHTML = '';  
                    jQuery("#main-form\\:pathfile").val(result); 
                    jQuery("#main-form\\:pathfilehidden").val(result); 
                    document.getElementById("imageid").style.display = 'inline';
                    document.getElementById("imageid").src='#{BaseBean.urlImmagini}'+result;
                }
               
            }
            
            jQuery("document").ready(function(){ 
                initializeInputFile();               
                
            });
                        
            function initializeInputFile() { 
                jQuery("#myFileInput").change(function() {
                    var files = jQuery('#myFileInput').prop('files');
                    //<![CDATA[
                    for (var i = 0; i < files.length; i++) {
                        upload(files[i], 'image');
                    }
                    //]]>
                });
            }
         
        </script>
        
        <script>
	    jQuery.noConflict();

            // se viene modificato un campo input imposta changed a true
            jQuery(function () {                
                jQuery("#main-form :input").change(function() {
                    jQuery("#main-form").data("changed",true);
                });                
            });

            // rimette changed a false (si chiama quando clicca sul bottone per inviare il form)
            function preventDialogModifiche(){
                jQuery("#main-form").data("changed",false);         
            }
            
            // prima di uscire dalla pagina mostra un dialog per richiedere la conferma
            window.onbeforeunload = function () {
               if (jQuery("#main-form").data("changed")) {
                    return "I dati inseriti potrebbero non essere stati salvati.";
                }
            };            
        </script>

    </h:head>

    <f:metadata>
        <f:event type="preRenderView" listener="#{GiocatoreBean.initGiocatore()}"/>
    </f:metadata>

    <body>

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                    <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                        <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                    <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; <i class="fa fa-plus-circle"></i> Nuovo Portiere</a>     
                </div>
                <ui:include src="../include/menu-staff-top-right.xhtml"/> 
                <ui:include src="../include/menu-staff.xhtml"/> 
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-users"></i>  <a href="giocatori.xhtml">Portieri</a>
                                </li>
                                <li class="active">
                                    <i class="fa fa-plus-circle"></i> Nuovo Portiere
                                </li>
                            </ol>
                    
                    <ui:include src="../include/messaggi.xhtml"/> 

                    <h:form id="main-form" rendered="#{GiocatoreBean.giocatore!=null}">     
                        
                        <script>
                            jQuery(function() {
                               jQuery('.selectpicker').selectpicker({size: false});
                            });
                        </script>                       
                        
                        <div class="row">
                            <div class="form-group">
                                
                                <div class="col-md-5">
                                    <h4>Gruppo </h4>
                                    <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.gruppo}">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputText>
                                       
                                    <h4>Foto *</h4>
                                    <input type="file"  id="myFileInput" style="max-width: 100%"/>
                                    <h:inputText id="pathfile" disabled="true" value="#{GiocatoreBean.giocatore.foto}" class="form-control" required="true" requiredMessage="Caricare la foto del giocatore ">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputText>
                                    <h:inputHidden id="pathfilehidden" value="#{GiocatoreBean.giocatore.foto}"/>                             
                                        
                                </div>
                                <div class="col-md-4">
                                    <table id="tableProgress"  width="100%" style="display: none;">
                                        <tr><td><progress id="progressBar" value="0" max="100" style="width:250px;"></progress></td>
                                            <td><span id="statusPB"></span></td>
                                        </tr> 
                                    </table>
                                    <div id="status"></div>
                                    <img id="imageid" class="img-rounded img-giocatore-anteprima" style="display: none;" src="" />  
                                </div>
                            </div>
                        </div>
                        <hr/>                        

                        <div class="panel panel-info">
                            <div class="panel-heading"> 
                                Dati anagrafici
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Nome*</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.nome}" required="true" requiredMessage="Nome: campo obbligatorio">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Cognome*</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.cognome}" required="true" requiredMessage="Cognome: campo obbligatorio">
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <h:inputText id="Email" label="Email" class="form-control" value="#{GiocatoreBean.giocatore.email}" validator="emailFieldValidator" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Cellulare</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.cellulare}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>                       

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Ruolo</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.ruolo}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Piede</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.piede}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Data di nascita</label>
                                            <h:inputText class="form-control date" value="#{GiocatoreBean.giocatore.dataNascita}" >
                                                <f:convertDateTime pattern="MM/dd/yyyy" locale="IT" timeZone="CET"/>>
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                            <script type="text/javascript">
                                                jQuery(document).ready(function () {
                                                    jQuery('.date').datepicker({
                                                        format: "MM/dd/yyyy",
                                                        language: "it",
                                                        changeYear: true,                                    
                                                        changeMonth: true,                                      
                                                        dayNamesMin: ["Do", "Lu", "Ma", "Me", "Gi", "Ve", "Sa"],                                     
                                                        monthNamesShort: ["Gennaio","Febbraio","Marzo","Aprile","Maggio","Giugno","Luglio","Agosto","Settembre","Ottobre","Novembre","Dicembre"],                                   
                                                        firstDay: 1,
                                                        showMonthAfterYear: true,
                                                        yearRange: "-100:+0"
                                                    });                              
                                                });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Luogo di nascita</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.luogoNascita}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Regione residenza</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.residenzaRegione}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Provincia residenza</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.residenzaProvincia}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Citt&agrave; residenza</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.residenzaCitta}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label>Via residenza</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.residenzaVia}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>CAP residenza</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.residenzaCap}" >
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>                               
                            </div>                        
                        </div>


                        <div class="panel panel-success">
                            <div class="panel-heading">
                                Rilevazioni antropometriche
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Peso</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.peso}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Altezza</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.altezza}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Statura seduto</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.altezzaSeduto}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>                       
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Circ. Torace</label>
                                            <h:inputText class="form-control" value="#{GiocatoreBean.giocatore.torace}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText>
                                        </div>
                                    </div>   
                                </div>
                                
                                <table class="table table-bordered table-condensed">
                                    <tr>
                                        <th class="active"></th>
                                        <th class="active">Coscia max</th>
                                        <th class="active">Coscia media</th>
                                        <th class="active">Coscia min</th>
                                        <th class="active">Gamba</th>
                                    </tr>
                                    <tr>
                                        <th class="active">Dx</th>
                                        <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.cosciaMaxDx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText></td>
                                        <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.cosciaMediaDx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText></td>
                                        <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.cosciaMinDx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText></td>
                                        <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.gambaDx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText></td>
                                    </tr>
                                    <tr>
                                        <th class="active">Sx</th>
                                        <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.cosciaMaxSx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText></td>
                                        <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.cosciaMediaSx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText></td>
                                        <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.cosciaMinSx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText></td>
                                        <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.gambaSx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                <f:ajax event="change" execute="@this" />
                                            </h:inputText></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        Valutazione Tecnica
                                    </div>
                                    <div class="panel-body">

                                        <table class="table table-bordered table-condensed">
                                            <tr>
                                                <th class="active">Gesto Tecnico </th>
                                                <th class="active" width="70px">Dx</th>
                                                <th class="active" width="70px">Sx</th>
                                            </tr>
                                            <tr>
                                                <th>Postura di att.</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.posturaAttDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.posturaAttSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Presa</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.presaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.presaSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Raccolta</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.raccoltaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.raccoltaSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Tuffo per stris.</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.tuffoStrisDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.tuffoStrisSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Tuffo traiet alt.</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.tuffoTraietAltDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.tuffoTraietAltSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>1vs1</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.unoVSunoDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.unoVSunoSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Uscita bassa</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.uscitaBassaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.uscitaBassaSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Uscita alta</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.uscitaAltaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.uscitaAltaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                        
                                            </tr> 
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        Valutazione in Gara
                                    </div>
                                    <div class="panel-body">

                                        <table class="table table-bordered table-condensed" style="margin-bottom: 13px;">
                                            <tr>
                                                <th class="active">Abilità mentali </th>
                                                <th class="active" width="70px">Giudizio</th>
                                            </tr>
                                            <tr>
                                                <th>Gest. Press. Gara.</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.gestPresGara}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                       
                                            </tr>  
                                            <tr>
                                                <th>Comunicazione</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.comunicazione}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                       
                                            </tr>  
                                            <tr>
                                                <th>Problem Solving</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.problemSolving}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                       
                                            </tr>
                                            <tr>
                                                <th>Sicurezza/Insicurezza</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.sicurezzaInsicurezza}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                       
                                            </tr>
                                        </table>
                                        
                                        <table class="table table-bordered table-condensed">
                                            <tr>
                                                <th class="active">Situazioni di gioco </th>
                                                <th class="active" width="70px">Giudizio</th>
                                            </tr>
                                            <tr>
                                                <th>Efficacia</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.efficacia}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                       
                                            </tr> 
                                            <tr>
                                                <th>Reazione event. errore</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.reazEventErrore}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                       
                                            </tr> 
                                            <tr>
                                                <th>Partecipazione al gioco</th>
                                                <td><h:inputText class="form-control" value="#{GiocatoreBean.giocatore.partecipazioneGioco}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                        <f:ajax event="change" execute="@this" />
                                                    </h:inputText></td>                                       
                                            </tr> 
                                        </table>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Valutazione Capacità Coordinative</label>
                                    <h:inputTextarea rows="2" class="form-control" value="#{GiocatoreBean.giocatore.valCapCoord}">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputTextarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Valutazione Capacità Condizionali</label>
                                    <h:inputTextarea rows="2" class="form-control" value="#{GiocatoreBean.giocatore.valCapCondiz}">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputTextarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Note caratteriali e psico-cognitive</label>
                                    <h:inputTextarea rows="2" class="form-control" value="#{GiocatoreBean.giocatore.note}">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputTextarea>
                                </div>
                            </div>
                        </div>

                        <h:commandLink onclick="preventDialogModifiche()" class="btn btn-primary" action="#{GiocatoreBean.insertGiocatore()}" value="Inserisci"/> &nbsp;
                        <h:commandLink class="btn btn-default" action="squadra.xhtml?faces-redirect=true" value="Annulla" immediate="true"/>

                    </h:form>


                    <h:form rendered="#{GiocatoreBean.giocatore==null}">   

                        <br/>
                        <h:commandLink action="squdra.xhtml?faces-redirect=true" value="Torna alla squadra" styleClass="btn btn-default" />

                    </h:form>
                    <!-- /.row -->

                    <br/> <br/>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </body>

</html>
