<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Programma obiettivi</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>
        
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/data.js"></script>
        <script src="http://code.highcharts.com/modules/drilldown.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        

    </h:head>

    <f:metadata>
        <f:event type="preRenderView" listener="#{ProgrammaObiettiviBean.caricaProgrammi()}"/>
    </f:metadata>

    <h:body rendered="#{LoginBean.subscription!=null and LoginBean.subscription.accessoAreaTecnica()}">

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                    <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                        <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                    <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp;  Programma</a>     
                </div>
                <ui:include src="../include/menu-staff-top-right.xhtml"/> 
                <ui:include src="../include/menu-staff.xhtml"/> 
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <ol class="breadcrumb">
                                <li class="active">
                                    <h:graphicImage class="icona-custom" value="/images/icone/grigie/data-analytics.png"></h:graphicImage>  Programma
                                </li>
                            </ol>
                    
                    <ui:include src="../include/messaggi.xhtml"/> 
                    
                    
                        <div style="width: 100%" class="divstampa" align="right">
                            <a onclick="window.print();" class="btn btn-danger btn-sm"> <i class="fa fa-print"></i> Stampa</a>
                        </div>
                  
                                                    
                <div class="row">
                    <div class="col-lg-12">
                        
                        <h3 align="center" style="margin-top: 0px;">Stagione <h:outputText value="#{LoginBean.utente.stagione.inizio}">
                                <f:convertDateTime pattern="MMMMMMMMMMMMMMM yyyy" locale="IT"/>
                            </h:outputText> - <h:outputText value="#{LoginBean.utente.stagione.fine}">
                                <f:convertDateTime pattern="MMMMMMMMMMMMMMM yyyy" locale="IT"/>
                            </h:outputText></h3>
                        <hr/>
                        <h:panelGroup rendered="#{!LoginBean.utente.stagione.programmaInserito()}">
                            <h:form>
                            <h4 style="color: rgb(0, 149, 182);"> Non hai ancora inserito il programma di allenamento per la stagione 
                                <h:outputText value="#{LoginBean.utente.stagione.inizio}">
                                    <f:convertDateTime timeZone="CET" pattern="MM/YYYY"/>
                                </h:outputText> - 
                                <h:outputText value="#{LoginBean.utente.stagione.fine}">
                                    <f:convertDateTime timeZone="CET" pattern="MM/YYYY"/>
                                </h:outputText>
                                    
                            </h4>
                            
                            <p>Crealo adesso inserendo le percentuali sul totale per cui desideri allenare ogni obiettivo. (La somma deve fare 100)</p>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tecnica di Attacco %</label>
                                        <h:inputText class="form-control" value="#{LoginBean.utente.stagione.attacco}" 
                                                     required="true" requiredMessage="Specificare la percentuale di allenamento della tecnica di attacco">
                                            <f:convertNumber maxFractionDigits="2" locale="IT"/>
                                        </h:inputText>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tecnica di Difesa %</label>
                                        <h:inputText class="form-control" value="#{LoginBean.utente.stagione.difesa}" 
                                                     required="true" requiredMessage="Specificare la percentuale di allenamento della tecnica di difesa">
                                            <f:convertNumber maxFractionDigits="2" locale="IT"/>
                                        </h:inputText>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tattica %</label>
                                        <h:inputText class="form-control" value="#{LoginBean.utente.stagione.tattico}" 
                                                     required="true" requiredMessage="Specificare la percentuale di allenamento della tattica">
                                            <f:convertNumber maxFractionDigits="2" locale="IT"/>
                                        </h:inputText>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cap. Coordinative %</label>
                                        <h:inputText class="form-control" value="#{LoginBean.utente.stagione.coordinativo}" 
                                                     required="true" requiredMessage="Specificare la percentuale di allenamento delle capacità coordinativo">
                                            <f:convertNumber maxFractionDigits="2" locale="IT"/>
                                        </h:inputText>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cap. Condizionali %</label>
                                        <h:inputText class="form-control" value="#{LoginBean.utente.stagione.condizionale}" 
                                                     required="true" requiredMessage="Specificare la percentuale di allenamento delle capacità condizionali">
                                            <f:convertNumber maxFractionDigits="2" locale="IT"/>
                                        </h:inputText>
                                    </div>
                                </div>
                            </div>
                            
                            <h:commandLink action="#{ProgrammaObiettiviBean.inserisciPercentualiStagione()}" value="Salva" styleClass="btn btn-primary"/>
                            
                            </h:form>
                            <br/>
                        </h:panelGroup>
                        
                        
                        <h:panelGroup rendered="#{ProgrammaObiettiviBean.progMesi!=null and !empty ProgrammaObiettiviBean.progMesi}" layout="block" class="table-responsive">
                        
                            <h4 class="text-warning">Percentuali programma allenamento stagione</h4>
                            <table class="table">
                                <tr>
                                    <td> <b>Attacco</b> &nbsp; <h:outputText value="#{LoginBean.utente.stagione.attacco}">
                                            <f:convertNumber maxFractionDigits="2" locale="IT"/>
                                        </h:outputText>% </td>
                                    <td> <b>Difesa</b> &nbsp; <h:outputText value="#{LoginBean.utente.stagione.difesa}">
                                            <f:convertNumber maxFractionDigits="2" locale="IT"/>
                                        </h:outputText>% </td>
                                    <td> <b>Tattica</b> &nbsp; <h:outputText value="#{LoginBean.utente.stagione.tattico}">
                                            <f:convertNumber maxFractionDigits="2" locale="IT"/>
                                        </h:outputText>% </td>
                                    <td> <b>Cap. Coordinative</b> &nbsp; <h:outputText value="#{LoginBean.utente.stagione.coordinativo}">
                                            <f:convertNumber maxFractionDigits="2" locale="IT"/>
                                        </h:outputText>% </td>
                                    <td> <b>Cap. Condizionali</b> &nbsp; <h:outputText value="#{LoginBean.utente.stagione.condizionale}">
                                            <f:convertNumber maxFractionDigits="2" locale="IT"/>
                                        </h:outputText>% </td>
                                </tr>
                            </table>

                            <h:form> 

                                <script>        
                            function creaGrafico(div, title ,datiGrafico){  
                                
                                $(function () {
                                    $(div).highcharts({
                                        chart: {
                                            plotBackgroundColor: null,
                                            plotBorderWidth: null,
                                            plotShadow: false
                                        },
                                        title: {
                                            text: title
                                        },
                                        tooltip: {
                                            pointFormat: '{series.name}: \n\
                                                   <b>{point.percentage:.1f}%</b> ({point.y}) '
                                        },
                                        plotOptions: {
                                            pie: {
                                                allowPointSelect: true,
                                                cursor: 'pointer',
                                                startAngle: 270,
                                                dataLabels: {
                                                    enabled: true,
                                                    color: '#000000',
                                                    connectorColor: '#000000',
                                                    format: '<b>{point.name}</b>:  {point.percentage:.1f} %'
                                                }
                                            }
                                        },
                                        series:  [{
                                                type: 'pie',
                                                name: 'Percentuale',
                                                data: datiGrafico
                                            }] 
                                    });
                                });          
                            };
                            
                                       
                        
        </script>

                                
                                
                            <table class="table table-bordered table-hover table-striped table-responsive">
                            <tr> <th>Programma</th> 
                                <th width="80px"> </th>
                                <th width="80px"> </th>
                            </tr>
                                <ui:repeat value="#{ProgrammaObiettiviBean.progMesi}" var="pg" varStatus="status">
                                    <tr>
                                        <td><div id="mese-donut#{status.index}" style="height: 250px;"></div>
                                            <script>
                                                $(function() {
                                                        var dati = [];         
                                                        var stat = [  'Tecnica di Attacco', parseFloat('#{pg.attacco}') ];
                                                        dati.push(stat);   

                                                        var stat = [  'Tecnica di Difesa', parseFloat('#{pg.difesa}') ];
                                                        dati.push(stat);

                                                        var stat = [  'Cap. Coordinative', parseFloat('#{pg.coordinativo}') ];
                                                        dati.push(stat);   

                                                        var stat = [  'Cap. Condizionali', parseFloat('#{pg.condizionale}') ];
                                                        dati.push(stat);   

                                                        var stat = [  'Ob. Tattico', parseFloat('#{pg.tattico}') ];
                                                        dati.push(stat);  

                                                        creaGrafico('#mese-donut#{status.index}', '#{pg.nomeMese()}', dati);
                                                });     
                                            </script>
                                        </td>
                                        <td width="80px">
                                           <h:link outcome="statistiche-prog-mese.xhtml?faces-redirect=true" styleClass="btn btn-info">
                                            <i class="fa fa-bar-chart-o"></i> Mese
                                            <f:param name="mese"  value="#{pg.mese}"/>
                                            <f:param name="anno"  value="#{pg.anno}"/>
                                        </h:link> 
                                            
                                        </td>
                                        <td width="80px">
                                           <h:link outcome="modifica-prog-mese.xhtml?faces-redirect=true" styleClass="btn btn-warning">
                                            <i class="fa fa-edit"></i> Modifica
                                            <f:param name="pid"  value="#{pg.id}"/>
                                        </h:link> 
                                            
                                        </td>
                                    </tr>
                            </ui:repeat> 
                        </table>
                        </h:form>
                            
                        </h:panelGroup>
                        
                        <div class="jumbotron">
                            <p>                      
                        La tua bussola personale dipende
dal tuo programma di lavoro. La
scelta delle abilità da allenare o
qualunque sia la tua idea di lavoro
sarà sempre sotto controllo grazie
al tuo programma di lavoro
facilmente consultabile e sempre
a disposizione. Con i grafici a torta
saprai sempre la percentuale di
lavoro destinata alla singola
categoria specifica e ti servirà per
confrontarla con i grafici
consuntivi che ti daranno una
fotografia reale del lavoro svolto in
relazione al lavoro programmato.
Gestire la tua stagione in modo
professionale non è mai stato cosi
semplice ed immediato! Tutto
quello di cui hai bisogno ovunque
e sempre a portata di click!
                            </p></div>
                    </div>                   
                </div>
                    
                
                       
                    <!-- /.row -->

                    <br/> <br/>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </h:body>

</html>
