<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Portiere</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <script src="../js/bootstrap-datepicker.js"/>
        <link rel="stylesheet" type="text/css" href="../css/datepicker.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        <script src="../js/bootstrap-select.min.js"/>    
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-select.min.css" media="screen" />

       
    </h:head>

    <f:metadata>
        <f:viewParam id="idGiocatore" name="idGiocatore" value="#{GiocatoreBean.idGiocatore}" /> 
        <f:event type="preRenderView" listener="#{GiocatoreBean.initSchedaGiocatore()}"/>
    </f:metadata>

    <body>

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                    <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; <i class="fa fa-user"></i> Portiere</a>     
                
            </div>
            <ui:include src="../include/menu-staff-top-right.xhtml"/>       
            <ui:include src="../include/menu-staff.xhtml"/> 
        </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <ol class="breadcrumb">
                                <li >
                                    <i class="fa fa-users"></i>  <a href="giocatori.xhtml">Portieri</a>
                                </li>
                                <li class="active">
                                    <i class="fa fa-user"></i> Portiere
                                </li>
                    </ol>
                    
                    <ui:include src="../include/messaggi.xhtml"/> 

                    <h:form id="main-form" rendered="#{GiocatoreBean.giocatore!=null}">     
                        <div class="row row-condividistampa">
<!--                            <div class="col-md-8" >
                                <h4> #{GiocatoreBean.giocatore.nome} #{GiocatoreBean.giocatore.cognome} </h4>
                            </div>-->
                            <!--<div class="col-md-4" align="right" style="padding-top: 5px;">-->
                            
                        </div>
                        
                        <div class="row">
                            <div class="col-md-2">
                                    <img id="imageid" class="img-rounded" style="max-width: 160px" src="#{BaseBean.urlImmagini}#{GiocatoreBean.giocatore.foto}" />  
                                </div>
                            <div class="col-md-10">
                                <table class="table table-striped">
                                    <tr><td><b>Portiere: </b></td>
                                        <td>#{GiocatoreBean.giocatore.nome} #{GiocatoreBean.giocatore.cognome}</td></tr>
                                    <tr><td><b>Email: </b></td>
                                        <td>#{GiocatoreBean.giocatore.email}</td></tr>
                                    <tr><td><b>Cellulare: </b></td>
                                        <td>#{GiocatoreBean.giocatore.cellulare}</td></tr>
                                    <tr><td><b>Ruolo:</b></td>
                                        <td>#{GiocatoreBean.giocatore.ruolo}</td></tr>
                                    <tr><td><b>Piede:</b></td>
                                        <td>#{GiocatoreBean.giocatore.piede}</td></tr>
                                    <tr><td><b>Nato:</b></td>
                                        <td><h:outputText value=" a " rendered="#{GiocatoreBean.giocatore.luogoNascita!=null}"/> 
                                            #{GiocatoreBean.giocatore.luogoNascita} 
                                            <h:outputText value=" il " rendered="#{GiocatoreBean.giocatore.dataNascita!=null}"/> 
                                            <h:outputText value="#{GiocatoreBean.giocatore.dataNascita}">
                                                <f:convertDateTime pattern="MM/dd/yyyy" locale="IT" timeZone="CET"/>                                                
                                            </h:outputText>
                                        </td></tr>
                                    <tr><td><b>Residenza: </b></td>
                                        <td>#{GiocatoreBean.giocatore.residenzaRegione} 
                                            #{GiocatoreBean.giocatore.residenzaProvincia} 
                                            #{GiocatoreBean.giocatore.residenzaCitta} 
                                            #{GiocatoreBean.giocatore.residenzaVia} 
                                            #{GiocatoreBean.giocatore.residenzaCap}                                            
                                        </td></tr>
                                </table>
                            </div>
                        </div>
                        
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                Rilevazioni antropometriche
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Peso</label>
                                            <h:outputText class="form-control" value="#{GiocatoreBean.giocatore.peso}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Altezza</label>
                                            <h:outputText class="form-control" value="#{GiocatoreBean.giocatore.altezza}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Statura seduto</label>
                                            <h:outputText class="form-control" value="#{GiocatoreBean.giocatore.altezzaSeduto}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText>
                                        </div>
                                    </div>                       
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Circ. Torace</label>
                                            <h:outputText class="form-control" value="#{GiocatoreBean.giocatore.torace}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText>
                                        </div>
                                    </div>   
                                </div>
                                
                                <table class="table table-bordered table-condensed">
                                    <tr>
                                        <th class="active"></th>
                                        <th class="active">Coscia max</th>
                                        <th class="active">Coscia media</th>
                                        <th class="active">Coscia min</th>
                                        <th class="active">Gamba</th>
                                    </tr>
                                    <tr>
                                        <th class="active">Dx</th>
                                        <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.cosciaMaxDx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                        <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.cosciaMediaDx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                        <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.cosciaMinDx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                        <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.gambaDx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                    </tr>
                                    <tr>
                                        <th class="active">Sx</th>
                                        <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.cosciaMaxSx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                        <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.cosciaMediaSx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                        <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.cosciaMinSx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                        <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.gambaSx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        Valutazione Tecnica
                                    </div>
                                    <div class="panel-body">

                                        <table class="table table-bordered table-condensed">
                                            <tr>
                                                <th class="active">Gesto Tecnico </th>
                                                <th class="active" width="70px">Dx</th>
                                                <th class="active" width="70px">Sx</th>
                                            </tr>
                                            <tr>
                                                <th>Postura di att.</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.posturaAttDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.posturaAttSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Presa</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.presaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.presaSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Raccolta</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.raccoltaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.raccoltaSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Tuffo per stris.</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.tuffoStrisDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.tuffoStrisSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Tuffo traiet alt.</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.tuffoTraietAltDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.tuffoTraietAltSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>1vs1</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.unoVSunoDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.unoVSunoSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Uscita bassa</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.uscitaBassaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.uscitaBassaSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Uscita alta</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.uscitaAltaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.uscitaAltaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        Valutazione in Gara
                                    </div>
                                    <div class="panel-body">

                                        <table class="table table-bordered table-condensed" style="margin-bottom: 13px;">
                                            <tr>
                                                <th class="active">Abilità mentali </th>
                                                <th class="active" width="70px">Giudizio</th>
                                            </tr>
                                            <tr>
                                                <th>Gest. Press. Gara.</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.gestPresGara}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr>  
                                            <tr>
                                                <th>Comunicazione</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.comunicazione}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr>  
                                            <tr>
                                                <th>Problem Solving</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.problemSolving}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr>
                                            <tr>
                                                <th>Sicurezza/Insicurezza</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.sicurezzaInsicurezza}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr>
                                        </table>
                                        
                                        <table class="table table-bordered table-condensed">
                                            <tr>
                                                <th class="active">Situazioni di gioco </th>
                                                <th class="active" width="70px">Giudizio</th>
                                            </tr>
                                            <tr>
                                                <th>Efficacia</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.efficacia}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr> 
                                            <tr>
                                                <th>Reazione event. errore</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.reazEventErrore}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr> 
                                            <tr>
                                                <th>Partecipazione al gioco</th>
                                                <td><h:outputText class="form-control" value="#{GiocatoreBean.giocatore.partecipazioneGioco}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr> 
                                        </table>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Valutazione Capacità Coordinative</label>
                                    <h:inputTextarea disabled="true" rows="2" class="form-control" value="#{GiocatoreBean.giocatore.valCapCoord}">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputTextarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Valutazione Capacità Condizionali</label>
                                    <h:inputTextarea disabled="true" rows="2" class="form-control" value="#{GiocatoreBean.giocatore.valCapCondiz}">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputTextarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Note caratteriali e psico-cognitive</label>
                                    <h:inputTextarea disabled="true" rows="2" class="form-control" value="#{GiocatoreBean.giocatore.note}">
                                        <f:ajax event="change" execute="@this" />
                                    </h:inputTextarea>
                                </div>
                            </div>
                        </div>
                        
                        
                        <h:link outcome="modifica-giocatore.xhtml?faces-redirect=true" styleClass="btn btn-warning">
                            <i class="fa fa-edit"></i> Modifica
                            <f:param name="idGiocatore" value="#{GiocatoreBean.giocatore.id}"/>
                        </h:link> &nbsp;
                        <h:commandLink class="btn btn-default" action="giocatori.xhtml?faces-redirect=true" value="Indietro" immediate="true"/>

                    </h:form>


                    <h:form rendered="#{GiocatoreBean.giocatore==null}">   

                        <br/>
                        <h:commandLink action="squadra.xhtml?faces-redirect=true" value="Torna alla squadra" styleClass="btn btn-default" />

                    </h:form>
                    <!-- /.row -->
                    
                    <br/> <br/>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </body>

</html>
