<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:o="http://openfaces.org/" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Allenamento</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <script src="../js/bootstrap-datepicker.js"/>
        <link rel="stylesheet" type="text/css" href="../css/datepicker.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        <script src="../js/bootstrap-select.min.js"/>    
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-select.min.css" media="screen" />

    </h:head>

    <f:metadata>
        <f:viewParam id="idAllenamento" name="idAllenamento" value="#{AllenamentoBean.idAllenamento}" /> 
        <f:event type="preRenderView" listener="#{AllenamentoBean.initVisualizzaAllenamento()}"/>
    </f:metadata>

    <body>

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                    <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                        <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                    <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; <i class="fa fa-calendar-o"></i> Allenamento</a>     
                </div>
                <ui:include src="../include/menu-staff-top-right.xhtml"/> 
                <ui:include src="../include/menu-staff.xhtml"/> 
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <ol class="breadcrumb">
                                <li>
                                    <i class="fa fa-calendar"></i>  <a href="calendario.xhtml">Calendario</a>
                                </li>
                                <li class="active">
                                    <i class="fa fa-calendar-o"></i> Allenamento
                                </li>
                            </ol>
                    
                    <h:form id="main-form" rendered="#{AllenamentoBean.allenamento!=null}">     
                        
                        <div class="row row-condividistampa">
                            <div class="col-md-8" >
                                <h4> #{AllenamentoBean.allenamento.titolo} </h4>
                            </div>
                            
                        </div>
                        
                        <ui:include src="../include/messaggi.xhtml"/> 
                        
                        <table class="table table-striped">
                            <tr><td><b>Orario:</b></td>
                                <td> <h:outputText value="#{AllenamentoBean.allenamento.dataInizio}" >
                                        <f:convertDateTime pattern="MM/dd/yyyy" locale="IT" timeZone="CET"/></h:outputText>
                                    dalle <h:outputText value="#{AllenamentoBean.allenamento.dataInizio}" >
                                        <f:convertDateTime pattern="HH:mm" locale="IT" timeZone="CET"/></h:outputText>
                                    alle <h:outputText value="#{AllenamentoBean.allenamento.dataFine}" >
                                        <f:convertDateTime pattern="HH:mm" locale="IT" timeZone="CET"/></h:outputText>
                                </td></tr>
                            <tr><td><b>Descrizione: </b></td>
                                <td>#{AllenamentoBean.allenamento.descrizione}</td></tr>
                            <tr><td><b>Ob Tec: </b></td>
                                <td>#{AllenamentoBean.allenamento.obTec}</td></tr>
                            <tr><td><b>Ob Fis: </b></td>
                                <td>#{AllenamentoBean.allenamento.obFis}</td></tr>
                            <tr><td><b>Ob Tat: </b></td>
                                <td>#{AllenamentoBean.allenamento.obTat}</td></tr>
                            <tr><td><b>Ob Psi: </b></td>
                                <td>#{AllenamentoBean.allenamento.obPsi}</td></tr>
                        </table>  
                        
                        <h4>MATERIALE ALLENAMENTO</h4>
                          
                        <table class="table table-striped">
                            <ui:repeat value="#{AllenamentoBean.allenamento.materiali}" var="m">
                            <tr><td><b>#{m.materiale} </b></td>
                                <td>#{m.quantita}</td></tr>
                            </ui:repeat>
                        </table>
                        

                        <h:panelGroup layout="block" rendered="#{!empty AllenamentoBean.allenamento.fase1}">
                        <div class="panel panel-success">
                            <div class="panel-heading">                                 
                                <h4 class="zeromargin"> <i class="fa fa-tasks"></i> ATTIVAZIONE MOTORIA </h4>
                            </div>
                            <div class="panel-body">                                
                                <h:dataTable  value="#{AllenamentoBean.allenamento.fase1}" var="e" style="border: none;width: 100%">
                                    <h:column>                                        
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img id="imageid" class="img-rounded" style="max-width: 100%" src="#{BaseBean.urlSchemaEs(e.esercizio)}" />  
                                            </div>
                                            <div class="col-md-8">
                                                <h4>#{e.esercizio.titolo}</h4>
                                                <table class="table table-striped">
                                                    <tr><td><b>N° Portieri:</b></td>
                                                        <td>#{e.esercizio.portieri}</td> 
                                                        <td><b>Ripetizioni:</b></td>
                                                        <td>#{e.esercizio.ripetizioni}</td></tr>
                                                    <tr><td><b>Durata totale:</b></td>
                                                        <td>#{e.esercizio.durata}</td> 
                                                        <td><b>N° stazioni/gruppi:</b></td>
                                                        <td>#{e.esercizio.stazioniGruppi}</td></tr>
                                                    <tr><td><b>Recupero:</b></td>
                                                        <td>#{e.esercizio.recupero}</td> 
                                                        <td><b>Serie:</b></td>
                                                        <td>#{e.esercizio.serie}</td></tr>
                                                </table>                                                    
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                            <b>Descrizione:</b><br/>
                                            #{e.esercizio.descrizione}
                                            </div>
                                        </div>
                                        <hr style="margin-top: 0px;"/>
                                    </h:column>
                                </h:dataTable>
                            </div>                        
                        </div>
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" rendered="#{!empty AllenamentoBean.allenamento.fase2}">
                        <div class="panel panel-info">
                            <div class="panel-heading">                                 
                                <h4 class="zeromargin"> <i class="fa fa-tasks"></i> FASE CENTRALE - ANALITICA </h4>
                            </div>
                            <div class="panel-body">                                
                                <h:dataTable  value="#{AllenamentoBean.allenamento.fase2}" var="e" style="border: none; width: 100%">
                                    <h:column>                                        
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img id="imageid" class="img-rounded" style="max-width: 100%" src="#{BaseBean.urlSchemaEs(e.esercizio)}" />  
                                            </div>
                                            <div class="col-md-8">
                                                <h4>#{e.esercizio.titolo}</h4>
                                                <table class="table table-striped">
                                                    <tr><td><b>N° Portieri:</b></td>
                                                        <td>#{e.esercizio.portieri}</td> 
                                                        <td><b>Ripetizioni:</b></td>
                                                        <td>#{e.esercizio.ripetizioni}</td></tr>
                                                    <tr><td><b>Durata totale:</b></td>
                                                        <td>#{e.esercizio.durata}</td> 
                                                        <td><b>N° stazioni/gruppi:</b></td>
                                                        <td>#{e.esercizio.stazioniGruppi}</td></tr>
                                                    <tr><td><b>Recupero:</b></td>
                                                        <td>#{e.esercizio.recupero}</td> 
                                                        <td><b>Serie:</b></td>
                                                        <td>#{e.esercizio.serie}</td></tr>
                                                </table>                                                    
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                            <b>Descrizione:</b><br/>
                                            #{e.esercizio.descrizione}
                                            </div>
                                        </div>
                                        
                                        <hr style="margin-top: 0px;"/>
                                    </h:column>
                                </h:dataTable>
                            </div>                        
                        </div>
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" rendered="#{!empty AllenamentoBean.allenamento.fase3}">
                        <div class="panel panel-warning">
                            <div class="panel-heading">                                 
                                <h4 class="zeromargin"> <i class="fa fa-tasks"></i> FASE CENTRALE - SITUAZIONALE </h4>
                            </div>
                            <div class="panel-body">                                
                                <h:dataTable  value="#{AllenamentoBean.allenamento.fase3}" var="e" style="border: none; width: 100%">
                                    <h:column>                                        
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img id="imageid" class="img-rounded" style="max-width: 100%" src="#{BaseBean.urlSchemaEs(e.esercizio)}" />  
                                            </div>
                                            <div class="col-md-8">
                                                <h4>#{e.esercizio.titolo}</h4>
                                                <table class="table table-striped">
                                                    <tr><td><b>N° Portieri:</b></td>
                                                        <td>#{e.esercizio.portieri}</td> 
                                                        <td><b>Ripetizioni:</b></td>
                                                        <td>#{e.esercizio.ripetizioni}</td></tr>
                                                    <tr><td><b>Durata totale:</b></td>
                                                        <td>#{e.esercizio.durata}</td> 
                                                        <td><b>N° stazioni/gruppi:</b></td>
                                                        <td>#{e.esercizio.stazioniGruppi}</td></tr>
                                                    <tr><td><b>Recupero:</b></td>
                                                        <td>#{e.esercizio.recupero}</td> 
                                                        <td><b>Serie:</b></td>
                                                        <td>#{e.esercizio.serie}</td></tr>
                                                </table>                                                    
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                            <b>Descrizione:</b><br/>
                                            #{e.esercizio.descrizione}
                                            </div>
                                        </div>
                                        <hr style="margin-top: 0px;"/>
                                    </h:column>
                                </h:dataTable>
                            </div>                        
                        </div>
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" rendered="#{!empty AllenamentoBean.allenamento.fase4}">
                        <div class="panel panel-danger">
                            <div class="panel-heading">                                 
                                <h4 class="zeromargin"> <i class="fa fa-tasks"></i> FASE FINALE - LAVORO CON SQUADRA/SCARICO </h4>
                            </div>
                            <div class="panel-body">                                
                                <h:dataTable  value="#{AllenamentoBean.allenamento.fase4}" var="e" style="border: none; width: 100%">
                                    <h:column>                                        
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img id="imageid" class="img-rounded" style="max-width: 100%" src="#{BaseBean.urlSchemaEs(e.esercizio)}" />  
                                            </div>
                                            <div class="col-md-8">
                                                <h4>#{e.esercizio.titolo}</h4>
                                                <table class="table table-striped">
                                                    <tr><td><b>N° Portieri:</b></td>
                                                        <td>#{e.esercizio.portieri}</td> 
                                                        <td><b>Ripetizioni:</b></td>
                                                        <td>#{e.esercizio.ripetizioni}</td></tr>
                                                    <tr><td><b>Durata totale:</b></td>
                                                        <td>#{e.esercizio.durata}</td> 
                                                        <td><b>N° stazioni/gruppi:</b></td>
                                                        <td>#{e.esercizio.stazioniGruppi}</td></tr>
                                                    <tr><td><b>Recupero:</b></td>
                                                        <td>#{e.esercizio.recupero}</td> 
                                                        <td><b>Serie:</b></td>
                                                        <td>#{e.esercizio.serie}</td></tr>
                                                </table>                                                    
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                            <b>Descrizione:</b><br/>
                                            #{e.esercizio.descrizione}
                                            </div>
                                        </div>
                                        <hr style="margin-top: 0px;"/>
                                    </h:column>
                                </h:dataTable>
                            </div>                        
                        </div>
                        </h:panelGroup>

                        <h:panelGroup layout="block" id="divGiocatori" rendered="#{!empty AllenamentoBean.allenamento.giocatori}">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="zeromargin"> <i class="fa fa-child"></i> Portieri </h4>
                                </div>
                                <div class="panel-body">
                                    <h:dataTable id="tabella-giocatori" value="#{AllenamentoBean.allenamento.giocatori}" var="g" style="border: none; width: 100%">
                                        <h:column>
                                            <div class="row">
                                                <div class="col-md-2" align="center">
                                                    <img id="imageid" class="img-rounded" style="height: 80px;" src="#{BaseBean.urlImmagini}#{g.foto}" />  
                                                </div>
                                                <div class="col-md-5">
                                                    <table class="table table-striped">
                                                        <tr><td><b>Portiere: </b></td>
                                                            <td>#{g.nome} #{g.cognome}</td></tr>
                                                        <tr><td><b>Cellulare: </b></td>
                                                            <td>#{g.cellulare}</td></tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-5">
                                                    <table class="table table-striped">
                                                        <tr><td><b>Ruolo: </b></td>
                                                            <td>#{g.ruolo}</td></tr>
                                                        <tr><td><b>Piede: </b></td>
                                                            <td>#{g.piede}</td></tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <hr style="margin-top: 0px;"/>
                                        </h:column>
                                        </h:dataTable>
                                </div>
                            </div>
                        </h:panelGroup>
                        
                        <h:link outcome="modifica-allenamento.xhtml?faces-redirect=true" styleClass="btn btn-warning">
                            <i class="fa fa-edit"></i> Modifica
                            <f:param name="idAllenamento" id="idAllenamento" value="#{AllenamentoBean.allenamento.id}"/>
                        </h:link>
                        &nbsp;
                        <h:commandLink class="btn btn-default" action="calendario.xhtml?faces-redirect=true" value="Indietro" immediate="true"/>

                      
                    </h:form>


                    <h:form rendered="#{AllenamentoBean.allenamento==null}">   

                        <br/>
                        <h:commandLink action="calendario.xhtml?faces-redirect=true" value="Torna al calendario" styleClass="btn btn-default" />

                    </h:form>
                    <!-- /.row -->

                    <br/> <br/>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </body>

</html>
