<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:o="http://openfaces.org/" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Partita</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <script src="../js/bootstrap-datepicker.js"/>
        <link rel="stylesheet" type="text/css" href="../css/datepicker.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        <script src="../js/bootstrap-select.min.js"/>    
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-select.min.css" media="screen" />

    </h:head>

    <f:metadata>
        <f:viewParam id="idPartita" name="idPartita" value="#{PartitaBean.idPartita}" /> 
        <f:event type="preRenderView" listener="#{PartitaBean.initVisualizzaPartita()}"/>
    </f:metadata>

    <body>

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                    <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                        <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                    <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; <i class="fa fa-calendar-o"></i> Partita</a>     
                </div>
                <ui:include src="../include/menu-staff-top-right.xhtml"/> 
                <ui:include src="../include/menu-staff.xhtml"/> 
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <ol class="breadcrumb">
                                <li>
                                    <i class="fa fa-calendar"></i>  <a href="calendario.xhtml">Calendario</a>
                                </li>
                                <li class="active">
                                    <i class="fa fa-calendar-o"></i> Partita
                                </li>
                            </ol>
                    
                    <h:form id="main-form" rendered="#{PartitaBean.partita!=null}">  
                        
                        <div style="width: 100%; margin-bottom: 10px;" class="divstampa" align="right">
                            <h:commandLink onclick="window.print();" class="btn btn-danger btn-sm"> <i class="fa fa-print"></i> Stampa</h:commandLink>
                        </div>
                    
                    
                    <div class="row row-condividistampa">
                        <div class="col-xs-2" >
                            <h:panelGroup rendered="#{!empty PartitaBean.partita.avversario.stemma and PartitaBean.partita.luogo.equals('Trasferta')}">
                                <img id="imageid" class="img-rounded" style="height: 100px;" src="#{BaseBean.urlImmagini}#{PartitaBean.partita.avversario.stemma}" />
                            </h:panelGroup>
                            <h:panelGroup rendered="#{!empty LoginBean.utente.societa.stemma and (PartitaBean.partita.luogo==null or PartitaBean.partita.luogo.equals('Casa'))}">
                                <img id="imageid" class="img-rounded" style="height: 100px;" src="#{BaseBean.urlImmagini}#{LoginBean.utente.societa.stemma}" />
                            </h:panelGroup>
                        </div>
                        <div class="col-xs-8" align="center">
                            <h3> 
                                <h:outputText value=" #{LoginBean.utente.societa.nome} vs #{PartitaBean.partita.avversario.nome}" rendered="#{PartitaBean.partita.luogo==null or PartitaBean.partita.luogo.equals('Casa')}"/>
                                <h:outputText value=" #{PartitaBean.partita.avversario.nome} vs #{LoginBean.utente.societa.nome}" rendered="#{PartitaBean.partita.luogo.equals('Trasferta')}"/>
                            </h3>
                            <h4><h:outputText value="#{PartitaBean.partita.dataInizio}" >
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm" locale="IT" timeZone="CET"/>
                                </h:outputText></h4>
                        </div>
                        <div class="col-xs-2" >
                            <h:panelGroup rendered="#{!empty PartitaBean.partita.avversario.stemma and (PartitaBean.partita.luogo==null or PartitaBean.partita.luogo.equals('Casa'))}">
                                <img id="imageid" class="img-rounded" style="height: 100px;" src="#{BaseBean.urlImmagini}#{PartitaBean.partita.avversario.stemma}" />
                            </h:panelGroup>
                            <h:panelGroup rendered="#{!empty LoginBean.utente.societa.stemma and PartitaBean.partita.luogo.equals('Trasferta')}">
                                <img id="imageid" class="img-rounded" style="height: 100px;" src="#{BaseBean.urlImmagini}#{LoginBean.utente.societa.stemma}" />
                            </h:panelGroup>
                        </div>
                    </div>
                    
                    <ui:include src="../include/messaggi.xhtml"/> 
                        
                            <h:panelGroup rendered="#{PartitaBean.partita.resocontoInserito}">
<!--                                <table class="table table-striped">                                
                            <tr><td><b>Gol fatti su azione</b></td>
                                <td> <h:outputText value="#{PartitaBean.partita.golFattiAzione}">
                                        <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true"/>
                                      </h:outputText>
                                </td></tr>
                            <tr><td><b>Gol fatti su palla</b></td>
                                <td> <h:outputText value="#{PartitaBean.partita.golFattiPalla}">
                                        <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true"/>
                                    </h:outputText>
                                </td></tr>
                            <tr><td><b>Gol subiti su azione</b></td>
                                <td> <h:outputText value="#{PartitaBean.partita.golSubitiAzione}">
                                        <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true"/>
                                    </h:outputText>
                                </td></tr>
                            <tr><td><b>Gol subiti su palla</b></td>
                                <td> <h:outputText value="#{PartitaBean.partita.golSubitiPalla}">
                                        <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true"/>
                                        </h:outputText>
                                </td></tr>
                            <tr><td><b>Possesso palla I tempo</b></td>
                                <td> <h:outputText value="#{PartitaBean.partita.possessoPallaI}">
                                        <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true"/>
                                     </h:outputText>
                                </td></tr>
                            <tr><td><b>Possesso palla II tempo</b></td>
                                <td> <h:outputText value="#{PartitaBean.partita.possessoPallaII}">
                                        <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true"/>
                                        </h:outputText>
                                </td></tr>
                            <tr><td><b>Possesso palla tot</b></td>
                                <td> <h:outputText value="#{PartitaBean.partita.possessoPallaTot}">
                                        <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true"/>
                                     </h:outputText>
                                </td></tr>
                            <tr><td><b>% gol/tiri</b></td>
                                <td> <h:outputText value="#{PartitaBean.partita.golTiri}">
                                        <f:convertNumber  groupingUsed="false"  locale="it" />
                                        </h:outputText>
                                </td></tr>
                            <tr><td><b>% gol/tiri avversari</b></td>
                                <td> <h:outputText value="#{PartitaBean.partita.golTiriAvversari}">
                                        <f:convertNumber  groupingUsed="false"  locale="it" />
                                     </h:outputText>
                                </td></tr>
                                    </table>  -->
                            </h:panelGroup>
                                                  
                        
                        <h:panelGroup layout="block" id="divGiocatori" rendered="#{!empty PartitaBean.partita.giocatori and !PartitaBean.partita.resocontoInserito}">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="zeromargin"> <i class="fa fa-child"></i> Giocatori </h4>
                                </div>
                                <div class="panel-body">
                                    <h:dataTable id="tabella-giocatori" value="#{PartitaBean.partita.giocatori}" var="g" style="border: none; width: 100%">
                                        <h:column>
                                            <div class="row">
                                                <div class="col-md-2" align="center">
                                                    <img id="imageid" class="img-rounded" style="height: 80px;" src="#{BaseBean.urlImmagini}#{g.giocatore.foto}" />  
                                                </div>
                                                <div class="col-md-5">
                                                    <table class="table table-striped">
                                                        <tr><td><b>Giocatore: </b></td>
                                                            <td>#{g.giocatore.nome} #{g.giocatore.cognome}</td></tr>
                                                        <tr><td><b>Cellulare: </b></td>
                                                            <td>#{g.giocatore.cellulare}</td></tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-5">
                                                    <table class="table table-striped">
                                                        <tr><td><b>Ruolo: </b></td>
                                                            <td>#{g.giocatore.ruolo}</td></tr>
                                                        <tr><td><b>Piede: </b></td>
                                                            <td>#{g.giocatore.piede}</td></tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <hr style="margin-top: 0px;"/>
                                        </h:column>
                                        </h:dataTable>
                                </div>
                            </div>
                        </h:panelGroup>
                        
                        <h:panelGroup layout="block" id="divResoconto" rendered="#{PartitaBean.partita.resocontoInserito}">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="zeromargin"> <i class="fa fa-bar-chart-o"></i> Resoconto giocatori </h4>
                                </div>
                                <div class="panel-body">
                                    <ui:repeat value="#{PartitaBean.partita.giocatori}" var="p">
                                        <h:panelGroup rendered="#{p.giocatore!=null}">
                                        <h4>Resoconto Partita #{p.giocatore.nome} #{p.giocatore.cognome}</h4>
                                        
                                        
                                        <table class="table table-striped table-bordered tableresoconto">
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>I Tempo</td>
                                                    <td>II Tempo</td>
                                                    <td>Totale</td>
                                                </tr>
                                        <ui:repeat value="#{p.resoconti}" var="r">
                                            <h:panelGroup rendered="#{p.inserisciTitoloCategoriaI(r)}">
                                                <tr class="warning">
                                                    <td colspan="6"><h5>#{r.tecnicaMa.categoria1}</h5></td>
                                                </tr>
                                            </h:panelGroup>
                                            
                                                <tr>
                                                    <h:panelGroup rendered="#{p.inserisciTitoloCategoriaII(r)}">
                                                        <td rowspan="#{p.colonneCategoriaII(r)}">
                                                            #{r.tecnicaMa.categoria2}
                                                        </td>
                                                    </h:panelGroup>
                                                        <h:panelGroup rendered="#{p.inserisciTitoloCategoriaIII(r)}">
                                                        <td rowspan="#{p.colonneCategoriaIII(r)}">
                                                            #{r.tecnicaMa.categoria3}
                                                        </td>
                                                        </h:panelGroup>
                                                    <td>
                                                            #{r.tecnicaMa.tecnica} 
                                                    </td>
                                                    <td>
                                                        <h:outputText value="#{r.tempoI}">
                                                            <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                        </h:outputText>
                                                    </td>
                                                    <td>
                                                        <h:outputText value="#{r.tempoIi}">
                                                            <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                        </h:outputText>
                                                    </td>
                                                    <td>
                                                        <h:outputText rendered="#{r.totale gt 0}" value="#{r.totale}">
                                                            <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                                        </h:outputText>
                                                    </td>
                                                </tr>
                                        </ui:repeat>
                                            </table>
                                        </h:panelGroup>
                                    </ui:repeat>
                                </div>
                            </div>
                            
                            <h:panelGroup rendered="#{PartitaBean.partita.avversari!=null and !empty PartitaBean.partita.avversari}">
                            
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h4 class="zeromargin"> <i class="fa fa-bar-chart-o"></i> Resoconto avversari </h4>
                                </div>
                                <div class="panel-body">
                                    <h:dataTable class="table table-bordered table-hover table-striped" value="#{PartitaBean.partita.avversari}" var="g"
                                                 columnClasses="col,col,col,col,col,col,col,col,col,col,col,col,col" >
                                        <h:column>
                                            <f:facet name="header"> Giocatore </f:facet>
                                    #{g.giocatoreAvversario.nome} #{g.giocatoreAvversario.cognome}
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> GF </f:facet>
                                            <h:outputText value="#{g.colGf}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> GS </f:facet>
                                            <h:outputText value="#{g.colGs}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> TP </f:facet>
                                            <h:outputText value="#{g.colTp}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> TF </f:facet>
                                            <h:outputText  value="#{g.colTf}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> A </f:facet>
                                            <h:outputText  value="#{g.colA}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> E </f:facet>
                                            <h:outputText value="#{g.colE}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> PP </f:facet>
                                            <h:outputText value="#{g.colPp}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> PR </f:facet>
                                            <h:outputText value="#{g.colPr}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> FF </f:facet>
                                            <h:outputText value="#{g.colFf}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> FS </f:facet>
                                            <h:outputText value="#{g.colFs}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> Min. G </f:facet>
                                            <h:outputText value="#{g.colMing}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header"> Voto </f:facet>
                                            <h:outputText value="#{g.colVoto}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" />
                                            </h:outputText>
                                        </h:column>
                                    </h:dataTable>
                                </div>
                            </div>
                            </h:panelGroup>
                            
                        </h:panelGroup>
                        
                        <h:link outcome="resoconto-partita.xhtml?faces-redirect=true" styleClass="btn btn-warning" rendered="#{PartitaBean.partita.resocontoInserito}">
                            <i class="fa fa-edit"></i> Modifica
                            <f:param name="idPartita" value="#{PartitaBean.partita.id}"/>
                        </h:link>
                        
                        <h:link outcome="resoconto-partita.xhtml?faces-redirect=true" styleClass="btn btn-primary" rendered="#{!PartitaBean.partita.resocontoInserito}">
                            <i class="fa fa-plus-circle"></i> Inserisci Resoconto
                            <f:param name="idPartita" id="idPartita2" value="#{PartitaBean.partita.id}"/>
                        </h:link>
                        &nbsp;
                        <h:link outcome="modifica-partita.xhtml?faces-redirect=true" styleClass="btn btn-warning" rendered="#{!PartitaBean.partita.resocontoInserito}">
                            <i class="fa fa-edit"></i> Modifica
                            <f:param name="idPartita" value="#{PartitaBean.partita.id}"/>
                        </h:link>
                        &nbsp;
                        <h:commandLink action="#{PartitaBean.eliminaPartita()}" styleClass="btn btn-danger"
                                       onclick="return confirm('Confermi elimina partita?')">
                            <i class="fa fa-trash-o"></i> Elimina
                        </h:commandLink>
                        &nbsp;                        
                        <h:commandLink class="btn btn-default" action="partite.xhtml?faces-redirect=true" value="Indietro" immediate="true"/>

                      
                      
                    </h:form>


                    <h:form rendered="#{PartitaBean.partita==null}">   

                        <br/>
                        <h:commandLink action="calendario.xhtml?faces-redirect=true" value="Torna al calendario" styleClass="btn btn-default" />

                    </h:form>
                    <!-- /.row -->

                    <br/> <br/>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </body>

</html>
