<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Modifica Società</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
       
        <script>
            
            jQuery.noConflict();
            
            function noop(event) {
                event.stopPropagation();
                event.preventDefault();
            }

            function upload(file, type) {
                
                document.getElementById("tableProgress").style.display = 'inline';

                var formData = new FormData();
                formData.append("file", file);

                var xhr = new XMLHttpRequest();
                xhr.upload.addEventListener("progress", uploadProgress, false);
                xhr.addEventListener("load", uploadComplete, false);
                var url = "#{request.scheme}://#{request.serverName}:#{request.serverPort}#{request.contextPath}/FileUploadServlet";
                xhr.open("POST", url, true); // If async=false, then you'll miss progress bar support.
                xhr.send(formData);
                                
            }

            function uploadProgress(event) {
                // Note: doesn't work with async=false.
                var progress = Math.round(event.loaded / event.total * 100);
                //                document.getElementById("status").innerHTML = "Progress " + progress + "%";
                
                var bar = document.getElementById('progressBar');
                var status = document.getElementById('statusPB');
                status.innerHTML = progress+"%";
                bar.value = progress;             
                      
                
            }

            function uploadComplete(event) {
                var result = event.target.responseText;
                //                alert(result);

                document.getElementById("tableProgress").style.display = 'none';
                
                if(result == '1'){
                    document.getElementById("status").innerHTML = 'ERRORE: formato non riconosciuto, è possibile caricare solo file in formato png jpg jpeg e gif';
                    document.getElementById("imageid").src="";
                    document.getElementById("imageid").style.display = 'none';
                }else if(result == '2'){
                    document.getElementById("status").innerHTML = 'ERRORE: si è verificato un errore nel caricamento del file';
                    document.getElementById("imageid").src="";
                    document.getElementById("imageid").style.display = 'none';
                }else{
                    //                    alert("caricato file "+result);
                    
//                    document.getElementById("status").innerHTML = 'File caricato correttamente!';
                    document.getElementById("status").innerHTML = '';  
                    jQuery("#main-form\\:pathfile").val(result); 
                    jQuery("#main-form\\:pathfilehidden").val(result); 
                    document.getElementById("imageid").style.display = 'inline';
                    document.getElementById("imageid").src='#{BaseBean.urlImmagini}'+result;
                }
               
            }
            
            jQuery("document").ready(function(){ 
                initializeInputFile();               
                
            });
                        
            function initializeInputFile() { 
                jQuery("#myFileInput").change(function() {
                    var files = jQuery('#myFileInput').prop('files');
                    //<![CDATA[
                    for (var i = 0; i < files.length; i++) {
                        upload(files[i], 'image');
                    }
                    //]]>
                });
            }
         
        </script>

    </h:head>

    <body>

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                    <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                        <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                    <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; Societ&agrave;</a>     
                </div>
                <ui:include src="../include/menu-staff-top-right.xhtml"/> 
                <ui:include src="../include/menu-staff.xhtml"/> 
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <ol class="breadcrumb">
                                <li class="active">
                                    <h:graphicImage class="icona-custom" value="/images/icone/grigie/football.png"></h:graphicImage>  Societ&agrave;
                                </li>
                            </ol>
                    
                    <ui:include src="../include/messaggi.xhtml"/> 
                    

                    <h:form id="main-form" rendered="#{SocietaBean.societa!=null}">     
                             
                                
                                    <div class="row">
                                        <div class="form-group">

                                            <div class="col-md-5">
                                                <h4>Stemma</h4>
                                                <input type="file"  id="myFileInput" style="max-width: 100%"/>
                                                <h:inputText style="margin-top: 10px;" id="pathfile" disabled="true" value="#{LoginBean.utente.societa.stemma}" class="form-control" >
                                                    <f:ajax event="change" execute="@this" />
                                                </h:inputText>
                                                <h:inputHidden id="pathfilehidden" value="#{LoginBean.utente.societa.stemma}"/>
                                        
                                        
                                            </div>
                                            <div class="col-md-4">
                                                <table id="tableProgress"  width="100%" style="display: none;">
                                                    <tr><td><progress id="progressBar" value="0" max="100" style="width:250px;"></progress></td>
                                                        <td><span id="statusPB"></span></td>
                                                    </tr> 
                                                </table>
                                                <div id="status"></div>
                                                <img id="imageid" class="img-rounded" style="height: 100px;" src="#{BaseBean.urlImmagini}#{LoginBean.utente.societa.stemma}" />  
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                            
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Nome*</label>
                                                <h:inputText class="form-control" value="#{LoginBean.utente.societa.nome}" required="true" requiredMessage="Nome Società: il campo è obbligatorio">
                                                    <f:ajax event="change" execute="@this" />
                                                </h:inputText>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Sede sociale</label>
                                                <h:inputText class="form-control" value="#{LoginBean.utente.societa.sedeSociale}">
                                                    <f:ajax event="change" execute="@this" />
                                                </h:inputText>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Presidente</label>
                                                <h:inputText class="form-control" value="#{LoginBean.utente.societa.presidente}">
                                                    <f:ajax event="change" execute="@this" />
                                                </h:inputText>
                                            </div>
                                        </div>                
                                    </div> 
                            
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Campo gare</label>
                                                <h:inputText class="form-control" value="#{LoginBean.utente.societa.campoGara}">
                                                    <f:ajax event="change" execute="@this" />
                                                </h:inputText>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Campo allenamenti</label>
                                                <h:inputText class="form-control" value="#{LoginBean.utente.societa.campoAllenamento}">
                                                    <f:ajax event="change" execute="@this" />
                                                </h:inputText>
                                            </div>
                                        </div>                
                                    </div> 
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Colore I maglia</label>
                                                <h:inputText class="form-control" value="#{LoginBean.utente.societa.coloreIMaglia}">
                                                    <f:ajax event="change" execute="@this" />
                                                </h:inputText>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Colore II maglia</label>
                                                <h:inputText class="form-control" value="#{LoginBean.utente.societa.coloreIiMaglia}">
                                                    <f:ajax event="change" execute="@this" />
                                                </h:inputText>
                                            </div>
                                        </div>                
                                    </div>
                            
                                    <h:commandLink class="btn btn-warning" action="#{LoginBean.modificaSocieta()}" value="Salva"/>
                            

                    </h:form>


                    
                    <!-- /.row -->
                    
                    <br/>
                    
                    <div class="jumbotron">
                            <p> GESTISCI I CONTATTI DELLA
SOCIETA', SARA MOLTO
SEMPLICE MANDARE EMAIL A
TUTTI I COMPONENTI PER
COMUNICAZIONI O PER
FARGLI CONOSCERE IL TUO
METODO DI LAVORO. TUTTO A
PORTATA DI CLICK!
                            </p></div>
                    <br/>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </body>

</html>
