<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Modifica Società</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
       

    </h:head>

    <body>

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                    <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                        <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                    <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; <i class="fa fa-bank"></i> Societ&agrave;</a>     
                </div>
                <ui:include src="../include/menu-staff-top-right.xhtml"/> 
                <ui:include src="../include/menu-staff.xhtml"/> 
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-bank"></i> Societ&agrave;
                                </li>
                            </ol>
                    
                    <ui:include src="../include/messaggi.xhtml"/> 

                    <h:form id="main-form" rendered="#{SocietaBean.societa!=null}">     
                            
                        <div class="row">
                            <div class="col-md-2">
                                    <img id="imageid" class="img-rounded" style="max-width: 100%" src="#{BaseBean.urlImmagini}#{SocietaBean.societa.stemma}" />  
                                </div>
                            <div class="col-md-9">
                                <table class="table table-striped">
                                    <tr><td><b>Nome: </b></td>
                                        <td>#{SocietaBean.societa.nome}</td></tr>
                                    <tr><td><b>Sede sociale:</b></td>
                                        <td>#{SocietaBean.societa.sedeSociale}</td></tr>
                                    <tr><td><b>Presidente:</b></td>
                                        <td>#{SocietaBean.societa.presidente}</td></tr>
                                    <tr><td><b>Campo gare:</b></td>
                                        <td>#{SocietaBean.societa.campoGara}</td></tr>
                                    <tr><td><b>Campo allenamenti:</b></td>
                                        <td>#{SocietaBean.societa.campoAllenamento}</td></tr>
                                    <tr><td><b>Colore I maglia:</b></td>
                                        <td>#{SocietaBean.societa.coloreIMaglia}</td></tr>
                                    <tr><td><b>Colore II maglia:</b></td>
                                        <td>#{SocietaBean.societa.coloreIiMaglia}</td></tr>
                                </table>
                            
                                
                            </div>
                        </div>
                            

                    </h:form>


                    
                    <!-- /.row -->
                    
                    <br/> <br/>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </body>

</html>
