<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Stampa Portiere</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <style>
            .table-giocatore > tbody > tr > th, .table-giocatore > tbody > tr > td{
                padding: 15px;               
            }
        </style>
                
    </h:head>
    
    <f:metadata>
        <f:viewParam id="idGiocatore" name="idGiocatore" value="#{GiocatoreBean.idGiocatore}" /> 
        <f:event type="preRenderView" listener="#{GiocatoreBean.initSchedaGiocatore()}"/>
    </f:metadata>
   

    <body  onload="window.print();">

            <div style="width: 1100px; background: white">

                <div class="container-fluid">

                    
                    <ui:include src="../include/messaggi.xhtml"/> 
                        
                    <h:form id="main-form" rendered="#{GiocatoreBean.giocatore!=null}">     

                      <div id='content'>
                          
                          <div class="row" > 
                            <div class="col-xs-10" style="width: 850px">
                                <div style="margin-top: 10px; padding: 15px; border: 1px solid #31708F; border-radius: 5px; ">
                                
                                    <h3 class="text-info zeromargin" style="margin-top: 20px;" > Scheda Portiere #{GiocatoreBean.giocatore.nome} #{GiocatoreBean.giocatore.cognome} </h3> 
                                    <hr/>
                                        <h4 style="padding-top: 10px;">
                                            Stagione Sportiva 
                                            <h:outputText value="#{GiocatoreBean.giocatore.stagione.inizio}">
                                                <f:convertDateTime pattern="yyyy"/>
                                            </h:outputText>/<h:outputText value="#{GiocatoreBean.giocatore.stagione.fine}">
                                                <f:convertDateTime pattern="yyyy"/>
                                            </h:outputText>
                                        </h4>
                                </div>
                                                               
                            </div>
                            <div class="col-xs-2" style="padding-top: 10px;" align="right">
                                <img  src="../images/logo.png" height="160px" width="160px"/>
                            </div>
                        </div>
                               <br/>                                               
                          <div class="row">
                              <div class="col-xs-4" align="center">
                                    <img id="imageid" class="img-rounded" style="max-width: 300px" src="#{BaseBean.urlImmagini}#{GiocatoreBean.giocatore.foto}" />  
                                </div>
                            <div class="col-xs-8">
                                <table class="table table-giocatore">
                                    <tr><td><b>Email: </b></td>
                                        <td>#{GiocatoreBean.giocatore.email}</td></tr>
                                    <tr><td><b>Cellulare: </b></td>
                                        <td>#{GiocatoreBean.giocatore.cellulare}</td></tr>
                                    <tr><td><b>Ruolo:</b></td>
                                        <td>#{GiocatoreBean.giocatore.ruolo}</td></tr>
                                    <tr><td><b>Piede:</b></td>
                                        <td>#{GiocatoreBean.giocatore.piede}</td></tr>
                                    <tr><td><b>Nato:</b></td>
                                        <td><h:outputText value=" a " rendered="#{GiocatoreBean.giocatore.luogoNascita!=null}"/> 
                                            #{GiocatoreBean.giocatore.luogoNascita} 
                                            <h:outputText value=" il " rendered="#{GiocatoreBean.giocatore.dataNascita!=null}"/> 
                                            <h:outputText value="#{GiocatoreBean.giocatore.dataNascita}">
                                                <f:convertDateTime pattern="MM/dd/yyyy" locale="IT" timeZone="CET"/>                                                
                                            </h:outputText>
                                        </td></tr>
                                    <tr><td><b>Residenza: </b></td>
                                        <td>#{GiocatoreBean.giocatore.residenzaRegione} 
                                            #{GiocatoreBean.giocatore.residenzaProvincia} 
                                            #{GiocatoreBean.giocatore.residenzaCitta} 
                                            #{GiocatoreBean.giocatore.residenzaVia} 
                                            #{GiocatoreBean.giocatore.residenzaCap}                                            
                                        </td></tr>
                                </table>
                            </div>
                        </div>
                               <br/>
                        
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="panel panel-success">
                            <div class="panel-heading">
                                <b>Rilevazioni antropometriche</b>
                            </div>
                            <div class="panel-body">                                
                                <table class="table table-bordered table-condensed"  style="margin-bottom: 0px;">
                                    <tr>
                                        <td> Altezza </td>
                                        <td width="100px"><h:outputText   value="#{GiocatoreBean.giocatore.altezza}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                    </tr>
                                    <tr>
                                        <td>Peso </td>
                                        <td width="100px"><h:outputText   value="#{GiocatoreBean.giocatore.peso}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                    </tr>
                                    <tr>
                                        <td>Statura seduto </td>
                                        <td width="100px"><h:outputText   value="#{GiocatoreBean.giocatore.altezzaSeduto}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                    </tr>
                                    <tr>
                                        <td>Circ. Torace </td>
                                        <td width="100px"><h:outputText   value="#{GiocatoreBean.giocatore.torace}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                    </tr>
                                </table>
                                
                                <table class="table table-bordered table-condensed">
                                    <tr>
                                        <th class="active"></th>
                                        <th class="active" width="70px">Dx</th>
                                        <th class="active" width="70px">Sx</th>
                                    </tr>
                                    <tr>
                                        <td>Coscia max</td>
                                        <td><h:outputText   value="#{GiocatoreBean.giocatore.cosciaMaxDx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                        <td><h:outputText   value="#{GiocatoreBean.giocatore.cosciaMaxSx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                    </tr>
                                    <tr>
                                        <td>Coscia media</td>
                                         <td><h:outputText   value="#{GiocatoreBean.giocatore.cosciaMediaDx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                        <td><h:outputText   value="#{GiocatoreBean.giocatore.cosciaMediaSx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                    </tr>
                                    <tr>
                                        <td>Coscia min</td>
                                        <td><h:outputText   value="#{GiocatoreBean.giocatore.cosciaMinDx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                        <td><h:outputText   value="#{GiocatoreBean.giocatore.cosciaMinSx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                    </tr>
                                    <tr>
                                        <td>Gamba</td>
                                        <td><h:outputText   value="#{GiocatoreBean.giocatore.gambaDx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                        <td><h:outputText   value="#{GiocatoreBean.giocatore.gambaSx}" >
                                                <f:convertNumber  groupingUsed="false"  locale="it"  />
                                            </h:outputText></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                            </div>
                            
                            <div class="col-xs-4">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <b>Valutazione Tecnica</b>
                                    </div>
                                    <div class="panel-body">

                                        <table class="table table-bordered table-condensed">
                                            <tr>
                                                <th class="active">Gesto Tecnico </th>
                                                <th class="active" width="70px">Dx</th>
                                                <th class="active" width="70px">Sx</th>
                                            </tr>
                                            <tr>
                                                <th>Postura di att.</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.posturaAttDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.posturaAttSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Presa</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.presaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.presaSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Raccolta</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.raccoltaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.raccoltaSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Tuffo per stris.</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.tuffoStrisDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.tuffoStrisSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Tuffo traiet alt.</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.tuffoTraietAltDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.tuffoTraietAltSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>1vs1</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.unoVSunoDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.unoVSunoSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Uscita bassa</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.uscitaBassaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.uscitaBassaSx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                            <tr>
                                                <th>Uscita alta</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.uscitaAltaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.uscitaAltaDx}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                        
                                            </tr> 
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <b>Valutazione in Gara</b>
                                    </div>
                                    <div class="panel-body">

                                        <table class="table table-bordered table-condensed" style="margin-bottom: 13px;">
                                            <tr>
                                                <th class="active">Abilità mentali </th>
                                                <th class="active" width="70px">Giudizio</th>
                                            </tr>
                                            <tr>
                                                <th>Gest. Press. Gara.</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.gestPresGara}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr>  
                                            <tr>
                                                <th>Comunicazione</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.comunicazione}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr>  
                                            <tr>
                                                <th>Problem Solving</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.problemSolving}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr>
                                            <tr>
                                                <th>Sicurezza/Insicurezza</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.sicurezzaInsicurezza}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr>
                                        </table>
                                        
                                        <table class="table table-bordered table-condensed">
                                            <tr>
                                                <th class="active">Situazioni di gioco </th>
                                                <th class="active" width="70px">Giudizio</th>
                                            </tr>
                                            <tr>
                                                <th>Efficacia</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.efficacia}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr> 
                                            <tr>
                                                <th>Reazione event. errore</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.reazEventErrore}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr> 
                                            <tr>
                                                <th>Partecipazione al gioco</th>
                                                <td><h:outputText   value="#{GiocatoreBean.giocatore.partecipazioneGioco}" >
                                                        <f:convertNumber  groupingUsed="false"  locale="it"  />
                                                    </h:outputText></td>                                       
                                            </tr> 
                                        </table>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                          <b>Valutazione Capacità Coordinative</b><br/>
                          <h:outputText style="min-height: 50px;" value="#{GiocatoreBean.giocatore.valCapCoord}"/>
                          
                          <hr/>
                          
                          <b>Valutazione Capacità Condizionali</b><br/>
                          <h:outputText value="#{GiocatoreBean.giocatore.valCapCondiz}"/>
                          
                          <hr/>
                          
                          <b>Note caratteriali e psico-cognitive</b><br/>
                          <h:outputText value="#{GiocatoreBean.giocatore.note}"/>
                                                
                                
                      </div>    
                        
                        
                    </h:form>


                    <h:form rendered="#{GiocatoreBean.giocatore==null}">   

                        <br/>
                        <h:commandLink action="giocatori.xhtml?faces-redirect=true" value="Torna alla lista dei portieri" styleClass="btn btn-default" />

                    </h:form>
                    <!-- /.row -->

                    <br/> <br/>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->



    </body>

</html>
