<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:o="http://openfaces.org/" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Stampa Allenamento</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <script src="../js/bootstrap-datepicker.js"/>
        <link rel="stylesheet" type="text/css" href="../css/datepicker.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        <script src="../js/bootstrap-select.min.js"/>    
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-select.min.css" media="screen" />

<!--        <style>
            @page {size: 210mm 297mm; margin: 15mm;}
        </style>-->
<style>
    .form-control{
    font-size: 12px !important;
}
</style>        

    </h:head>

    <f:metadata>
        <f:viewParam id="idAllenamento" name="idAllenamento" value="#{AllenamentoBean.idAllenamento}" /> 
        <f:event type="preRenderView" listener="#{AllenamentoBean.initVisualizzaAllenamento()}"/>
    </f:metadata>

    <body onload="window.print();" style="margin-top: 0px !important;">

            <div style="width: 1100px; background: white">

                <div class="container-fluid">
                                        
                    <ui:include src="../include/messaggi.xhtml"/> 

                    <h:form id="main-form" rendered="#{AllenamentoBean.allenamento!=null}">     
                        <div class="row" style=""> 
                            <div class="col-xs-2" style="padding-top: 10px;" align="left">
                                <img  src="../images/logo.png" height="160px" width="160px"/>
                            </div>
                              <div class="#{LoginBean.utente.societa.stemma!=null and !empty LoginBean.utente.societa.stemma ? 'col-xs-8' : 'col-xs-10'}" >
                               
                                <h3 class="text-info" style="padding: 15px; border: 1px solid #31708F; border-radius: 5px; ">
                                <table width="100%">
                                <tr>
                                    <td><h3 class="text-info zeromargin" > #{AllenamentoBean.allenamento.titolo} </h3> </td>
                                    <td align="left"><h4 style="padding-top: 10px;">
                                            &nbsp;<h:outputText value="#{AllenamentoBean.allenamento.dataInizio}" >
                                            <f:convertDateTime pattern="dd/MM/yyyy " locale="IT" timeZone="CET"/>
                                        </h:outputText> <br/>
                                        <div style="padding-top: 5px;">
                                        <h:outputText value="#{AllenamentoBean.allenamento.dataInizio}">
                                            <f:convertDateTime pattern="HH:mm " locale="IT" timeZone="CET"/>
                                        </h:outputText> 
                                        -
                                        <h:outputText value="#{AllenamentoBean.allenamento.dataFine}">
                                            <f:convertDateTime pattern=" HH:mm" locale="IT" timeZone="CET"/>
                                        </h:outputText>  </div> </h4>
                                            
                                    </td>
                                </tr>
                            </table>
                                 </h3>
                                <div class="row">
                            <div class="col-md-12" >
                                <div class="form-group">
                                    <label> </label> <br/>
                                    <h:outputText value="#{AllenamentoBean.allenamento.descrizione}"/>
                                </div>
                            </div>
                        </div>
                               
                            </div>
                            <h:panelGroup rendered="#{LoginBean.utente.societa.stemma!=null and !empty LoginBean.utente.societa.stemma}">
                                <div class="col-xs-2" style="padding-top: 10px;" align="right">  
                                      <img id="imageid" class="img-rounded" style="max-height: 160px; max-width: 100%" src="#{BaseBean.urlImmagini}#{LoginBean.utente.societa.stemma}" />  
                                </div>      
                              </h:panelGroup>
                            
                        </div>
                                    
                        
                        
                        <h4>Obiettivi</h4>
                        <table class="table">
                            <tr>
                                <td><b class="text-success">Ob Tecnico: </b> #{AllenamentoBean.allenamento.obTec}</td>
                                <td><b class="text-info">Ob Fisico/Atletico: </b> #{AllenamentoBean.allenamento.obFis}</td>
                            </tr>
                            <tr>
                                <td><b class="text-warning">Ob Tattico: </b> #{AllenamentoBean.allenamento.obTat}</td>
                                <td><b class="text-danger">Ob Psico/Cognitivo: </b> #{AllenamentoBean.allenamento.obPsi}</td>
                            </tr>
                        </table>
                        <hr/>
                        
                        <div class="row">
                            <h:panelGroup rendered="#{!empty AllenamentoBean.allenamento.giocatori}">
                            <div class="col-xs-6">                                
                                    <span style="font-size: 18px; font-weight: 500;">Portieri: </span>
                                    <ui:repeat value="#{AllenamentoBean.allenamento.giocatori}" var="g">
                                        - #{g.nome} #{g.cognome} 
                                    </ui:repeat>
                            </div>
                                </h:panelGroup>  
                            <div class="#{!empty AllenamentoBean.allenamento.giocatori ? 'col-xs-6' : 'col-xs-12'}">
                                <h:panelGroup rendered="#{AllenamentoBean.allenamento.materiali!=null and !empty AllenamentoBean.allenamento.materiali}">
                                    <span style="font-size: 18px; font-weight: 500;">Materiale Occorrente: </span>
                                    <ui:repeat value="#{AllenamentoBean.allenamento.materiali}" var="o">
                                        <h:panelGroup rendered="#{o.materiale!=null and !empty o.materiale and o.quantita!=null and !empty o.quantita}">
                                            - #{o.materiale}: <h:outputText value="#{o.quantita}">
                                                <f:convertNumber  groupingUsed="false"  locale="it" integerOnly="true" />
                                            </h:outputText>  &nbsp;
                                        </h:panelGroup>
                                    </ui:repeat>

                                </h:panelGroup>  
                            </div>
                        </div>
                        
                        <hr/>
                        
                       <h:panelGroup layout="block" id="divEsercizi">
                                    
                                    <h:panelGroup rendered="#{!empty AllenamentoBean.allenamento.fase1}">
                                    <span class="title-16px text-success">
                                    &nbsp; ATTIVAZIONE MOTORIA &nbsp;                                    
                                    </span>
                                        
                                    <h:dataTable  id="tab-es-all-inseriti" styleClass="table table-striped table-margin" columnClasses="col-disegno-big" value="#{AllenamentoBean.allenamento.fase1}" var="e" rendered="#{!empty AllenamentoBean.allenamento.fase1}">
                                        <h:column>
                                            <img id="imageid" class="img-rounded" style="width: 470px;" src="#{BaseBean.urlSchemaEs(e.esercizio)}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">  </f:facet>
                                            <div style="width: 99%; padding: 5px; page-break-inside: avoid;">
                                            <b><h:outputText value="#{e.esercizio.titolo}"/></b>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"> <div class="form-control div-form-control"><b>DURATA: </b> <h:outputText  value="#{e.esercizio.durata}"/></div> </div>
                                                <div class="col-xs-6"> <div class="form-control div-form-control"><b>PORTIERI: </b> <h:outputText  value="#{e.esercizio.portieri}"/></div></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-success">Tecnica di Difesa: </b> <h:outputText value="#{e.esercizio.obDifI}"/> </div></div>
                                                </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-warning">Tecnica di Attacco: </b>  <h:outputText value="#{e.esercizio.obAttI}"/></div></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-info">Cap. Coordinative: </b> <h:outputText value="#{e.esercizio.obCoord}"/> </div></div>
                                                </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-info">Cap. Condizionali: </b> <h:outputText value="#{e.esercizio.obCond}"/></div></div>
                                            </div>
<!--                                                <div class="row" style="padding-top: 10px;">
                                                    <div class="col-xs-12">
                                                        <b>CATEGORIE: </b>
                                                        <h:outputText value="- Tutti " rendered="#{e.esercizio.tutti}"/>
                                                        <h:outputText value="- Prima squadra " rendered="#{e.esercizio.primaSquadra}"/>
                                                        <h:outputText value="- Juniores " rendered="#{e.esercizio.juniores}"/>
                                                        <h:outputText value="- Allievi " rendered="#{e.esercizio.allievi}"/>
                                                        <h:outputText value="- Giovanissimi " rendered="#{e.esercizio.tutti}"/>
                                                        <h:outputText value="- Esordienti " rendered="#{e.esercizio.esordienti}"/>
                                                        <h:outputText value="- Pulcini " rendered="#{e.esercizio.pulcini}"/>
                                                        <h:outputText value="- Primi calci " rendered="#{e.esercizio.primiCalci}"/>
                                                        <h:outputText value="- Generale " rendered="#{e.esercizio.generale}"/>
                                                        <h:outputText value="- Pre-Allenamento " rendered="#{e.esercizio.preAllenamento}"/>
                                                    </div>
                                                </div>-->
                                                
                                            </div>
                                        </h:column>
                                    </h:dataTable>                                    
                                    <hr />
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{!empty AllenamentoBean.allenamento.fase2}">
                                    <span class="title-16px text-info">
                                        &nbsp; FASE CENTRALE - ANALITICA &nbsp;      </span>
                                    <h:dataTable  id="tab-es-all-inseritif2" styleClass="table table-striped table-margin" columnClasses="col-disegno-big"  value="#{AllenamentoBean.allenamento.fase2}" var="e" rendered="#{!empty AllenamentoBean.allenamento.fase2}">
                                        <h:column>
                                            <img id="imageid" class="img-rounded" style="width: 470px;" src="#{BaseBean.urlSchemaEs(e.esercizio)}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">  </f:facet>
                                            <div style="width: 99%; padding: 5px; page-break-inside: avoid;">
                                            <b><h:outputText value="#{e.esercizio.titolo}"/></b>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"> <div class="form-control div-form-control"><b>DURATA: </b> <h:outputText  value="#{e.esercizio.durata}"/></div> </div>
                                                <div class="col-xs-6"> <div class="form-control div-form-control"><b>PORTIERI: </b> <h:outputText  value="#{e.esercizio.portieri}"/></div></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-success">Tecnica di Difesa: </b> <h:outputText value="#{e.esercizio.obDifI}"/> </div></div>
                                                </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-warning">Tecnica di Attacco: </b>  <h:outputText value="#{e.esercizio.obAttI}"/></div></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-info">Cap. Coordinative: </b> <h:outputText value="#{e.esercizio.obCoord}"/> </div></div>
                                                </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-info">Cap. Condizionali: </b> <h:outputText value="#{e.esercizio.obCond}"/></div></div>
                                            </div>
<!--                                                <div class="row" style="padding-top: 10px;">
                                                    <div class="col-xs-12">
                                                        <b>CATEGORIE: </b>
                                                        <h:outputText value="- Tutti " rendered="#{e.esercizio.tutti}"/>
                                                        <h:outputText value="- Prima squadra " rendered="#{e.esercizio.primaSquadra}"/>
                                                        <h:outputText value="- Juniores " rendered="#{e.esercizio.juniores}"/>
                                                        <h:outputText value="- Allievi " rendered="#{e.esercizio.allievi}"/>
                                                        <h:outputText value="- Giovanissimi " rendered="#{e.esercizio.tutti}"/>
                                                        <h:outputText value="- Esordienti " rendered="#{e.esercizio.esordienti}"/>
                                                        <h:outputText value="- Pulcini " rendered="#{e.esercizio.pulcini}"/>
                                                        <h:outputText value="- Primi calci " rendered="#{e.esercizio.primiCalci}"/>
                                                        <h:outputText value="- Generale " rendered="#{e.esercizio.generale}"/>
                                                        <h:outputText value="- Pre-Allenamento " rendered="#{e.esercizio.preAllenamento}"/>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </h:column>
                                    </h:dataTable>
                                        <hr/>
                                    </h:panelGroup>
                                    
                                    <h:panelGroup rendered="#{!empty AllenamentoBean.allenamento.fase3}">
                                    <span class="title-16px text-warning">  
                                        &nbsp; FASE CENTRALE - SITUAZIONALE &nbsp;</span>
                                    <h:dataTable  id="tab-es-all-inseritif3" styleClass="table table-striped table-margin" columnClasses="col-disegno-big"  value="#{AllenamentoBean.allenamento.fase3}" var="e" rendered="#{!empty AllenamentoBean.allenamento.fase3}">
                                        <h:column>
                                            <img id="imageid" class="img-rounded" style="width: 470px;" src="#{BaseBean.urlSchemaEs(e.esercizio)}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">  </f:facet>
                                            <div style="width: 99%; padding: 5px; page-break-inside: avoid;">
                                            <b><h:outputText value="#{e.esercizio.titolo}"/></b>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"> <div class="form-control div-form-control"><b>DURATA: </b> <h:outputText  value="#{e.esercizio.durata}"/></div> </div>
                                                <div class="col-xs-6"> <div class="form-control div-form-control"><b>PORTIERI: </b> <h:outputText  value="#{e.esercizio.portieri}"/></div></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-success">Tecnica di Difesa: </b> <h:outputText value="#{e.esercizio.obDifI}"/> </div></div>
                                                </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-warning">Tecnica di Attacco: </b>  <h:outputText value="#{e.esercizio.obAttI}"/></div></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-info">Cap. Coordinative: </b> <h:outputText value="#{e.esercizio.obCoord}"/> </div></div>
                                                </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-info">Cap. Condizionali: </b> <h:outputText value="#{e.esercizio.obCond}"/></div></div>
                                            </div>
<!--                                                <div class="row" style="padding-top: 10px;">
                                                    <div class="col-xs-12">
                                                        <b>CATEGORIE: </b>
                                                        <h:outputText value="- Tutti " rendered="#{e.esercizio.tutti}"/>
                                                        <h:outputText value="- Prima squadra " rendered="#{e.esercizio.primaSquadra}"/>
                                                        <h:outputText value="- Juniores " rendered="#{e.esercizio.juniores}"/>
                                                        <h:outputText value="- Allievi " rendered="#{e.esercizio.allievi}"/>
                                                        <h:outputText value="- Giovanissimi " rendered="#{e.esercizio.tutti}"/>
                                                        <h:outputText value="- Esordienti " rendered="#{e.esercizio.esordienti}"/>
                                                        <h:outputText value="- Pulcini " rendered="#{e.esercizio.pulcini}"/>
                                                        <h:outputText value="- Primi calci " rendered="#{e.esercizio.primiCalci}"/>
                                                        <h:outputText value="- Generale " rendered="#{e.esercizio.generale}"/>
                                                        <h:outputText value="- Pre-Allenamento " rendered="#{e.esercizio.preAllenamento}"/>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </h:column>
                                    </h:dataTable>
                                        <hr/>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{!empty AllenamentoBean.allenamento.fase4}">
                                    <span class="title-16px text-danger">  
                                        &nbsp; FASE FINALE - LAVORO CON SQUADRA/SCARICO &nbsp; </span>
                                    <h:dataTable  id="tab-es-all-inseritif4" styleClass="table table-striped table-margin" columnClasses="col-disegno-big"  value="#{AllenamentoBean.allenamento.fase4}" var="e" rendered="#{!empty AllenamentoBean.allenamento.fase4}">
                                        <h:column>
                                            <img id="imageid" class="img-rounded" style="width: 470px;" src="#{BaseBean.urlSchemaEs(e.esercizio)}" />
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">  </f:facet>
                                            <div style="width: 99%; padding: 5px; page-break-inside: avoid;">
                                            <b><h:outputText value="#{e.esercizio.titolo}"/></b>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-6"> <div class="form-control div-form-control"><b>DURATA: </b> <h:outputText  value="#{e.esercizio.durata}"/></div> </div>
                                                <div class="col-xs-6"> <div class="form-control div-form-control"><b>PORTIERI: </b> <h:outputText  value="#{e.esercizio.portieri}"/></div></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-success">Tecnica di Difesa: </b> <h:outputText value="#{e.esercizio.obDifI}"/> </div></div>
                                                </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-warning">Tecnica di Attacco: </b>  <h:outputText value="#{e.esercizio.obAttI}"/></div></div>
                                            </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-info">Cap. Coordinative: </b> <h:outputText value="#{e.esercizio.obCoord}"/> </div></div>
                                                </div>
                                            <div class="row" style="padding-top: 10px;"> 
                                                <div class="col-xs-12"><div class="form-control div-form-control"><b class="text-info">Cap. Condizionali: </b> <h:outputText value="#{e.esercizio.obCond}"/></div></div>
                                            </div>
<!--                                                <div class="row" style="padding-top: 10px;">
                                                    <div class="col-xs-12">
                                                        <b>CATEGORIE: </b>
                                                        <h:outputText value="- Tutti " rendered="#{e.esercizio.tutti}"/>
                                                        <h:outputText value="- Prima squadra " rendered="#{e.esercizio.primaSquadra}"/>
                                                        <h:outputText value="- Juniores " rendered="#{e.esercizio.juniores}"/>
                                                        <h:outputText value="- Allievi " rendered="#{e.esercizio.allievi}"/>
                                                        <h:outputText value="- Giovanissimi " rendered="#{e.esercizio.tutti}"/>
                                                        <h:outputText value="- Esordienti " rendered="#{e.esercizio.esordienti}"/>
                                                        <h:outputText value="- Pulcini " rendered="#{e.esercizio.pulcini}"/>
                                                        <h:outputText value="- Primi calci " rendered="#{e.esercizio.primiCalci}"/>
                                                        <h:outputText value="- Generale " rendered="#{e.esercizio.generale}"/>
                                                        <h:outputText value="- Pre-Allenamento " rendered="#{e.esercizio.preAllenamento}"/>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </h:column>
                                    </h:dataTable>
                                    </h:panelGroup>
                                
                        </h:panelGroup>

                        


                    </h:form>


                    <h:form rendered="#{AllenamentoBean.allenamento==null}">   

                        <br/>
                        <h:commandLink action="calendario.xhtml?faces-redirect=true" value="Torna al calendario" styleClass="btn btn-default" />

                    </h:form>
                    <!-- /.row -->

                    <br/> <br/>
                    
                </div>
                <!-- /.container-fluid -->

            </div>




    </body>

</html>
