<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Statistiche</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
       
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/data.js"></script>
        <script src="http://code.highcharts.com/modules/drilldown.js"></script>

    </h:head>

    <body>

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                    <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                        <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                    <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; <i class="fa fa-bar-chart-o"></i> Statistiche</a>     
                </div>
                <ui:include src="../include/menu-staff-top-right.xhtml"/> 
                <ui:include src="../include/menu-staff.xhtml"/> 
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-bar-chart-o"></i> Statistiche
                                </li>
                            </ol>
                    
                    <ui:include src="../include/messaggi.xhtml"/> 

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Partite Giocate</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="partiteGiocate" ></div>
                                    </div>
<!--                                    <div class="text-right">
                                        <a href="#"> Dettagli <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Vittorie</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="vittorie" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Pareggi</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="pareggi" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Sconfitte</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="sconfitte" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Gol fatti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="golfatti" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Gol subiti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="golsubiti" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Rigori fatti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="rigorifatti" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Rigori subiti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="rigorisubiti" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>    
                    
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Tiri in porta fatti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="tiriportafatti" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Tiri in porta subiti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="tiriportasubiti" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Tiri fuori fatti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="tirifuorifatti" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Tiri fuori subiti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="tirifuorisubiti" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Gol su azione fatti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="golazionefatti" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Gol su azione subiti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="golazionesubiti" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Gol su palle inattive fatti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="golpalleinattivefatti" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Gol su palle inattive subiti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="golpalleinattivesubiti" ></div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Punizioni a favore</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="punizionifavore" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Punizioni contro</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="punizionicontro" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Calci d'angolo a favore</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="calciangolofavore" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Calci d'angolo contro</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="calciangolocontro" ></div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Falli fatti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="fallifatti" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Falli subiti</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="fallisubiti" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Ammonizioni</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                         <div class="flot-chart-content" id="ammonizioni" ></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Espulsioni</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="espulsioni" ></div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>


                    
                    <!-- /.row -->
                    
                    <br/> <br/>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <script type="text/javascript">
                   
//                    var assex = [];   
//                    var assey = [];
//                    <ui:repeat value="#{DownloadSitoBean.statDateDownload.keySet().toArray()}" var="key">
//                    assex.push('#{key}');
//                    assey.push(parseInt('#{DownloadSitoBean.statDateDownload[key]}'));
//                    </ui:repeat> 
//                    creaGraficoBarre('#divgrafico', '', assex, assey);
                    
                    var assex = new Array('Partite giocate', 'Casa', 'Trasferta');
                    var assey = new Array(10, 5, 5);                    
                    creaGraficoBarre('#partiteGiocate', '', assex, assey);
                    
                    assex = new Array('Vittorie', 'Casa', 'Trasferta');   
                    assey = new Array(9, 5, 4);       
                    creaGraficoBarre('#vittorie', '', assex, assey);
                    
                    assex = new Array('Pareggi', 'Casa', 'Trasferta');   
                    assey = new Array(1, 0, 1);       
                    creaGraficoBarre('#pareggi', '', assex, assey);
                    
                    assex = new Array('Sconfitte', 'Casa', 'Trasferta');   
                    assey = new Array(0, 0, 0);       
                    creaGraficoBarre('#sconfitte', '', assex, assey);
                    
                    assex = new Array('Gol fatti', 'Casa', 'Trasferta');   
                    assey = new Array(10, 5, 5);       
                    creaGraficoBarre('#golfatti', '', assex, assey);
                    
                    assex = new Array('Gol subiti', 'Casa', 'Trasferta');   
                    assey = new Array(5, 2, 3);       
                    creaGraficoBarre('#golsubiti', '', assex, assey);
                    
                    assex = new Array('Rigori fatti', 'Casa', 'Trasferta');   
                    assey = new Array(3, 2, 1);       
                    creaGraficoBarre('#rigorifatti', '', assex, assey);
                    
                    assex = new Array('Rigori subiti', 'Casa', 'Trasferta');   
                    assey = new Array(3, 1, 2);       
                    creaGraficoBarre('#rigorisubiti', '', assex, assey);
                    
                    assex = new Array('Tiri in porta fatti', 'Casa', 'Trasferta');   
                    assey = new Array(9, 5, 4);       
                    creaGraficoBarre('#tiriportafatti', '', assex, assey);
                    
                    assex = new Array('Tiri in porta subiti', 'Casa', 'Trasferta');   
                    assey = new Array(3, 1, 2);       
                    creaGraficoBarre('#tiriportasubiti', '', assex, assey);
                    
                    assex = new Array('Tiri fuori fatti', 'Casa', 'Trasferta');   
                    assey = new Array(4, 2, 2);       
                    creaGraficoBarre('#tirifuorifatti', '', assex, assey);
                    
                    assex = new Array('Tiri fuori subiti', 'Casa', 'Trasferta');   
                    assey = new Array(8, 3, 5);       
                    creaGraficoBarre('#tirifuorisubiti', '', assex, assey);
                    
                    assex = new Array('Gol su azione fatti', 'Casa', 'Trasferta');   
                    assey = new Array(20, 12, 8);       
                    creaGraficoBarre('#golazionefatti', '', assex, assey);
                    
                    assex = new Array('Gol su azione subiti', 'Casa', 'Trasferta');   
                    assey = new Array(14, 7, 7);       
                    creaGraficoBarre('#golazionesubiti', '', assex, assey);
                    
                    assex = new Array('Gol su palle inattive fatti', 'Casa', 'Trasferta');   
                    assey = new Array(5, 2, 3);       
                    creaGraficoBarre('#golpalleinattivefatti', '', assex, assey);
                    
                    assex = new Array('Gol su palle inattive subiti', 'Casa', 'Trasferta');   
                    assey = new Array(5, 2, 3);            
                    creaGraficoBarre('#golpalleinattivesubiti', '', assex, assey);
                    
                    assex = new Array('Punizioni a favore', 'Casa', 'Trasferta');   
                    assey = new Array(5, 2, 3);            
                    creaGraficoBarre('#punizionifavore', '', assex, assey);
                    
                    assex = new Array('Punizioni contro', 'Casa', 'Trasferta');   
                    assey = new Array(5, 2, 3);            
                    creaGraficoBarre('#punizionicontro', '', assex, assey);
                    
                    assex = new Array('Calci d\'angolo a favore', 'Casa', 'Trasferta');   
                    assey = new Array(5, 2, 3);            
                    creaGraficoBarre('#calciangolofavore', '', assex, assey);
                    
                    assex = new Array('Calci d\'angolo contro', 'Casa', 'Trasferta');   
                    assey = new Array(5, 2, 3);            
                    creaGraficoBarre('#calciangolocontro', '', assex, assey);
                    
                    assex = new Array('Falli fatti', 'Casa', 'Trasferta');   
                    assey = new Array(5, 2, 3);            
                    creaGraficoBarre('#fallifatti', '', assex, assey);
                    
                    assex = new Array('Falli subiti', 'Casa', 'Trasferta');   
                    assey = new Array(5, 2, 3);            
                    creaGraficoBarre('#fallisubiti', '', assex, assey);
                    
                    assex = new Array('Ammonizioni', 'Casa', 'Trasferta');   
                    assey = new Array(5, 2, 3);            
                    creaGraficoBarre('#ammonizioni', '', assex, assey);
                    
                    assex = new Array('Espulsioni', 'Casa', 'Trasferta');   
                    assey = new Array(5, 2, 3);            
                    creaGraficoBarre('#espulsioni', '', assex, assey);
                    
                
                function creaGraficoBarre(div, title, assex, assey){      

                        $(function () {
                            $(div).highcharts({
                                chart: {
                                    type: 'column'
                                },
                                title: {
                                    text: title
                                },
                                xAxis: {
                                    categories: assex
                                },
                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: ''
                                    }
                                },
                                tooltip: {
                                    headerFormat: '<span style="color:{series.color};padding:0"> {point.key}</span><table>',
                                    pointFormat: '<tr><td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                                    footerFormat: '</table>',
                                    shared: true,
                                    useHTML: true
                                },
                                plotOptions: {
                                    column: {
                                        pointPadding: 0.2,
                                        borderWidth: 0
                                    }
                                },
                                series: [{
                                        showInLegend: false,
                                        name: title,
                                        data: assey

                                    }]
                            });
                        });
                    }
                
            </script>

    </body>

</html>
