<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// 
    www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" >
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>SOFTKEEPER - Statistiche Programma mese</title>

        <script src="http://code.jquery.com/jquery-latest.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>   

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Custom Fonts -->
        <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom CSS -->
        <link href="../css/style.css" rel="stylesheet"/>

        <script src="../js/bootstrap-datepicker.js"/>
        <link rel="stylesheet" type="text/css" href="../css/datepicker.css" media="screen" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        
        <script src="../js/bootstrap-select.min.js"/>    
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-select.min.css" media="screen" />
        
        <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="http://code.highcharts.com/modules/drilldown.js"></script>
    
     <script>
        
$(function() {

    var dati = [];         
    var stat = [  'Tecnica di Attacco', parseFloat('#{MesocicloBean.progMese.attacco}') ];
    dati.push(stat);   
    
    var stat = [  'Tecnica di Difesa', parseFloat('#{MesocicloBean.progMese.difesa}') ];
    dati.push(stat);
        
    var stat = [  'Cap. Coordinative', parseFloat('#{MesocicloBean.progMese.coordinativo}') ];
    dati.push(stat);   
    
    var stat = [  'Cap. Condizionali', parseFloat('#{MesocicloBean.progMese.condizionale}') ];
    dati.push(stat);   
    
    var stat = [  'Ob. Tattico', parseFloat('#{MesocicloBean.progMese.tattico}') ];
    dati.push(stat);  
    
        creaGrafico('#mese-donut', 'Programma', dati, '#CFA');
        
        
        dati = [];    
        <ui:repeat value="#{MesocicloBean.totAllMicro.mapTecnicaTot.entrySet().toArray()}" var="e">
            var stat = [  '#{e.key}', parseFloat('#{e.value}') ];
            dati.push(stat);     
        </ui:repeat>
        creaGrafico('#risultati-mese-donut', 'Consuntivo Allenamenti', dati, null);
        
        dati = [];
        if(#{MesocicloBean.settimana1!=null}){
            <ui:repeat value="#{MesocicloBean.allSett1Micro.mapTecnicaTot.entrySet().toArray()}" var="e">
                var stat = [  '#{e.key}', parseFloat('#{e.value}') ];
                dati.push(stat);     
            </ui:repeat>
            creaGrafico('#settimana1-donut', '#{MesocicloBean.settimana1}', dati, null);
        }
        
        if(#{MesocicloBean.settimana2!=null}){
            <ui:repeat value="#{MesocicloBean.allSett2Micro.mapTecnicaTot.entrySet().toArray()}" var="e">
                var stat = [  '#{e.key}', parseFloat('#{e.value}') ];
                dati.push(stat);     
            </ui:repeat>
            creaGrafico('#settimana2-donut', '#{MesocicloBean.settimana2}', dati, null);
        }
        if(#{MesocicloBean.settimana3!=null}){
            <ui:repeat value="#{MesocicloBean.allSett3Micro.mapTecnicaTot.entrySet().toArray()}" var="e">
                var stat = [  '#{e.key}', parseFloat('#{e.value}') ];
                dati.push(stat);     
            </ui:repeat>
            creaGrafico('#settimana3-donut', '#{MesocicloBean.settimana3}', dati, null);
        }
        if(#{MesocicloBean.settimana4!=null}){
            <ui:repeat value="#{MesocicloBean.allSett4Micro.mapTecnicaTot.entrySet().toArray()}" var="e">
                var stat = [  '#{e.key}', parseFloat('#{e.value}') ];
                dati.push(stat);     
            </ui:repeat>
            creaGrafico('#settimana4-donut', '#{MesocicloBean.settimana4}', dati, null);
        }
        if(#{MesocicloBean.settimana5!=null}){
            <ui:repeat value="#{MesocicloBean.allSett5Micro.mapTecnicaTot.entrySet().toArray()}" var="e">
                var stat = [  '#{e.key}', parseFloat('#{e.value}') ];
                dati.push(stat);     
            </ui:repeat>
            creaGrafico('#settimana5-donut', '#{MesocicloBean.settimana5}', dati, null);
        }                    
                                   
                           
                            function creaGrafico(div, title ,datiGrafico, background){  
                                
                                $(function () {
                                    $(div).highcharts({
                                        chart: {
                                            plotBackgroundColor: background,
                                            plotBorderWidth: null,
                                            plotShadow: false
                                        },
                                        title: {
                                            text: title
                                        },
                                        tooltip: {
                                            pointFormat: '{series.name}: \n\
                                                   <b>{point.percentage:.1f}%</b> ({point.y}) '
                                        },
                                        plotOptions: {
                                            pie: {
                                                allowPointSelect: true,
                                                cursor: 'pointer',
                                                startAngle: 270,
                                                dataLabels: {
                                                    enabled: true,
                                                    color: '#000000',
                                                    connectorColor: '#000000',
                                                    format: '<b>{point.name}</b>:  {point.percentage:.1f} %'
                                                }
                                            }
                                        },
                                        series:  [{
                                                type: 'pie',
                                                name: 'Percentuale',
                                                data: datiGrafico
                                            }] 
                                    });
                                });          
                            }
                            
                        });
                        
                        
                        
     </script>

    </h:head>

    <f:metadata>
        <f:viewParam id="mese" name="mese" value="#{MesocicloBean.mese}" />
        <f:viewParam id="anno" name="anno" value="#{MesocicloBean.anno}" />
        <f:event type="preRenderView" listener="#{MesocicloBean.initVisualizzaMeseMesociclo()}"/>
    </f:metadata>

    <body>

        <div id="wrapper">

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
<!--                    <h:link class="brand" style="float: left;" outcome="/staff/index.xhtml" > 
                        <img class="nav-logo-img" src="../images/logo.png"/> </h:link>-->
                    <a class="navbar-brand" ><span class="navbar-brand-title">SOFTKEEPER</span> &nbsp;
                    <i class="fa fa-angle-right"></i> &nbsp; <i class="fa fa-bar-chart-o"></i> Statistiche programma mese</a>                   
                </div>
                <ui:include src="../include/menu-staff-top-right.xhtml"/> 
                <ui:include src="../include/menu-staff.xhtml"/> 
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-cogs"></i>  <a href="programma.xhtml">Programma</a>
                        </li>
                        <li class="active">
                            <h:link rendered="#{MesocicloBean.progMese!=null}" outcome="statistiche-prog-mese.xhtml?faces-redirect=true">
                                <i class="fa fa-bar-chart-o"></i>  Statistiche programma mese
                                <f:param name="mese"  value="#{MesocicloBean.progMese.mese}"/>
                                <f:param name="anno"  value="#{MesocicloBean.progMese.anno}"/>
                            </h:link>                           
                        </li>
                        <li>
                            <i class="fa fa-bar-chart-o"></i> consuntivo allenamenti microcategorie
                        </li>
                    </ol>
                    
                    <ui:include src="../include/messaggi.xhtml"/> 

                    <h:form id="main-form">     
                                              
                        <script>
                            jQuery(function() {
                               jQuery('.selectpicker').selectpicker({size: false});
                            });
                        </script>       
                        
                        <h:panelGroup rendered="#{MesocicloBean.progMese==null}">    
                                <br/>
                        
                            </h:panelGroup>
                        <h:panelGroup id="panelgiorni" rendered="#{MesocicloBean.progMese!=null}">
                            
                            <h3> <h:outputText value="#{MesocicloBean.progMese.data}">
                                            <f:convertDateTime pattern="MMMMMMMMMMMMMMMM yyyy" locale="IT" timeZone="CET"/>
                                            </h:outputText> - microcategorie</h3>
                            
                            <div class="row">
                                <div class="col-lg-12">                                    
                                    <hr style="margin: 0px; padding: 0px;"/>
                                    <div id="risultati-mese-donut" class="donut-div"></div>
                                </div>
                            </div>
                            
                            <hr/> 
                           

                            <h4 class="text-info"> Dettagli Allenamenti settimanali</h4>

                            <h:panelGroup rendered="#{!empty MesocicloBean.allSett1Micro.mapTecnicaTot}">
                                <div class="col-md-6 well">
                                    <hr style="margin: 0px; padding: 0px;"/>
                                    <div id="settimana1-donut" class="donut-div"></div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{!empty MesocicloBean.allSett2Micro.mapTecnicaTot}">                        
                                <div class="col-md-6 well">    
                                    <hr style="margin: 0px; padding: 0px;"/>
                                    <div id="settimana2-donut" class="donut-div"></div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{!empty MesocicloBean.allSett3Micro.mapTecnicaTot}"> 
                                <div class="col-md-6 well">
                                    <hr style="margin: 0px; padding: 0px;"/>
                                    <div id="settimana3-donut" class="donut-div"></div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{!empty MesocicloBean.allSett4Micro.mapTecnicaTot}">                        
                                <div class="col-md-6 well">                                    
                                    <hr style="margin: 0px; padding: 0px;"/>
                                    <div id="settimana4-donut" class="donut-div"></div>
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{MesocicloBean.settimana5!=null and !empty MesocicloBean.allSett5Micro.mapTecnicaTot}">                            
                                <div class="col-md-6 well">
                                    <hr style="margin: 0px; padding: 0px;"/>
                                    <div id="settimana5-donut" class="donut-div"></div>
                                </div>
                            </h:panelGroup>


                        </h:panelGroup>

                    </h:form>

                    <!-- /.row -->

                    <br/> <br/>
                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->



    </body>

</html>
