/* CSS Document */

/*          -------------   Common section   ------------       */

body{
	font-size:80%; 
	line-height:150%; 
	margin:0em 3em 0em 0em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

table{
	font-size: 100%;
	line-height:150%;
}

td{
	padding-left:0.5em;
}

h1{
	font-size: 200%;
	font-family: Cambria, "Franklin Gothic Book",Arial,Helvetica,sans-serif;
	padding-bottom: 0.1em;
	padding-left: 0.7em;
	margin-bottom: 0.6em;
	margin-top: 0.2em;
	color: #900c06;
}

h2{
	font-family: Cambria, "Franklin Gothic Book",Arial,Helvetica,sans-serif;
	font-size: 140%;
	width: 50%;
	padding-top: 0.5em;
	padding-bottom: 0px;
	margin-bottom: -0.5em;
	color: #d96700;
}

h3{
	font-size: 110%;
	padding-bottom: 0px;
	margin-bottom: -0.8em;
	color: #244061;
}

h6{
	color: #244061;
	font-size: 100%;
	padding-bottom: 0px;
	margin-bottom: -0.8em;
	font-style: italic;
	font-weight: bold;
}

a, a:visited {
	border-bottom: dotted 1px #1156B9; 
	text-decoration: none; 
	color: #1156B9;
	}

a:hover {
	border-bottom: none;  
	text-decoration: underline; 
	color: #1156B9;
}

p{
	padding-left:0.1em;
}

img{
	margin-left: 3em;
}

#logo{
	position: absolute;
	top: 17px;
	right: 36px;
	width: 161px;
	height: 25px;
	color: #9f9f9f;
	font-size: 9px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-align: right;
}
#logo a{
	border: none;
}

#logo img{
	margin: 0px;
}

.external_link{
	background: url(../images/external.gif) no-repeat top right;
	padding-right: 0.5em;
}

.copyright{
	font-size: 85%;
	padding-left: 3em;
	color: #6b6b6b;
}

.copyright a{
	text-decoration: underline;
	border-bottom: none;
	color: #6b6b6b;
}

/*          -------------   Syntaxis   ------------       */

.tag{
	font-family:"Courier New", Courier, monospace;
	font-weight:bold;
	color: #0000aa;
}

.attribute{
	font-family:"Courier New", Courier, monospace;
	color: #0000aa;
}

.code_area{
	font-family:"Courier New", Courier, monospace;
	background:#FBFBF9;
	color: #0000ff;
	margin-left: 3em;
	display: block;
	border-left: 3px solid #004A95;
 	border-top: 1px solid  #004A95;
	padding: 0.5em 1em 0.7em 1em;
	font-size: 95%;
}
.code_area_values{
	color: #006600;
}

/*          -------------   Table of contents   ------------       */

.contents{
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0.7em;
	padding-left: 2em;
	font-size: 85%;
	line-height: 110%;
}

.contents li{
	padding: 6px 0 6px 0;
	margin-left: 0x;
}


.contents ul{
	list-style:none;
}

.contents ul ul li{
	padding-top: 0.5em;
	margin-left: 0;
	list-style: disc;
}

.contents ul ul {
	margin-left: 0;
	padding-left: 2em;
}


.contents a{
	border-bottom: none !important;
	display: block;
	padding: 0px 0px 0px 0em;
	margin: 0px;
	color: #1156b9 !important;
}

.index{
	margin-left:-30px;
}

.components_links{
	padding-top: 0em;
	font-size: 85%;
	line-height: 110%;
	padding: 2em 0em 2em 1em;
        border-top: 1px solid #c1c1c2;
}

.components_links a{
	border-bottom: none !important;
	display: block;
	padding: 0px 0px 0px 2em;
	margin: 0px;
	background: none;
	color: #0f4a9f !important;
}

.components_links ul{
	color: #0f4a9f !important;
    margin-left:.75em;
}

.components_links ul li a{
	margin-left: -1.5em;
}

.components_links a:hover{
	background:url(../images/anchor.gif) no-repeat 10px 2px;
}


/*          -------------   Bubbles   ------------       */

.bubble{
	display: block;
	line-height: normal;
	width: 75%;
	margin-top: 0px;
	font-size: 90%;
	line-height: 150%;
	border: 1px solid #FFCC99;
	padding: 1.7em 2em 1.7em 2em;
	margin-left: 3em;
}

.note{
	background: #fffdf1;
}

.tip{
	background: #f4f9ff;
}

.warning{
	background: #fff4f1;
}

/*          -------------   Tables   ------------       */

.attrib_table{
	border-collapse: collapse;
	text-align: left;
	vertical-align: top;
	font-size: 95%;
	line-height: 150%;
	margin: 1em 0em 0.5em 3em;
}

.attrib_table th{
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: #d3d7dc;
	padding-left: 0.5em;
}

.attrib_table td{
	border-bottom: 1px solid #CCCCCC;
	vertical-align: top;
 	padding-left: 0.5em;
}

.alternate{
	padding-top: 1em;
}

.attrib_table img{
	margin-left: 0;
}
