<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <ui:composition>
        
        <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> #{LoginBean.utente.nome} #{LoginBean.utente.cognome} 
                         <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="profilo.xhtml"><i class="fa fa-fw fa-user"></i> Profilo</a></li>
                        <li class="divider"></li>
                        <li>
                            <h:form><h:commandLink action="#{LoginBean.logout()}" class="dropdown-menu-link"><i class="fa fa-fw fa-power-off"></i> Log Out</h:commandLink></h:form>
                        </li>
                    </ul>
                </li>
            </ul>      
        
    </ui:composition>    
</html>
