<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition>
        
        <div class="alert #{facesContext.maximumSeverity.ordinal==0 ? 'alert-success' : 'alert-danger'} alert-dismissable #{! empty facesContext.messageList ? 'messaggi' : 'messaggi_hidden'}" >
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h:messages styleClass="messaggi"/>
        </div>
        
    </ui:composition>
</html>