<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <ui:composition>
        
        <!-- Navigation -->
        <nav class="navbar navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
<!--                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                <h:link class="brand" style="float: left;" outcome="/protected/index.xhtml" > 
                    <img class="nav-logo-img" src="../images/logo.png"/> 
                </h:link>
                <a class="navbar-brand" >
                    SOFTKEEPER</a>
                
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> #{LoginBean.utente.nome} #{LoginBean.utente.cognome} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <h:form>
                                <h:commandLink action="#{LoginBean.logout()}" class="dropdown-menu-link"><i class="fa fa-fw fa-power-off"></i> Log Out</h:commandLink>
                            </h:form>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="#{view.viewId.contains('index.xhtml') ? 'nav-active' : '' }">
                        <h:link styleClass="btn-nav" outcome="/protected/index.xhtml"><i class="fa fa-fw fa-dashboard"></i> Home</h:link>
                    </li>
                    <li class="#{view.viewId.contains('utenti.xhtml') ? 'nav-active' : '' }">
                        <h:link styleClass="btn-nav" outcome="/protected/utenti.xhtml"><i class="fa fa-fw fa-users"></i> Utenti</h:link>
                    </li>
<!--                    <li class="#{view.viewId.contains('societa.xhtml') ? 'nav-active' : '' }">
                        <h:link styleClass="btn-nav" outcome="/protected/societa.xhtml"><i class="fa fa-fw fa-briefcase"></i> Societ&agrave;</h:link>
                    </li>                    -->
                    
<!--                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>-->                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
                
    </ui:composition>    
</html>
