/* Javadoc style sheet */

/*
 * <license>
 * Copyright (c) 2003-2004, Sun Microsystems, Inc.
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without 
 * modification, are permitted provided that the following conditions are met:
 * 
 *     * Redistributions of source code must retain the above copyright 
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright 
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of Sun Microsystems, Inc. nor the names of its 
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS 
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
 * TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A 
 * PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
 * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, 
 * ROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
 * PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 * LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 * NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 * </license>
 */

/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body { 
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	line-height: 150%;
}

a:link{
	color: #1156B9;
}

a:visited{
	color: #7a3290;
}

table{
	border-collapse: collapse;
	width: 100%;
	font-size: 100%;
	border-color: #999999;
}

td{
	padding: 0.3em 0.3em 0.3em 0.3em;
	margin: 0;
}

hr{
	border-collapse: collapse;
	
}

h2 {
	font-size: 200%;
	font-family: "Franklin Gothic Book",Arial,Helvetica,sans-serif;
	color: #900c06;
}

pre, code{
	font-size: 110%;
}

font b{
	font-size: 14px;
}

a b{
	font-size: 90%;
}

small i{
	color:#999999;
	font-size: 90%;
	line-height:normal;
}

h2 font{
	display: block;
	margin-bottom: -1em;
}

/* Table colors */
.TableHeadingColor     { background: #d3d7dc; font-weight: bold; font-size: 50%; } /* Dark mauve */
.TableSubHeadingColor  { background: #CCCCCC; } /* Light mauve */
.TableRowColor         { background: #FFFFFF } /* White */

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 10pts;}
.FrameHeadingFont { font-size: 10pts; font-family: Verdana, Arial, Helvetica, sans-serif }
.FrameItemFont    { font-size: 10pts; font-family: Verdana, Arial, Helvetica, sans-serif }

/* Example of smaller, sans-serif font in frames */
/* .FrameItemFont  { font-size: 10pt; font-family: Helvetica, Arial, sans-serif } */

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color: #EEEEEE;}/* Light mauve */
.NavBarCell1Rev { background-color: #666666;}/* Dark Blue */
.NavBarFont1    { font-family: Verdana, Arial, Helvetica, sans-serif; color:#000000; }

.NavBarFont1 a { text-decoration:none;}
.NavBarFont1Rev { font-family: Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight: bold; font-size: 90%;}

.NavBarCell2    { font-family: Verdana, Arial, Helvetica, sans-serif; background-color:#FFFFFF;}
.NavBarCell3    { font-family: Verdana, Arial, Helvetica, sans-serif; background-color:#FFFFFF;}

